Repository nim-works/nimskull, pull requests merged in 2022-11, with the labels that each got.

#472 test directory organization
  tests/lang_defs/proc/tfunc_type.nim
  tests/lang_defs/proc/tillegalreturntype.nim
  tests/lang_defs/proc/tlambdapragma.nim
  tests/lang_defs/proc/tproc.nim
  tests/lang_defs/proc/tproc_multi_optional_param.nim
  tests/lang_defs/proc/tproc_untyped_arg.nim
  tests/lang_defs/proc/tprocredef.nim
  tests/lang_defs/proc/typed.nim
  tests/lang_defs/proc/untyped.nim
  tests/lang_experimental/trmacros/tdisallowif.nim
  tests/lang_experimental/trmacros/tor.nim
  tests/lang_experimental/trmacros/trmacros_various.nim
  tests/lang_experimental/trmacros/trmacros_various2.nim
  tests/lang_experimental/trmacros/tstmtlist.nim
  tests/lang_exprs/texprstmt.nim
  tests/lang_exprs/thighCString.nim
  tests/lang_exprs/tifexpr_typeinference.nim
  tests/lang_exprs/tresultwarning.nim
  tests/lang_exprs/tstmtexp.nim
  tests/lang_exprs/tstmtexprs.nim
  tests/lang_stmts/for_stmt/tforloop_tuple_multiple_underscore.nim
  tests/lang_stmts/for_stmt/tforloop_tuple_underscore.nim
  tests/lang_stmts/for_stmt/tforloop_underscore.nim
Labels: refactor, test

#477 move 'collections' category to stdlib
  tests/stdlib/types/collections/tcollections.nim
  tests/stdlib/types/collections/tcollections_to_string.nim
  tests/stdlib/types/collections/thashsets.nim
  tests/stdlib/types/collections/tseq.nim
  tests/stdlib/types/collections/ttables.nim
  tests/stdlib/types/collections/ttablesthreads.nim
Labels: test

#481 move discard, let, rationals to stmts/stdlib categories
  .gitignore
  tests/lang/s02_core/s02_procedures/t01_regular_procs_operators.nim.bin
  tests/lang_stmts/discard/tdiscardable.nim
  tests/lang_stmts/discard/tillegaldiscard.nim
  tests/lang_stmts/discard/tneedsdiscard.nim
  tests/lang_stmts/discard/tneedsdiscard_in_for.nim
  tests/lang_stmts/discard/tvoidcontext.nim
  tests/lang_stmts/let/timportc.nim
  tests/lang_stmts/let/timportc2.nim
  tests/lang_stmts/let/tlet.nim
  tests/lang_stmts/let/tlet2.nim
  tests/stdlib/types/rational/trat_float.nim
  tests/stdlib/types/rational/trat_init.nim
Labels: refactor, test

#482 test directory cleanup
  tests/lang_callable/namedparams/tnamedparams.nim
  tests/lang_callable/namedparams/tnamedparams2.nim
  tests/lang_callable/namedparams/tnamedparams3.nim
  tests/lang_types/tuples/tfortupleunpack.nim
  tests/lang_types/tuples/tinferred_generic_const.nim
  tests/lang_types/tuples/ttuple_reassignment.nim
  tests/lang_types/tuples/ttuple_recursive_ref.nim
  tests/lang_types/tuples/ttuple_uint_high.nim
  tests/lang_types/tuples/ttuples_issues.nim
  tests/lang_types/tuples/ttuples_various.nim
  tests/lang_types/tuples/ttypedesc_in_tuple_a.nim
  tests/lang_types/tuples/ttypedesc_in_tuple_b.nim
  tests/lang_types/tuples/tunpack_with_pragma_disallowed_const.nim
  tests/lang_types/tuples/tunpack_with_pragma_disallowed_let.nim
  tests/lang_types/tuples/tunpack_with_pragma_disallowed_var.nim
  tests/lang_types/tuples/tuple_with_nil.nim
  tests/lang_types/tuples/twrongtupleaccess.nim
Labels: refactor, test

#485 vm: remove `errorFlag`
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmdeps.nim
  compiler/vm/vmgen.nim
  lib/core/macros.nim
Labels: refactor, compiler, compiler/vm
