Repository nim-works/nimskull, pull requests merged in 2022-12, with the labels that each got.

#487 semexprs: improve `semYieldVarResult`
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/sem/semexprs.nim
  tests/errmsgs/tyield_view_tuple.nim
Labels: refactor, compiler/sem, compiler/report

#492 compiler: add the `nkNimNodeLit` node kind
  compiler/ast/ast_types.nim
  compiler/ast/renderer.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/sem/semmagic.nim
  compiler/sem/transf.nim
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmcompilerserdes.nim
  compiler/vm/vmgen.nim
  lib/core/macros.nim
Labels: refactor, compiler/sem, compiler/vm

#491 vm: decouple the execution loop from `vmjit`
  compiler/vm/vm.nim
Labels: refactor, compiler/vm

#494 macros: remove the experimental dynamic `bindSym`
  compiler/front/in_options.nim
  compiler/sem/semdata.nim
  compiler/sem/semmagic.nim
  compiler/sem/sempass2.nim
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmgen.nim
  doc/manual.rst
  doc/manual_experimental.rst
  tests/lang_callable/macros/tbindsym.nim
Labels: compiler/sem, compiler/vm

#495 vm: move the compiler interface into a separate module
  compiler/ast/ast_query.nim
  compiler/front/main.nim
  compiler/front/scriptconfig.nim
  compiler/sem/sem.nim
  compiler/sem/semstmts.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/nimeval.nim
  compiler/vm/vm.nim
  compiler/vm/vmrunner.nim
  tests/compilerapi/tcompilerapi.nim
Labels: refactor, compiler, compiler/vm

#497 tests: disable the `realtimeGC` test
  tests/realtimeGC/tmain.nim
Labels: test

#496 vm: clean up the external interface
  compiler/vm/compilerbridge.nim
  compiler/vm/vm.nim
  compiler/vm/vmrunner.nim
Labels: refactor, compiler/vm

#488 compiler: improve `for`-loop tuple unpacking
  compiler/sem/semstmts.nim
  compiler/sem/transf.nim
  tests/errmsgs/t17460.nim
  tests/lang_stmts/for_stmt/tforloop_tuple_unpacking.nim
  tests/lang_stmts/for_stmt/tforloop_unpacking_bug.nim
Labels: refactor, compiler, compiler/sem

#499 update the project roadmap diagram
  doc/fixup_roadmap.png
Labels: documentation

#500 remove experimental implicit deref
  compiler/front/options.nim
  compiler/sem/semcall.nim
  compiler/sem/semexprs.nim
  doc/manual.rst
  doc/manual_experimental.rst
  tests/arc/tmovebug.nim
  tests/arc/tmovebugcopy.nim
  tests/implicit/timplicit.nim
Labels: refactor, compiler, compiler/sem

#502 semexprs: refactor 'var' parameter argument fixup
  compiler/ast/ast_query.nim
  compiler/sem/semdata.nim
  compiler/sem/semexprs.nim
  compiler/sem/semmagic.nim
  compiler/sem/sigmatch.nim
Labels: refactor, compiler, compiler/sem

#503 jsgen: fix multiple `var` argument and `addr` issues
  compiler/backend/jsgen.nim
  tests/lang_types/var/tvar_arguments.nim
  tests/misc/taddr.nim
Labels: refactor, test, compiler/backend

#498 sem/transf: don't collapse implict addr/deref nodes
  compiler/backend/ccgexprs.nim
  compiler/sem/semexprs.nim
  compiler/sem/transf.nim
  tests/lang_types/var/tvar_arguments.nim
Labels: refactor, compiler, compiler/sem, compiler/backend

#484 Internal remove VM legacy reports
  compiler/ast/report_enums.nim
  compiler/ast/reports_debug.nim
  compiler/ast/types.nim
  compiler/front/cli_reporter.nim
  compiler/front/options.nim
  compiler/front/scriptconfig.nim
  compiler/modules/modulegraphs.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/nimeval.nim
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmcompilerserdes.nim
  compiler/vm/vmconv.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmerrors.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmlegacy.nim
  compiler/vm/vmmemory.nim
  compiler/vm/vmops.nim
  compiler/vm/vmrunner.nim
  compiler/vm/vmutils.nim
Labels: refactor, compiler, compiler/report, compiler/vm

#504 generic graph data structure implementation
  lib/experimental/graph.nim
  tests/stdlib/algorithm/tgraph.nim
Labels: enhancement, stdlib

#507 Add experimental libs to main library list
  doc/lib.rst
Labels: documentation, enhancement, stdlib
