Repository nim-works/nimskull, pull requests merged in 2023-10, with the labels that each got.

#934 internal: fix the meaning of up/down conversion
  compiler/ast/types.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/cgirgen.nim
  compiler/backend/cgmeth.nim
  compiler/backend/jsgen.nim
  compiler/sem/closureiters.nim
  compiler/sem/semmagic.nim
  compiler/sem/sempass2.nim
Labels: compiler/sem, compiler/backend

#933 fix(sem): crash due to ill-formed `if` AST
  compiler/sem/semstmts.nim
  tests/lang_callable/macros/tif_ill_formed.nim
Labels: bug, compiler/sem

#935 mir: add a dedicated handle conversion operation
  compiler/backend/cgirgen.nim
  compiler/mir/analysis.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
  compiler/sem/aliasanalysis.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/transf.nim
  doc/mir.rst
Labels: refactor, compiler

#929 fix(sem): crash on unmatched `immediate` routines
  compiler/sem/evaltempl.nim
  compiler/sem/semgnrc.nim
  tests/lang_callable/overload/timmediate_meta_routine_mismatch.nim
Labels: bug, compiler/sem

#940 codegen: don't use `PSym` for labels
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/cgendata.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/cgirutils.nim
  compiler/backend/jsgen.nim
  compiler/vm/vmgen.nim
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_refcursors.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
Labels: refactor, compiler/backend

#939 fix(sem): `nimsuggest` crashing for ill-formed AST
  compiler/front/msgs.nim
  compiler/sem/semdata.nim
  nimsuggest/tests/terror_handling.nim
Labels: bug, compiler/sem, compiler/msgs

#932 `semFor` propagate iterator position error nodes
  compiler/ast/ast_types.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/semstmts.nim
  tests/lang_stmts/for_stmt/tfor_ill_formed.nim
Labels: refactor, compiler/sem

#941 msgs: prevent downgrading of error handling
  compiler/front/msgs.nim
  compiler/sem/semdata.nim
Labels: bug, compiler/sem, simplification

#943 refactor(mir): use proper operand queries
  compiler/mir/analysis.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
  compiler/sem/injectdestructors.nim
Labels: refactor, compiler/backend

#945 internal: reduce surface area of fatal reports
  compiler/ast/renderer.nim
  compiler/ast/report_enums.nim
  compiler/ast/types.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/modules/magicsys.nim
  compiler/sem/semdata.nim
Labels: refactor, compiler/msgs, simplification

#948 msgs: more decision making in handleReport
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/front/options.nim
  compiler/front/sexp_reporter.nim
  nimsuggest/tests/tchk1.nim
  tests/misc/twarning_as_error_regression.nim
Labels: bug, compiler/msgs

#950 fix(unittest): check not capturing operands
  lib/pure/unittest.nim
  tests/stdlib/metaprogramming/tunittest_impure.nim
Labels: bug, stdlib

#947 vm: convert `slurp` and `staticRead` to vmops
  compiler/ast/ast_query.nim
  compiler/ast/ast_types.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/jsgen.nim
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmops.nim
  lib/system.nim
  tests/vm/tslurp.nim
Labels: refactor, compiler/vm

#951 CI: use strict mode for compiling
  .github/workflows/ci.yml
  config/nim.cfg
  tools/koch/koch.nim
Labels: ci

#944 fix(suggest): file level cmds don't leak internal syms
  compiler/front/options.nim
  compiler/sem/sem.nim
  nimsuggest/tests/toutline_generic.nim
Labels: bug, compiler/sem, tool

#954 cgirgen: fix translation of `def`s
  compiler/backend/cgirgen.nim
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
Labels: refactor, compiler/backend

#955 fix(sem): crash on errors in deref expressions
  compiler/sem/semexprs.nim
  tests/errmsgs/tnested_errors.nim
Labels: bug, compiler/sem

#956 injectdestructors: remove obsolete processing
  compiler/sem/injectdestructors.nim
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/lang_objects/destructor/tv2_cast.nim
Labels: compiler/backend, simplification

#960 stdlib: simplify the `genEnumCaseStmt` macro
  compiler/vm/compilerbridge.nim
  lib/std/enumutils.nim
Labels: stdlib, simplification

#961 fix(sigmatch): AST corruption of bracket calls
  compiler/sem/sigmatch.nim
  tests/lang_callable/overload/tbracket_call_corruption.nim
Labels: bug, compiler/sem

#962 stdlib: clean up `coloredResult`
  lib/experimental/colortext.nim
  tests/stdlib/algorithm/tcolortext.nim
Labels: refactor, stdlib

#963 refactor(lookups): simpler identifier error handling
  compiler/sem/lookups.nim
Labels: compiler/sem, simplification

#964 cgir: split up `cnkBracketAccess`
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/cgirutils.nim
  compiler/backend/compat.nim
  compiler/backend/jsgen.nim
  compiler/vm/vmgen.nim
  tests/arc/topt_no_cursor.nim
Labels: refactor, compiler/backend

#957 refactor(sem): clean up `hasUnresolvedParams`
  compiler/sem/semexprs.nim
  compiler/sem/semstmts.nim
Labels: compiler/sem, simplification

#965 render generic parameters for proc types
  compiler/ast/ast_types.nim
  compiler/ast/typesrenderer.nim
  tests/errmsgs/t5167_4.nim
  tests/errmsgs/tsigmatch.nim
Labels: compiler

#966 refactor(sem): remove `fixupTypeAfterEval`
  compiler/sem/semexprs.nim
Labels: compiler/sem, simplification

#967 add a warning for conversions in `in` calls
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/sem/semmagic.nim
  tests/magics/tin_op_warning.nim
Labels: enhancement, compiler/sem

#968 internal: remove the double-meaning of `mMove`
  compiler/ast/ast_types.nim
  compiler/backend/ccgexprs.nim
  compiler/mir/mirgen.nim
  compiler/sem/liftdestructors.nim
Labels: refactor, compiler/backend

#887 suggest: refactor `Suggest` stringify procedure
  compiler/front/options.nim
  compiler/tools/suggest.nim
  nimsuggest/nimsuggest.nim
Labels: refactor, tool

#959 fix(sem): named param errors no longer crash
  compiler/front/cli_reporter.nim
  compiler/sem/semcall.nim
  tests/lang_callable/namedparams/tnamedparams_error_handling.nim
Labels: bug, compiler/sem

#974 fix(sem): detect illegal implicit to-float conversions
  compiler/sem/semfold.nim
  tests/misc/tconv.nim
Labels: bug, compiler/sem

#953 fix(suggest): project parents non-project modules
  compiler/modules/modulegraphs.nim
  compiler/tools/suggest.nim
  nimsuggest/tests/tisolated.nim
Labels: bug, compiler/sem

#958 suggest: display name include generic parameters
  compiler/front/options.nim
  compiler/tools/suggest.nim
Labels: enhancement, refactor, tool

#973 fix the `ConversionConv` warnings
  compiler/ast/reports.nim
  compiler/sem/semtypes.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmobjects.nim
  config/nim.cfg
  lib/impure/db_sqlite.nim
  lib/pure/httpcore.nim
  lib/pure/os.nim
  lib/pure/osproc.nim
  lib/std/sysrand.nim
  tests/lang_syntax/parser/tstmtlists.nim
Labels: refactor, test, compiler, stdlib

#975 Fix grammar nanny and the grammar generator
  compiler/ast/parser.nim
  doc/grammar.txt
  tools/grammar_nanny.nim
Labels: documentation, tool

#970 suggest: only `outline` current file symbols
  compiler/tools/suggest.nim
  nimsuggest/tests/tinclude.nim
Labels: refactor, compiler, tool

#977 Reduce TNode size by removing unused node flags
  compiler/ast/ast_query.nim
  compiler/ast/ast_types.nim
Labels: compiler, simplification

#976 fix(sigmatch): built-in type-class constraint issue
  compiler/sem/sigmatch.nim
  tests/lang_types/typeclass/ttypeclass_multi_use.nim
Labels: bug, compiler/sem

#978 fix(sem): generic parameters not being resolved
  compiler/sem/seminst.nim
  tests/lang_callable/generics/tforwardgeneric.nim
Labels: bug, compiler/sem

#969 Generally allow bracket with colon for explicit generic params
  compiler/ast/parser.nim
  doc/grammar.txt
  tests/lang_syntax/parser/texplicit_generic_params.nim
Labels: compiler/lex-parse, language-design

#983 Fix wrapError crash in semobjconstr
  compiler/ast/ast_types.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/semobjconstr.nim
Labels: compiler/sem

#984 testament: don't error on directories without tests
  testament/categories.nim
Labels: test, tool

#988 Fix invalid spec in test
  tests/lang_defs/enum/tstored_as_unsigned.nim
Labels: test

#989 Remove float128
  compiler/ast/ast.nim
  compiler/ast/ast_parsed_types.nim
  compiler/ast/ast_query.nim
  compiler/ast/ast_types.nim
  compiler/ast/lexer.nim
  compiler/ast/parser.nim
  compiler/ast/renderer.nim
  compiler/ast/types.nim
  compiler/ast/typesrenderer.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/cgirgen.nim
  compiler/backend/jsgen.nim
  compiler/front/condsyms.nim
  compiler/front/sexp_reporter.nim
  compiler/ic/dce.nim
  compiler/ic/ic.nim
  compiler/ic/integrity.nim
  compiler/modules/magicsys.nim
  compiler/sem/dfa.nim
  compiler/sem/semexprs.nim
  compiler/sem/semfold.nim
  compiler/sem/sempass2.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtypes.nim
  compiler/sem/sigmatch.nim
  compiler/sem/transf.nim
  compiler/sem/typeallowed.nim
  compiler/tools/docgen.nim
  compiler/utils/astrepr.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/packed_env.nim
  compiler/vm/vm.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmdeps.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmtypegen.nim
  lib/core/macros.nim
  lib/core/typeinfo.nim
  lib/nimbase.h
  lib/pure/marshal.nim
  lib/pure/unittest.nim
  lib/system/hti.nim
  lib/system/reprjs.nim
Labels: compiler, simplification

#986 Semfold type expressions into nkType nodes
  compiler/ast/ast_query.nim
  compiler/sem/semfold.nim
Labels: bug, compiler/sem

#992 internal: reduce the `CgNode` size
  compiler/backend/cgir.nim
Labels: compiler/backend, simplification

#985 sem: improve type class support for built-ins
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/ast/types.nim
  compiler/ast/typesrenderer.nim
  compiler/front/cli_reporter.nim
  compiler/sem/sem.nim
  compiler/sem/semexprs.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtypes.nim
  compiler/sem/sighashes.nim
  compiler/sem/sigmatch.nim
  compiler/vm/vmdeps.nim
  doc/manual.rst
  tests/lang_callable/macros/tmacrotypes.nim
  tests/lang_types/sink/tsink_is_not_a_typeclass.nim
  tests/lang_types/typeclass/tbuiltin_type_classes_aliases.nim
  tests/lang_types/typeclass/tbuiltin_type_classes_bind_once.nim
  tests/lang_types/typeclass/tbuiltin_type_classes_constraints.nim
  tests/lang_types/typeclass/tbuiltin_type_classes_params.nim
  tests/lang_types/typeclass/tbuiltin_type_classes_type_ast.nim
  tests/lang_types/typeclass/ttypeclass_multi_use.nim
  tests/types/tisopr.nim
Labels: bug, compiler/sem, language-design

#995 fix(sem): missed `discard` in `try/finally` errors
  compiler/sem/semstmts.nim
  tests/lang_exprs/tdiscardcheck_try_except.nim
  tests/lang_exprs/tdiscardcheck_try_finally.nim
Labels: bug, compiler/sem

#997 sem: make return-type inference work consistently
  compiler/sem/sem.nim
  compiler/sem/semcall.nim
  compiler/sem/semexprs.nim
  tests/lang/s02_core/s07_type_inference/t01_return_type_inference.nim
  tests/lang/s02_core/s07_type_inference/t01_return_type_inference_issues.nim
  tests/lang/s02_core/s07_type_inference/t02_return_type_inference_converters.nim
  tests/lang_experimental/concepts/treturn_type_inference_issue.nim
Labels: bug, refactor, compiler/sem, language-design

#999 vm: simpler closure support
  compiler/vm/compilerbridge.nim
  compiler/vm/packed_env.nim
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmaux.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmcompilerserdes.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
  compiler/vm/vmobjects.nim
  compiler/vm/vmrunner.nim
  compiler/vm/vmtypegen.nim
  tests/compiler/tvmbackend.nim
Labels: refactor, compiler/vm, simplification

#1000 refactor(sem): remove duplicated type assignment
  compiler/sem/semstmts.nim
Labels: compiler/sem, simplification

#1001 refactor(sem): indirect operation analysis
  compiler/ast/ast.nim
  compiler/sem/semexprs.nim
Labels: refactor, compiler/sem

#1002 fix(sem): issues related to subscript analysis
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/semcall.nim
  compiler/sem/semexprs.nim
  compiler/sem/semmagic.nim
  tests/errmsgs/tout_of_bounds_tuple.nim
  tests/lang_callable/generics/tnullary_generic_proc_value.nim
  tests/lang_callable/overload/toverload_pointer_to_array_bracket.nim
  tests/lang_exprs/tinvalid_deref_expr.nim
Labels: bug, refactor, compiler/sem

#1003 CI: treat `XDeclaredButNotUsed` as an error
  compiler/ast/checked_ast.nim
  compiler/ast/lexer.nim
  compiler/ast/linter.nim
  compiler/ast/parser.nim
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/extccomp.nim
  compiler/backend/jsgen.nim
  compiler/front/cli_reporter.nim
  compiler/front/cmdlinehelper.nim
  compiler/front/commands.nim
  compiler/front/options.nim
  compiler/front/optionsprocessor.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirtrees.nim
  compiler/nim.cfg
  compiler/nimfix/nimfix.nim.cfg
  compiler/sem/guards.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/liftdestructors.nim
  compiler/sem/mirexec.nim
  compiler/sem/nilcheck.nim
  compiler/sem/procfind.nim
  compiler/sem/rodutils.nim
  compiler/sem/sem.nim
  compiler/sem/semcall.nim
  compiler/sem/semexprs.nim
  compiler/sem/semfold.nim
  compiler/sem/semobjconstr.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtempl.nim
  compiler/sem/semtypes.nim
  compiler/sem/sourcemap.nim
  compiler/sem/transf.nim
  compiler/sem/varpartitions.nim
  compiler/tools/docgen.nim
  compiler/tools/docgen2.nim
  compiler/tools/suggest.nim
  compiler/utils/astrepr.nim
  compiler/utils/int128.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/vm.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmobjects.nim
  compiler/vm/vmrunner.nim
  config/nim.cfg
  lib/std/packedsets.nim
  nimsuggest/nimsuggest.nim
  nimsuggest/nimsuggest.nim.cfg
Labels: compiler, ci, simplification
