Repository nim-works/nimskull, pull requests merged in 2023-08, with the labels that each got.

#823 semfold: fix conversion folding
  compiler/sem/semfold.nim
  tests/lang_types/float/tfloats.nim
  tests/misc/tconv.nim
Labels: bug, refactor, compiler/sem

#824 jsgen: fix incorrect `float32`-literal behaviour
  compiler/backend/jsgen.nim
  tests/lang_types/float/tfloats.nim
Labels: bug, compiler/backend

#811 sem: improve and rework `semobjconstr`
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/ast/reports_sem.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/semobjconstr.nim
  tests/errmsgs/tobject_constr.nim
  tests/lang_objects/objects/t17437.nim
Labels: compiler/sem, simplification

#551 compiler: introduce an IR for the code generators
  compiler/ast/ast_query.nim
  compiler/ast/ast_types.nim
  compiler/backend/backends.nim
  compiler/backend/cbackend.nim
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgliterals.nim
  compiler/backend/ccgreset.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/ccgutils.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/cgirutils.nim
  compiler/backend/compat.nim
  compiler/backend/jsbackend.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirbridge.nim
  compiler/mir/mirtrees.nim
  compiler/sem/injectdestructors.nim
  compiler/utils/debugutils.nim
  compiler/vm/packed_env.nim
  compiler/vm/vmaux.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmcompilerserdes.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
  doc/debug.rst
  tests/lang_callable/generics/tobjecttyperel.nim
  tests/lang_experimental/concepts/tconstructor_with_concept_type.nim
  tests/lang_experimental/views/tviews_in_object.nim
Labels: refactor, compiler/backend

#826 codegen: introduce dedicated node kind for magics
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/cgirutils.nim
  compiler/backend/compat.nim
  compiler/backend/jsgen.nim
  compiler/vm/vmgen.nim
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_refcursors.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
Labels: compiler/backend, simplification

#829 testament: decouple production of `TestRun`s
  testament/categories.nim
  testament/testament.nim
Labels: refactor, tool

#827 codegen: remove obsolete `mReset` support
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgreset.nim
  compiler/backend/cgen.nim
  compiler/backend/jsgen.nim
  compiler/vm/vmgen.nim
Labels: compiler/backend, simplification

#828 codegen: lower `swap` via a MIR pass
  compiler/backend/ccgexprs.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirpasses.nim
  compiler/sem/injectdestructors.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
  tests/magics/tswap.nim
  tests/stdlib/strings/tdouble_evaluation_bug.nim
Labels: bug, compiler/backend, simplification

#832 fix(typeops): do not copy non-existent type fields
  compiler/sem/liftdestructors.nim
  tests/lang_objects/destructor/ttypeops_misc.nim
Labels: bug, compiler/backend

#835 internal: use dedicated context type for `vmbackend`
  compiler/utils/containers.nim
  compiler/vm/vmaux.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmdef.nim
Labels: refactor, compiler/backend

#834 testament: support per-target `knownIssue`s
  doc/testament.rst
  testament/categories.nim
  testament/specs.nim
  testament/testament.nim
  tests/lang_callable/closure/tinfer_closure_for_nestedproc.nim
  tests/lang_callable/generics/tobjecttyperel.nim
  tests/lang_callable/generics/treentranttypes.nim
  tests/lang_callable/method/tmultim.nim
  tests/lang_callable/template/template_issues.nim
  tests/lang_callable/template/template_various.nim
  tests/lang_experimental/views/tprocedural_views.nim
  tests/lang_experimental/views/tviews_in_object.nim
  tests/lang_objects/destructor/tlvalue_conversions.nim
  tests/lang_stmts/casestmt/tcase_with_uint_values.nim
  tests/lang_stmts/for_stmt/tforloop_tuple_unpacking.nim
  tests/lang_types/sink/tmove_from_lvalue_conversion.nim
  tests/lang_types/var/tvar_arguments.nim
  tests/misc/tfield_defect_message.nim
  tests/misc/tnumeric_conversions.nim
  tests/overflw/toverflw.nim
  tests/stdlib/algorithm/tsequtils.nim
  tests/stdlib/strings/tdouble_evaluation_bug.nim
  tests/stdlib/types/sets/trange_crosses_int64_bounds.nim
  tests/stdlib/types/tresults.nim
  tests/vm/tdata_serdes.nim
Labels: enhancement, tool

#836 codegen: optimize single-operand `CgNode`s
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/cgirutils.nim
  compiler/backend/compat.nim
  compiler/backend/jsgen.nim
  compiler/vm/vmgen.nim
Labels: refactor, compiler/backend

#833 koch: fix crash in `koch.py`
  koch.py
Labels: bug, tool

#837 remove support for enum inheritance
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/sem/semexprs.nim
  compiler/sem/semtypes.nim
Labels: compiler/sem, simplification, language-design

#838 vm: pass data for compiler interfacing in `VmArgs`
  compiler/vm/vm.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmops.nim
Labels: compiler/vm, simplification

#839 sem: decide storage type for enums on definition
  compiler/ast/ast.nim
  compiler/ast/ast_types.nim
  compiler/ast/types.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/cgirgen.nim
  compiler/backend/jsgen.nim
  compiler/sem/semtypes.nim
  compiler/sem/sizealignoffsetimpl.nim
  compiler/vm/vmcompilerserdes.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmtypegen.nim
  tests/lang_defs/enum/tstored_as_unsigned.nim
Labels: bug, compiler/sem, compiler/backend, simplification

#840 treat `gorge`/`staticExec` as a dangerous operation
  compiler/front/scripting.nim
  compiler/vm/vm.nim
  compiler/vm/vmops.nim
  lib/pure/distros.nim
  lib/system/nimscript.nim
  tests/vm/tgorge.nim
Labels: compiler, compiler/vm

#842 codegen: remove the `cnkChckRange` node kinds
  compiler/ast/ast_query.nim
  compiler/ast/ast_types.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/cgirutils.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirgen.nim
  compiler/sem/mirexec.nim
  compiler/vm/vmgen.nim
  tests/lang_objects/destructor/tdestruction_when_checks_failed.nim
  tests/system/tdollars.nim
Labels: bug, compiler/backend, simplification

#841 vmops: decouple registration from discovery
  compiler/front/scripting.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/nimeval.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmjit.nim
  compiler/vm/vmops.nim
  compiler/vm/vmrunner.nim
Labels: refactor, compiler

#845 readme: update the "near-term" section
  readme.md
Labels: documentation

#843 internal: split `vmgen`/linker state from `TCtx`
  compiler/vm/compilerbridge.nim
  compiler/vm/packed_env.nim
  compiler/vm/vmaux.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
  compiler/vm/vmlinker.nim
  compiler/vm/vmrunner.nim
  compiler/vm/vmtypegen.nim
Labels: refactor, compiler/backend

#847 fix object subtype-relation between generic instances
  compiler/sem/sigmatch.nim
  tests/typerel/tphantom_type_as_base.nim
Labels: bug, compiler/sem

#825 `std/json`: remove macro type API usage
  compiler/ast/ast_query.nim
  compiler/front/condsyms.nim
  compiler/sem/semfields.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtypes.nim
  lib/pure/json.nim
  lib/std/jsonutils.nim
  tests/stdlib/formats/tjson.nim
  tests/stdlib/formats/tjsonmacro.nim
  tests/stdlib/formats/tjsonmacro_reject.nim
Labels: stdlib, simplification

#848 generics: fix coercions to distinct phantom types
  compiler/sem/sigmatch.nim
  tests/typerel/tcoercing_generic_distincts.nim
Labels: bug, compiler/sem

#849 internal: always-on logging of generated VM bytecode
  compiler/ast/report_enums.nim
  compiler/ast/reports_debug.nim
  compiler/front/cli_reporter.nim
  compiler/front/options.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/vm.nim
  compiler/vm/vmjit.nim
  compiler/vm/vmutils.nim
  doc/debug.rst
Labels: enhancement, compiler, compiler/msgs, utils

#844 make `std/marshal` compile with `--styleCheck:error`
  lib/core/typeinfo.nim
  tests/stylecheck/tstyle_imports.nim
Labels: stdlib

#851 sem: use `nkError` in `break`/`continue` analysis
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/semexprs.nim
  compiler/sem/semstmts.nim
  tests/errmsgs/texpected_label_1.nim
  tests/errmsgs/texpected_label_2.nim
Labels: refactor, compiler/sem

#852 internal: prepare for code generator improvements
  compiler/backend/backends.nim
  compiler/backend/cbackend.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/jsbackend.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirbridge.nim
  compiler/sem/injectdestructors.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
Labels: refactor, compiler/backend, simplification

#850 better dependent-expression support for range types
  compiler/ast/ast_query.nim
  compiler/sem/semexprs.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtypes.nim
  compiler/sem/semtypinst.nim
  compiler/sem/sigmatch.nim
  tests/lang_callable/generics/tdependent_range_type.nim
  tests/lang_callable/generics/tgeneric_backtrack_type_inference.nim
  tests/lang_callable/generics/tgenerics_various.nim
Labels: bug, enhancement, compiler/sem

#853 fix type matching failing for generic range types
  compiler/sem/sigmatch.nim
  tests/lang_callable/generics/tdependent_range_type.nim
Labels: bug, compiler/sem

#855 internal: faster `ConfigRef` access
  compiler/front/options.nim
Labels: refactor, compiler

#854 typerel: rework `tyGenericInvocation` handling
  compiler/sem/semtypinst.nim
  compiler/sem/sigmatch.nim
  tests/lang_callable/generics/tgeneric_range_invocation_issue.nim
  tests/lang_callable/generics/tgenerics_issues.nim
Labels: bug, compiler/sem, simplification

#860 fix `.line` pragma ignoring column information
  compiler/front/cli_reporter.nim
  compiler/sem/pragmas.nim
  tests/errmsgs/t9768.nim
  tests/errmsgs/twrong_line_argument.nim
Labels: bug, refactor, compiler/sem

#859 internal: speed up `FileInfoIdx`-from-path lookup
  compiler/front/options.nim
  lib/js/jsconsole.nim
  lib/system/assertions.nim
Labels: compiler

#857 internal: detect illegal access of locals earlier
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/semcomptime.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/vmgen.nim
  tests/errmsgs/tunavailable_local.nim
  tests/vm/twrongarray.nim
  tests/vm/twrongwhen.nim
Labels: refactor, compiler/sem

#858 internal: improve `tryGenerateInstance`
  compiler/sem/semtypinst.nim
Labels: refactor, compiler/sem

#861 internal: don't instantiate concepts when lifting types
  compiler/sem/semtypes.nim
Labels: compiler/sem, simplification

#863 make `.cursor` fields work according to spec
  compiler/sem/liftdestructors.nim
  tests/arc/tnon_ref_cursor_in_object.nim
  tests/lang_callable/iter/tcursor_local_in_closure_iter.nim
Labels: bug, spec, compiler/sem

#862 warn if `untyped` params followed by non-`untyped`
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/sem/semtypes.nim
  doc/manual.rst
  tests/lang_callable/overload/tuntyped_param_not_followed_by_typed.nim
Labels: spec, compiler/sem, language-design

#864 internal: keep composite type-classes unresolved
  compiler/ast/ast_types.nim
  compiler/ast/typesrenderer.nim
  compiler/sem/semcall.nim
  compiler/sem/semtypes.nim
  compiler/sem/sigmatch.nim
  tests/typerel/tgeneric_type_relation.nim
Labels: bug, compiler/sem, simplification
