Repository nim-works/nimskull, pull requests merged in 2023-11, with the labels that each got.

#1004 fix wrong C code for `addr` of `ref` conversions
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/cgmeth.nim
  compiler/backend/compat.nim
  compiler/mir/mirgen.nim
  tests/misc/taddr_of_up_conversion.nim
  tests/misc/titer_inlining_regression.nim
Labels: bug, compiler/backend

#1008 lib/parseopt: require explicit parameters list
  lib/pure/parseopt.nim
  tests/ccgbugs/tmangle_field.nim
  tests/misc/tparseopt.nim
  tools/nimgrep.nim
Labels: stdlib, simplification

#1007 front/nimconf: add exported version of readConfigFile
  compiler/front/nimconf.nim
Labels: compiler, tool

#1011 fix(js): wrong code for uninitialized `pointer` locals
  compiler/backend/jsgen.nim
  tests/js/tdefault_init_pointer_var.nim
Labels: bug, compiler/backend

#1009 fix(js): wrong code for `discard` of address-like
  compiler/backend/jsgen.nim
  tests/js/tdiscard.nim
Labels: bug, compiler/backend

#1017 evaltempl: unwrap default static[T] parameters
  compiler/sem/evaltempl.nim
  tests/lang_callable/template/template_issues.nim
Labels: bug, compiler/sem

#1013 fix a destruction bug for global-backed locals
  compiler/backend/backends.nim
  compiler/backend/cgirgen.nim
  compiler/mir/mirbridge.nim
  compiler/vm/vmjit.nim
  tests/lang_objects/destructor/tglobals.nim
Labels: bug, compiler/backend

#1019 fix(sem): crash on missing explicit initial value
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/semobjconstr.nim
  tests/errmsgs/tmissing_initializer.nim
Labels: bug, compiler/sem

#1023 fix(sem): don't execute static calls too early
  compiler/sem/semexprs.nim
  tests/vm/tcompiletimesideeffects.nim
Labels: bug, compiler/sem

#1018 fix(sem): error with `var`/`lent`-returning templates
  compiler/backend/cgirgen.nim
  compiler/sem/semexprs.nim
  compiler/sem/sempass2.nim
  compiler/sem/sigmatch.nim
  compiler/vm/vmgen.nim
  tests/lang_callable/varres/ttemplate_var_lent_res.nim
Labels: bug, compiler/sem

#1006 fix(sem): template/macro issues with `var`/`lent`
  compiler/sem/sem.nim
  lib/experimental/results.nim
  tests/lang_callable/template/tbody_is_var_lent_expression.nim
  tests/lang_callable/varres/ttemplate_var_lent_res.nim
Labels: bug, compiler/sem

#949 make the `in` magic work the same across backends
  compiler/ast/report_enums.nim
  compiler/backend/ccgexprs.nim
  compiler/front/cli_reporter.nim
  compiler/mir/mirgen.nim
  compiler/modules/magicsys.nim
  compiler/sem/semmagic.nim
  config/nim.cfg
  tests/magics/tin.nim
  tests/magics/tin_op_warning.nim
Labels: compiler/backend, language-design

#1005 sem: unify the post-match expression processing
  compiler/ast/types.nim
  compiler/sem/sem.nim
  compiler/sem/semexprs.nim
  compiler/sem/seminst.nim
  compiler/sem/transf.nim
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/errmsgs/t10735.nim
  tests/lang_exprs/tempty_typed_compound_expressions.nim
  tests/lang_exprs/tempty_typed_expressions.nim
  tests/lang_exprs/tempty_typed_expressions_issues.nim
Labels: bug, refactor, compiler/sem

#1024 mir: improve the `Changeset` API
  compiler/mir/mirbridge.nim
  compiler/mir/mirchangesets.nim
  compiler/mir/mirpasses.nim
  compiler/sem/injectdestructors.nim
  tests/compiler/tmir_changesets.nim
Labels: compiler, simplification

#1021 sem: consolidate macro pragma processing
  compiler/sem/sem.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtypes.nim
  tests/pragmas/tcustom_pragma.nim
Labels: refactor, compiler/sem

#1028 fix(C): code generation issue with `finished`
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  tests/magics/tmagics.nim
Labels: bug, compiler/backend

#1027 mir: store `SourceId`s directly on nodes
  compiler/backend/backends.nim
  compiler/backend/cgirgen.nim
  compiler/mir/mirbridge.nim
  compiler/mir/mirchangesets.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
  compiler/mir/sourcemaps.nim
  compiler/sem/injectdestructors.nim
  compiler/vm/vmjit.nim
  tests/compiler/tmir_changesets.nim
Labels: refactor, compiler

#1029 fix a move-analyzer bug
  compiler/sem/injectdestructors.nim
  compiler/sem/mirexec.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
Labels: bug, compiler

#1030 mirexec: rework CFG computation
  compiler/sem/mirexec.nim
  tests/compiler/tmir_exec.nim
Labels: refactor, compiler

#1032 internal: fix `skConst` translation in `mirgen`
  compiler/mir/mirgen.nim
Labels: bug, compiler/backend

#1031 MIR: refactor the data-flow analysis
  compiler/mir/analysis.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/mirexec.nim
  tests/compiler/tmir_exec.nim
Labels: refactor, compiler/backend

#1033 vm: remove `openArray` conversion support
  compiler/vm/vm.nim
  compiler/vm/vmgen.nim
  tests/lang_types/openarray/topenarray_assign_2.nim
Labels: bug, compiler/vm, simplification
