Repository nim-works/nimskull, pull requests merged in 2023-03, with the labels that each got.

#560 lexer: smaller diag type and drop internal error
  compiler/ast/lexer.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/front/nimconf.nim
Labels: refactor, compiler/lex-parse

#562 vmgen: support the return-value optimization for magics
  compiler/vm/vm.nim
  compiler/vm/vmgen.nim
Labels: compiler/vm

#563 cgen: fix IC-backend crash with `inline` procedures
  compiler/backend/cgen.nim
Labels: bug, compiler/backend

#564 vm: better `LocHandle` design
  compiler/vm/vm.nim
  compiler/vm/vmchecks.nim
  compiler/vm/vmcompilerserdes.nim
  compiler/vm/vmconv.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmhooks.nim
  compiler/vm/vmmemory.nim
  compiler/vm/vmobjects.nim
  compiler/vm/vmops.nim
  compiler/vm/vmrunner.nim
Labels: refactor, compiler/vm

#547 bootstrap the compiler and tools with ORC
  compiler/sem/semstmts.nim
  nimsuggest/nimsuggest.nim.cfg
  testament/testament.nim.cfg
  tools/koch/koch.nim
Labels: compiler, compiler/backend

#566 vmgen/vm: conversion-related improvements
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/ast/reports.nim
  compiler/ast/reports_vm.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/transf.nim
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmchecks.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmlegacy.nim
  compiler/vm/vmrunner.nim
  tests/lang_defs/distinct/tdistinct.nim
  tests/lang_exprs/tlvalue_conv_assignment.nim
Labels: bug, refactor, compiler, compiler/report, compiler/vm

#568 internals: `useNodeIds` now tracks outgoing copies
  compiler/ast/ast.nim
Labels: compiler, utils

#569 refactor: code style in astrepr
  compiler/utils/astrepr.nim
Labels: refactor

#565 sem: restructure call application handling
  compiler/sem/lookups.nim
  compiler/sem/semcall.nim
  compiler/sem/semexprs.nim
  compiler/sem/semgnrc.nim
  compiler/sem/semtempl.nim
  doc/manual_experimental.rst
  tests/errmsgs/twrongcolon.nim
  tests/specialops/tcallops.nim
  tests/specialops/tcallprecedence.nim
Labels: refactor, compiler/sem

#570 vm: make `opcExpandToAst` more flexible
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmgen.nim
Labels: refactor, compiler/vm

#571 Remove the `.deprecated` redirection feature
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/modules/magicsys.nim
  compiler/sem/lookups.nim
  compiler/sem/pragmas.nim
  compiler/sem/semgnrc.nim
  doc/nimfix.rst
  lib/wrappers/mysql.nim
  tests/deprecated/tdeprecated.nim
Labels: compiler, compiler/sem, compiler/report, simplification

#572 fix backend & ex/internal errors handling
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/commands.nim
  compiler/front/msgs.nim
  compiler/nim.nim
Labels: compiler/report

#575 remove `--legacy` dialects
  compiler/backend/ccgexprs.nim
  compiler/backend/jsgen.nim
  compiler/front/cli_reporter.nim
  compiler/front/commands.nim
  compiler/front/in_options.nim
  compiler/front/options.nim
  compiler/vm/vm.nim
  doc/advopt.txt
  doc/manual.rst
  tests/lang_callable/macros/tmacro7.nim
Labels: spec, compiler/sem, simplification

#578 front: rework `--eval`
  compiler/backend/extccomp.nim
  compiler/front/cmdlinehelper.nim
  compiler/front/commands.nim
  compiler/front/main.nim
  compiler/front/nimconf.nim
  compiler/front/options.nim
  compiler/front/scriptconfig.nim
  compiler/modules/modules.nim
  doc/basicopt.txt
  tests/compilerunits/confread/treport_filtering.nim
  tests/misc/trunner.nim
Labels: refactor, compiler, simplification

#577 remove navigator and CLI based ide help
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/commands.nim
  compiler/front/main.nim
  compiler/ic/navigator.nim
  doc/advopt.txt
  testament/categories.nim
  testament/testament.nim
  tests/navigator/minclude.nim
Labels: compiler, simplification

#581 cli: removed deprecated flags
  compiler/ast/wordrecg.nim
  compiler/front/commands.nim
  compiler/sem/pragmas.nim
  doc/manual.rst
  doc/manual_experimental.rst
  testament/caasdriver.nim
  tools/niminst/niminst.nim
Labels: simplification

#579 tests: cleanup the tests for closures
  tests/lang_callable/closure/mutils.nim
  tests/lang_callable/closure/tcapture.nim
  tests/lang_callable/closure/tclosure.nim
  tests/lang_callable/closure/tclosure2.nim
  tests/lang_callable/closure/tclosure_issues.nim
  tests/lang_callable/closure/tclosure_nested_iterator.nim
  tests/lang_callable/closure/tcodegen_do_closure.nim
  tests/lang_callable/closure/tcompile_eval_env.nim
  tests/lang_callable/closure/tnested.nim
Labels: test

#582 removed `useversion` compiler switch
  compiler/ast/ast_types.nim
  compiler/front/commands.nim
  compiler/front/condsyms.nim
  compiler/front/in_options.nim
  compiler/front/options.nim
  compiler/sem/sempass2.nim
  compiler/sem/semtypes.nim
  compiler/sem/sigmatch.nim
  doc/advopt.txt
  doc/manual.rst
  lib/pure/collections/sequtils.nim
  lib/pure/collections/tables.nim
  lib/pure/options.nim
  lib/pure/os.nim
  lib/pure/parseutils.nim
  lib/std/private/since.nim
  lib/system/gc.nim
  lib/system/gc_ms.nim
  tests/stdlib/algorithm/tsequtils.nim
  tests/system/tuse_version.nim
Labels: simplification

#584 sem: fix the compile-time-only detection
  compiler/sem/semdata.nim
  compiler/sem/semexprs.nim
  compiler/sem/semmagic.nim
  compiler/sem/semstmts.nim
Labels: bug, refactor, compiler/sem

#586 enable lambda-lifting for the JavaScript target
  compiler/backend/jsgen.nim
  compiler/sem/lambdalifting.nim
  compiler/sem/transf.nim
  lib/system/jssys.nim
  tests/lang_callable/closure/tclosure.nim
  tests/lang_callable/closure/tclosure_issues.nim
Labels: enhancement, compiler/sem, compiler/backend, simplification

#580 adjust the `.compileTime` pragma's semantics
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/pragmas.nim
  compiler/sem/semstmts.nim
  doc/manual.rst
  tests/pragmas/tpragma_compiletime_var.nim
  tests/pragmas/tpragma_compiletime_var_error.nim
Labels: spec, test, compiler/sem

#587 sempass2: fix illegal capture detection
  compiler/sem/sempass2.nim
  tests/lang_callable/closure/tclosure.nim
  tests/lang_callable/closure/tillegal_comptime_capture.nim
Labels: bug, compiler/sem

#589 sexp_reporter: fix `sexp` for `PNode`
  compiler/front/sexp_reporter.nim
Labels: bug, compiler/report

#591 internals: minor clean-up of `types` ordinal procs
  compiler/ast/types.nim
Labels: refactor, simplification

#593 sem: integer literal to holey enum error detection
  compiler/sem/semexprs.nim
  compiler/sem/semfold.nim
  lib/std/enumutils.nim
  tests/lang_defs/enum/tenumconvdetectlitoutofrange.nim
Labels: compiler/sem, compiler/report, simplification

#595 convert diag to legacy report in `cli_reporter`
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/front/options.nim
  compiler/nim.nim
  compiler/vm/nimeval.nim
  compiler/vm/vmrunner.nim
  nimsuggest/nimsuggest.nim
  tests/compilerunits/confread/tcli_parsing.nim
  tests/compilerunits/confread/treport_filtering.nim
  tools/grammar_nanny.nim
Labels: refactor, compiler/report

#596 semexprs: make `semReturn` error node aware
  compiler/ast/ast_types.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/semexprs.nim
Labels: refactor, compiler/sem

#592 vm: fix multiple `raise` and `finally` issues
  compiler/vm/compilerbridge.nim
  compiler/vm/vm.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmprofiler.nim
  compiler/vm/vmrunner.nim
Labels: bug, refactor, compiler/vm

#597 `semfold` uses `nkError` dropping 'reports'
  compiler/ast/ast_types.nim
  compiler/ast/reports_sem.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/front/options.nim
  compiler/sem/semfold.nim
  compiler/sem/sempass2.nim
  compiler/sem/sizealignoffsetimpl.nim
  compiler/utils/astrepr.nim
Labels: refactor, compiler/sem, compiler/report

#599 `semStaticStmt` now produces `nkError`
  compiler/ast/reports_vm.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/semstmts.nim
  compiler/vm/compilerbridge.nim
Labels: refactor, compiler/sem, compiler/report, compiler/vm

#600 vmgen: separate dependency collection
  compiler/front/scriptconfig.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/nimeval.nim
  compiler/vm/vmaux.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmcompilerserdes.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
Labels: refactor, compiler/backend, compiler/vm

#601 add test to disallow variants in a union
  compiler/sem/semexprs.nim
  compiler/sem/sizealignoffsetimpl.nim
  tests/types/tunion_variant_disallowed.nim
Labels: test, compiler

#602 sem: refactor and fix `semArrayConstr`
  compiler/ast/ast_types.nim
  compiler/front/cli_reporter.nim
  compiler/sem/sem.nim
  compiler/sem/semexprs.nim
  compiler/sem/semstmts.nim
  tests/lang_types/array/tsink_in_array.nim
Labels: bug, refactor, compiler/sem

#573 pragmas: rework processing and application
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/ast/wordrecg.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/pragmas.nim
  compiler/sem/semexprs.nim
  compiler/sem/seminst.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtempl.nim
  compiler/sem/semtypes.nim
  nimsuggest/tests/ttype_highlight.nim
  tests/lang_callable/generics/tparser_generator.nim
  tests/pragmas/teffects.nim
  tests/pragmas/tno_implicit_pragmas.nim
  tests/pragmas/tpush_no_cast.nim
  tests/pragmas/tvar_macro.nim
Labels: refactor, compiler/sem

#603 semexprs: make `semStaticExpr` error-node aware
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/sem/semexprs.nim
Labels: refactor, compiler/sem

#598 sem: report an error for calls to erroneous routines
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/evaltempl.nim
  compiler/sem/pragmas.nim
  compiler/sem/sem.nim
  compiler/sem/semcall.nim
  compiler/sem/seminst.nim
  compiler/sem/sempass2.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtempl.nim
  compiler/sem/transf.nim
Labels: compiler, compiler/sem

#604 language: remove new-with-finalize
  compiler/ast/ast_query.nim
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/jsgen.nim
  compiler/front/cli_reporter.nim
  compiler/mir/mirgen.nim
  compiler/sem/dfa.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/semexprs.nim
  compiler/sem/semmagic.nim
  compiler/sem/sempass2.nim
  compiler/sem/semstmts.nim
  compiler/vm/vmgen.nim
  lib/impure/nre.nim
  lib/impure/re.nim
  lib/system.nim
  tests/arc/t14383.nim
  tests/arc/tarcmisc.nim
  tests/errmsgs/t10376.nim
  tests/gc/closureleak.nim
  tests/gc/gctest.nim
  tests/gc/tregionleak.nim
  tests/gc/weakrefs.nim
  tests/lang_objects/destructor/tfinalizer.nim
  tests/misc/tnew.nim
Labels: compiler, stdlib, simplification

#605 template non-ast param limited to lookup substitution
  compiler/sem/sem.nim
  compiler/sem/semtempl.nim
  doc/manual.rst
  tests/lang_callable/template/template_usage_substitution_nonast_typed_params.nim
  tests/lang_callable/template/twrongsymkind.nim
Labels: documentation, enhancement, compiler/sem, lang/macro, language-design

#606 `considerQuotedIdent` is no longer call recursive
  compiler/sem/lookups.nim
  nimsuggest/nimsuggest.nim
  tests/lang/s02_core/s05_templates/t01_templates.nim
Labels: refactor, compiler/sem

#610 testament: end run sexp compare if it would crash
  testament/backend.nim
  testament/testament.nim
Labels: tool

#609 custom numeric literal parsing no longer crashes
  compiler/ast/ast.nim
  compiler/ast/ast_parsed_types.nim
  tests/lang_syntax/lexer/tcustom_numeric_literals.nim
Labels: bug, compiler/sem, compiler/lex-parse

#590 sem: decouple `semMacroDef` from `semProcAux`
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/hlo.nim
  compiler/sem/sem.nim
  compiler/sem/semcall.nim
  compiler/sem/semdata.nim
  compiler/sem/semexprs.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtempl.nim
  compiler/sem/semtypes.nim
  nimsuggest/tests/tsug_template.nim
  tests/lang_callable/macros/tdisallow_anonymous.nim
  tests/lang_callable/macros/tsymbol_must_match.nim
  tests/lang_experimental/trmacros/tdisallow_non_macros.nim
  tests/lang_experimental/trmacros/tno_self_apply.nim
Labels: spec, refactor, compiler/sem, compiler/report
