Repository nim-works/nimskull, pull requests merged in 2023-04, with the labels that each got.

#612 support `.closure` iterators with all backends
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/backend/jsgen.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmlegacy.nim
  compiler/vm/vmops.nim
  doc/manual.rst
  lib/system.nim
  lib/system/jssys.nim
  tests/arc/tclosureiter.nim
  tests/js/tjs_closure_iterators.nim
  tests/lang_callable/closure/tclosure.nim
  tests/lang_callable/closure/tclosure_issues.nim
  tests/lang_callable/closure/tclosure_nested_iterator.nim
  tests/lang_callable/closure/tinfer_closure_for_nestedproc.nim
  tests/lang_callable/closure/tnested.nim
  tests/lang_callable/generics/tgenerics_issues.nim
  tests/lang_callable/iter/t2771.nim
  tests/lang_callable/iter/tanoniter1.nim
  tests/lang_callable/iter/tclosureiters.nim
  tests/lang_callable/iter/titer11.nim
  tests/lang_callable/iter/titer12.nim
  tests/lang_callable/iter/titer13.nim
  tests/lang_callable/iter/titer3.nim
  tests/lang_callable/iter/titer8.nim
  tests/lang_callable/iter/titer9.nim
  tests/lang_callable/iter/titer_issues.nim
  tests/lang_callable/iter/titer_nested_generic.nim
  tests/lang_callable/iter/titerautoerr1.nim
  tests/lang_callable/iter/titerautoerr2.nim
  tests/lang_callable/iter/titerconcat.nim
  tests/lang_callable/iter/tshallowcopy_closures.nim
  tests/lang_callable/iter/tyieldintry.nim
  tests/lang_callable/template/template_issues.nim
  tests/stdlib/algorithm/tsequtils.nim
  tests/stdlib/types/thashes.nim
  tests/stdlib/types/toptions.nim
  tests/vm/tclosureiterator.nim
Labels: enhancement, compiler/backend, compiler/vm

#616 sem: fix a common crash caused by `semSym`
  compiler/sem/semexprs.nim
Labels: bug, compiler/sem

#617 instanced generic routine errors: fix raise defect
  compiler/sem/sem.nim
Labels: bug, compiler/sem

#615 sem: fix default parameter handling for macros
  compiler/front/options.nim
  compiler/sem/evaltempl.nim
  compiler/sem/sem.nim
  compiler/sem/semtypes.nim
  compiler/vm/compilerbridge.nim
  tests/lang_callable/macros/tdefault_parameters.nim
Labels: compiler/sem, lang/macro

#594 semexprs: make `semAsgn` error node aware
  compiler/sem/semexprs.nim
  tests/errmsgs/ttypeAllowed.nim
Labels: refactor, compiler/sem

#618 internal: begin moving `newSymG` to `newSymGNode`
  compiler/ast/ast.nim
  compiler/ast/ast_query.nim
  compiler/ast/ast_types.nim
  compiler/ast/errorreporting.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/sem.nim
  compiler/sem/semexprs.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtempl.nim
Labels: refactor, compiler/sem

#619 semtypinst: fix `cannot instantiate` issues
  compiler/sem/seminst.nim
  compiler/sem/semtypinst.nim
  tests/lang_callable/generics/tgenerics_issues.nim
Labels: bug, refactor, compiler/sem

#620 compiler: improve macro parameter handling
  compiler/ast/ast.nim
  compiler/ast/ast_types.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/mir/mirgen.nim
  compiler/sem/sem.nim
  compiler/sem/seminst.nim
  compiler/sem/sempass2.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtypes.nim
  compiler/sem/transf.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
  compiler/vm/vmlegacy.nim
  tests/lang_callable/macros/tgeneric_macros.nim
  tests/lang_callable/macros/tmacros_issues.nim
Labels: bug, refactor, compiler, compiler/sem

#622 makefile.nimf: macos arm64 m1 and m2 CPU support
  tools/niminst/makefile.nimf
Labels: bug, compiler

#623 vm: fix cell access checks
  compiler/vm/vmchecks.nim
Labels: bug, compiler/vm

#624 vm: improve and fix numeric conversion support
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmutils.nim
  tests/misc/tnumeric_conversions.nim
Labels: bug, refactor, compiler/vm

#621 sem: rework explicit generic calls
  compiler/ast/ast_query.nim
  compiler/ast/ast_types.nim
  compiler/front/cli_reporter.nim
  compiler/sem/semcall.nim
  compiler/sem/semexprs.nim
  compiler/sem/sigmatch.nim
  compiler/tools/suggest.nim
  lib/system/threads.nim
  nimsuggest/tests/tgeneric_highlight.nim
  tests/lang/s05_pragmas/s02_misc/t04_warning.nim
  tests/lang_callable/generics/tearly_instantiation.nim
  tests/lang_callable/generics/tgenerics_issues.nim
  tests/lang_callable/generics/tgenerics_various.nim
  tests/lang_callable/generics/timplicit_and_explicit.nim
  tests/lang_callable/generics/tlate_bound_typedesc.nim
  tests/lang_callable/generics/treject_invalid_type_arguments.nim
  tests/lang_callable/generics/twrong_explicit_typeargs.nim
  tests/lang_callable/overload/toverload_explicit_generic.nim
  tests/lang_experimental/views/tprocedural_views.nim
  tests/lang_objects/destructor/tv2_cast.nim
  tests/lang_objects/metatype/tunresolved_return_type.nim
  tests/misc/tparamsindefault.nim
  tests/threads/threadex.nim
  tests/threads/tonthreadcreation.nim
  tests/threads/tthreadheapviolation1.nim
  tests/typerel/tvoid.nim
Labels: enhancement, refactor, compiler/sem, language-design

#628 transf: de-duplicate non-routine symbols
  compiler/sem/injectdestructors.nim
  compiler/sem/transf.nim
  tests/arc/tstrformat.nim
  tests/lang_objects/destructor/tduplicate_local.nim
Labels: bug, compiler/sem, compiler/backend

#627 semcall: isolate overload resolution more
  compiler/sem/lookups.nim
  compiler/sem/semcall.nim
  tests/lang_callable/overload/toverload_issues.nim
Labels: bug, compiler/sem, simplification

#629 stdlib: fix `range` types for `repr_v2`
  compiler/ast/ast_types.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/semmagic.nim
  lib/pure/typetraits.nim
  lib/system/repr_v2.nim
  tests/stdlib/algorithm/trepr.nim
  tests/typerel/trange_with_distinct.nim
Labels: bug, enhancement, compiler/sem

#548 vm: improve support for `var`, `lent`, and `addr`
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmhooks.nim
  tests/global/tglobalforvar.nim
  tests/lang_types/var/tvar_arguments.nim
  tests/misc/taddr.nim
  tests/vm/taccess_checks.nim
  tests/vm/taccess_checks_issues.nim
  tests/vm/tvmgen_regressions.nim
Labels: refactor, compiler/vm

#635 sem: don't create improper type instantiations
  compiler/sem/semcall.nim
  compiler/sem/semexprs.nim
  compiler/sem/semtypinst.nim
  tests/lang/s02_core/s02_procedures/t03_overload_core_conversion/t01_generic_converter.nim
Labels: bug, refactor, compiler/sem

#634 ast: introduce the `CheckedAst` type
  compiler/ast/checked_ast.nim
  compiler/sem/sem.nim
Labels: enhancement, compiler/sem

#637 remove nimscript as config
  compiler/front/cli_reporter.nim
  compiler/front/cmdlinehelper.nim
  compiler/front/main.nim
  compiler/front/nimconf.nim
  compiler/front/scripting.nim
  compiler/vm/nimeval.nim
  compiler/vm/vm.nim
  config/config.nims
  config/nim.cfg
  doc/nims.rst
  lib/pure/os.nim
  lib/pure/strtabs.nim
  lib/system.nim
  lib/system/nimscript.nim
  nimsuggest/config.nims
  nimsuggest/nim.cfg
  testament/categories.nim
  tests/assert/config.nims
  tests/assert/nim.cfg
  tests/config.nims
  tests/exception/testindexerroroutput.nims
  tests/exception/testindexerroroutput_runner.nim
  tests/ic/tcompiletime_counter.nim
  tests/ic/tgenerics.nim
  tests/ic/thallo.nim
  tests/ic/tmethods.nim
  tests/misc/config/bar/mfoo.nim
  tests/misc/config/bar/mfoo.nim.cfg
  tests/misc/config/bar/nim.cfg
  tests/misc/config/foo2/mfoo2.customext
  tests/misc/script/tscript.nims
  tests/misc/trunner.nim
  tests/newconfig/bar/mfoo.nims
  tests/newconfig/bar/nim.cfg
  tests/newconfig/mymath.nim
  tests/newconfig/tfoo.nim
  tests/nim.cfg
  tests/nimble/tnimblepathdollar.nim.cfg
  tests/nimble/tnimblepathdollar.nims
  tests/nimble/tnimblepathdollar_fault.nim.cfg
  tests/nimble/tnimblepathdollar_fault.nims
  tests/stdlib/types/tstrtabs.nims
  tests/stdlib/web/tssl.nim.cfg
  tests/test_nimscript.nims
  tests/tools/compile/config.nims
  tests/tools/compile/nim.cfg
  tests/tools/tnimscriptwithmacro.nims
  tests/tools/tnimscriptwithmacro_runner.nim
  tools/koch/koch.nim
  tools/ssl_config_parser.nim.cfg
  tools/ssl_config_parser.nims
Labels: documentation, compiler, simplification

#640 cgen: fix a severe issue with `finally`
  compiler/ast/wordrecg.nim
  compiler/backend/ccgstmts.nim
  compiler/front/condsyms.nim
  compiler/sem/pragmas.nim
  lib/std/private/digitsutils.nim
  lib/system/excpt.nim
  tests/exception/tfinally5.nim
Labels: bug, compiler/backend

#639 don't omit the goto-handler for `system` routines
  compiler/backend/ccgcalls.nim
  lib/system/excpt.nim
  tests/lang_types/float/tfloat1.nim
Labels: bug, compiler/backend

#642 sem: propagate `nkError` in `semCast`
  compiler/ast/checked_ast.nim
  compiler/ast/types.nim
  compiler/sem/semexprs.nim
  compiler/sem/semtypes.nim
  tests/stdlib/algorithm/tsequtils.nim
Labels: refactor, compiler/sem

#645 make `goto` exceptions the default
  compiler/backend/ccgcalls.nim
  compiler/backend/cgen.nim
  compiler/front/main.nim
  doc/lib.rst
  lib/pure/segfaults.nim
  lib/system/chcks.nim
  lib/system/exceptions.nim
  lib/system/indexerrors.nim
  lib/system/threads.nim
  testament/categories.nim
  tests/ccgbugs/tgotoexceptions.nim
  tests/ccgbugs/tmissingvolatile.nim
  tests/dll/client.nim
  tests/exception/tassignment.nim
  tests/js/tstdlib_imports.nim
  tests/pragmas/tnoreturn.nim
  tests/stdlib/tstdlib_various.nim
  tests/test_nimscript.nims
Labels: bug, compiler/backend, stdlib

#646 remove `setjmp` and `quirky` exception modes
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/front/commands.nim
  compiler/front/in_options.nim
  compiler/front/main.nim
  compiler/sem/pragmas.nim
  compiler/sem/sempass2.nim
  doc/advopt.txt
  doc/nimc.rst
  koch.py
  lib/system.nim
  lib/system/ansi_c.nim
  lib/system/embedded.nim
  lib/system/excpt.nim
  lib/system/fatal.nim
  lib/system/jssys.nim
  tests/avr/thello.nim
  tests/ccgbugs/tmissingvolatile.nim
  tests/exception/texceptions.nim
  tests/exception/texceptions2.nim
  tests/exception/tfinally5.nim
  tests/lang_objects/destructor/tsetjmp_raise.nim
  tests/lang_types/float/tfloat1.nim
  tools/koch/koch.nim
Labels: compiler, compiler/backend, simplification

#648 cgen: handle uncaught exceptions at module exit
  compiler/backend/cgen.nim
  compiler/vm/vmrunner.nim
  tests/exception/munhandled_in_non_main.nim
  tests/exception/tunhandled_in_non_main.nim
Labels: bug, compiler/backend

#650 cfg: report parse errors without crashing
  compiler/front/cli_reporter.nim
  compiler/front/cmdlinehelper.nim
  tests/misc/config/cfg_syntax/tcfg_closingtokenerr.nim
  tests/misc/config/cfg_syntax/tcfg_closingtokenerr.nim.cfg
  tests/misc/config/cfg_syntax/tcfg_endiferr.nim
  tests/misc/config/cfg_syntax/tcfg_endiferr.nim.cfg
Labels: bug, compiler/msgs

#651 cleanup: `vmprofiler.dump` no longer echos
  compiler/vm/vmprofiler.nim
Labels: refactor, compiler/vm

#654 cli: dump output moved out of legacy reports
  compiler/ast/report_enums.nim
  compiler/ast/reports_internal.nim
  compiler/front/cli_reporter.nim
  compiler/front/commands.nim
  compiler/front/main.nim
Labels: refactor, compiler, compiler/msgs

#656 system: remove the `shallow` procedure
  compiler/backend/ccgtypes.nim
  compiler/front/options.nim
  compiler/utils/strutils2.nim
  doc/nimc.rst
  lib/system.nim
  tests/lang_callable/converter/tconverter_subtype_parameters.nim
  tests/lang_callable/converter/tconverter_template_non_ref_err.nim
  tests/stdlib/strings/tstrutils2.nim
  tests/stdlib/types/collections/tseq.nim
  tests/system/tnilconcats.nim
Labels: compiler, simplification

#658 cfg: drop project ".nimcfg" support
  compiler/front/nimconf.nim
  compiler/front/options.nim
Labels: compiler, simplification

#657 system: use a `seq` with `WideCStringObj`
  lib/system/widestrs.nim
  tests/stdlib/strings/twchartoutf8.nim
Labels: stdlib, simplification

#661 streams: support copy-on-write string literals
  lib/pure/streams.nim
  tests/stdlib/os/tstreams.nim
Labels: enhancement, stdlib

#659 compiler: compile stats on success refactor
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/main.nim
  compiler/front/msgs.nim
  tests/compilerfeatures/tstructured_echo.nim
Labels: bug, compiler, compiler/msgs

#662 cli: help and verison flags are CLI only
  compiler/ast/report_enums.nim
  compiler/ast/reports_internal.nim
  compiler/front/cli_reporter.nim
  compiler/front/commands.nim
  compiler/front/options.nim
  compiler/nim.nim
  tests/vm/tvmops.nim
Labels: bug, compiler, compiler/msgs

#660 drop `ExternalReport` dep in `extccomp` module
  compiler/backend/extccomp.nim
  compiler/front/cli_reporter.nim
  compiler/front/commands.nim
  compiler/front/main.nim
Labels: refactor, compiler

#663 cli: gcstats flag; dropped hint "gcstats"
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/commands.nim
  compiler/front/in_options.nim
  compiler/front/options.nim
  compiler/nim.nim
  doc/advopt.txt
Labels: refactor, compiler, compiler/msgs

#664 improve `getAst` magic processing
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/mir/mirgen.nim
  compiler/sem/transf.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmlegacy.nim
  tests/vm/tvmgen_regressions.nim
Labels: bug, refactor

#649 vmgen: work around a VM issue
  compiler/vm/vmgen.nim
  tests/exception/tassignment.nim
Labels: bug, compiler/vm

#655 cli: now properly exits if no mainmodule exists
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/front/options.nim
  compiler/modules/modules.nim
  tests/cli/tcompilercli_compileneedsfilename.nim
  tests/misc/trunner.nim
Labels: bug, compiler/msgs

#666 remove `extccomp` dep from `nim` and `main`
  compiler/backend/extccomp.nim
  compiler/front/commands.nim
  compiler/front/main.nim
  compiler/nim.nim
Labels: bug, refactor, compiler, compiler/msgs

#668 fix string values for legacy reports enums
  compiler/ast/report_enums.nim
Labels: bug, compiler/msgs

#665 astgen: fix issues with the MIR -> AST step
  compiler/mir/astgen.nim
  tests/lang_objects/destructor/tmisc_destructors.nim
Labels: bug, refactor

#669 cli: msgformat is for debug/test only
  compiler/front/cmdlinehelper.nim
  compiler/front/commands.nim
  compiler/front/in_options.nim
  compiler/front/options.nim
  doc/advopt.txt
  doc/intern.rst
  doc/nimc.rst
Labels: refactor, compiler/msgs, simplification

#670 nimblecmd: remove legacy reports
  compiler/front/commands.nim
  compiler/modules/nimblecmd.nim
  tests/compiler/tnimblecmd.nim
Labels: bug, refactor, compiler/msgs

#671 refactor: comptime compile option testing
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/ast/reports_sem.nim
  compiler/front/cli_reporter.nim
  compiler/front/commands.nim
  compiler/front/in_options.nim
  compiler/front/msgs.nim
  compiler/modules/nimblecmd.nim
  compiler/sem/semfold.nim
Labels: refactor, compiler/sem

#672 mirgen: ignore `.compileTime` variables
  compiler/backend/ccgstmts.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirgen.nim
  tests/lang_callable/generics/tunique_type.nim
Labels: bug, compiler/backend

#673 internal refactor of hint/warn flag processing
  compiler/front/commands.nim
Labels: refactor, compiler

#676 renabled `js` testing
  lib/js/jsffi.nim
  testament/categories.nim
  tests/js/tbyvar.nim
  tests/js/tjs_bitwise_operator_64bit.nim
  tests/js/tjsffi.nim
  tests/stdlib/types/tactiontable.nim
Labels: bug, test, compiler/backend

#675 cli progress dots, insert newline before message
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/front/options.nim
Labels: bug, refactor, compiler/msgs

#674 astgen: fix illegal C code being generated
  compiler/ast/types.nim
  compiler/mir/astgen.nim
  tests/lang_types/sink/tmove_from_lvalue_conversion.nim
Labels: bug, compiler/backend

#677 system: more correct `SysThread` bindings
  lib/system/threadlocalstorage.nim
  tests/lang_callable/generics/tthread_generic.nim
Labels: bug, stdlib

#678 consider destructors of concrete types bound to concepts
  compiler/ast/ast_query.nim
  compiler/backend/jsgen.nim
  compiler/sem/injectdestructors.nim
  tests/lang_experimental/concepts/tconstructor_with_concept_type.nim
  tests/lang_experimental/concepts/tno_type_attached_ops_bug.nim
  tests/lang_objects/metatype/ttypetraits.nim
Labels: bug, compiler, compiler/sem
