Repository nim-works/nimskull, pull requests merged in 2023-06, with the labels that each got.

#732 readme.md: quick fix to intro paragraph
  readme.md
Labels: documentation

#735 boot: update the csources version
  .github/workflows/ci.yml
  config/build_config.txt
  koch.py
  tools/koch/koch.nim
Labels: ci

#736 backend: simpler error handling
  compiler/backend/cbackend.nim
  compiler/backend/cgen.nim
  compiler/backend/jsbackend.nim
  compiler/front/main.nim
Labels: refactor, compiler/backend

#737 vmjit: small refactoring
  compiler/vm/compilerbridge.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
Labels: refactor, compiler, compiler/vm

#738 cgen: fix `reset` and `default` for resolved concepts
  compiler/backend/cgen.nim
  tests/lang_experimental/concepts/tusertypeclasses.nim
Labels: bug, compiler/backend

#740 codegen: clean up unused code paths
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/jsgen.nim
  compiler/vm/vmgen.nim
Labels: refactor, compiler/backend, simplification

#739 cgen: don't emit unnecessary case statements
  compiler/backend/ccgexprs.nim
Labels: bug, compiler/backend

#742 mirgen: improve lowering of `and`/`or`
  compiler/mir/mirgen.nim
Labels: enhancement, compiler, compiler/backend

#741 codegen: make the main case statements exhaustive
  compiler/ast/ast_types.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/jsgen.nim
  compiler/vm/vmgen.nim
Labels: refactor, compiler/backend

#746 consistent canonical import and package sym naming
  compiler/front/options.nim
  compiler/ic/ic.nim
  compiler/modules/modulegraphs.nim
  compiler/modules/modules.nim
  compiler/modules/packagehandling.nim
  compiler/tools/docgen.nim
Labels: compiler/sem, compiler/backend, simplification

#747 threads: free reference cycles when terminating
  lib/system/threads.nim
  tests/threads/tthread_cycles.nim
Labels: bug, stdlib

#748 compiler: partially remove `codegenDecl` pragma
  compiler/backend/ccgtypes.nim
  compiler/backend/cgen.nim
  compiler/backend/jsgen.nim
  compiler/sem/pragmas.nim
  doc/manual.rst
  tests/ccgbugs/tcodegen_pragma_inside_iterators.nim
  tests/ccgbugs/tcodegendecllambda.nim
  tests/ccgbugs/tprogmem.nim
  tests/js/tcodegendeclproc.nim
  tests/js/tcodegendeclvar.nim
Labels: compiler/sem, compiler/backend, simplification

#729 std/parseopt2: new exec argument parsing library
  compiler/front/commands.nim
  lib/pure/parseopt2.nim
  tests/stdlib/tparseopt2.nim
Labels: bug, enhancement, stdlib, simplification

#749 sequtils: simplify `mapIt` implementation
  lib/pure/collections/sequtils.nim
  tests/errmsgs/t8339.nim
Labels: stdlib, simplification

#752 jsonutils: no unmarshal support for `cstring` tables
  lib/std/jsonutils.nim
  tests/stdlib/formats/tjsonutils.nim
Labels: bug, stdlib

#753 vmgen: fix accessing `var`/`lent` views in objects
  compiler/vm/vmgen.nim
  tests/lang_experimental/views/tprocedural_views.nim
  tests/lang_experimental/views/tviews_in_object.nim
Labels: bug, compiler/backend

#754 remove the old runtime
  compiler/ast/types.nim
  compiler/backend/ccgstmts.nim
  doc/intern.rst
  doc/nimc.rst
  lib/core/typeinfo.nim
  lib/nimbase.h
  lib/system.nim
  lib/system/alloc.nim
  lib/system/assign.nim
  lib/system/cellseqs_v1.nim
  lib/system/cellseqs_v2.nim
  lib/system/cellsets.nim
  lib/system/channels_builtin.nim
  lib/system/chcks.nim
  lib/system/deepcopy.nim
  lib/system/excpt.nim
  lib/system/gc.nim
  lib/system/gc2.nim
  lib/system/gc_common.nim
  lib/system/gc_hooks.nim
  lib/system/gc_interface.nim
  lib/system/gc_ms.nim
  lib/system/gc_regions.nim
  lib/system/hti.nim
  lib/system/mm/boehm.nim
  lib/system/mm/go.nim
  lib/system/mm/malloc.nim
  lib/system/mm/none.nim
  lib/system/mmdisp.nim
  lib/system/repr.nim
  lib/system/strmantle.nim
  lib/system/sysstr.nim
  lib/system/threadlocalstorage.nim
  lib/system/threads.nim
Labels: enhancement, simplification, runtime

#755 refactor(ast): minimize usage of `nfBlockArg` flag
  compiler/ast/parser.nim
  compiler/sem/semstmts.nim
Labels: refactor, compiler, compiler/sem, compiler/lex-parse

#756 codegen: better support for `openArray`
  compiler/ast/types.nim
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/jsgen.nim
  compiler/backend/jstypes.nim
  compiler/mir/astgen.nim
  compiler/mir/mirgen.nim
  compiler/sem/liftdestructors.nim
  compiler/vm/vmgen.nim
  tests/lang_types/openarray/topenarray_assign.nim
Labels: bug, refactor, compiler/backend

#759 cgen: fix `var seq` globals defined in loops
  compiler/backend/cgen.nim
  tests/lang_experimental/views/tglobal_view_in_loop.nim
Labels: bug, refactor, compiler/backend

#750 sequtils: simplify `toSeq` implementation
  lib/pure/collections/sequtils.nim
Labels: stdlib, simplification

#757 fix(sem): `typed` `import`s preserve node kind
  compiler/mir/mirgen.nim
  compiler/modules/importer.nim
  tests/lang_stmts/importstmt/tnimskull757.nim
Labels: bug, compiler/sem

#745 transf: fix inline iterator invocation semantics
  compiler/ast/trees.nim
  compiler/mir/astgen.nim
  compiler/sem/ast_analysis.nim
  compiler/sem/transf.nim
  compiler/vm/vmbackend.nim
  doc/manual.rst
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
  tests/lang_callable/iter/titer3.nim
  tests/lang_callable/iter/titer_issues.nim
  tests/lang_callable/iter/titer_param_passing_difference.nim
  tests/lang_callable/iter/titerator_with_sink_parameter.nim
  tests/lang_callable/iter/titerator_with_var_parameter.nim
  tests/lang_callable/iter/topenarray_parameter.nim
Labels: bug, spec, refactor, compiler/sem

#761 vmgen: fix double evaluation of `swap` arguments
  compiler/sem/lowerings.nim
  compiler/vm/vmgen.nim
  tests/vm/tswap.nim
Labels: bug, compiler/backend

#762 typed `import` test fix and document known issues
  tests/lang_stmts/importstmt/mbar.nim
  tests/lang_stmts/importstmt/mbaz.nim
  tests/lang_stmts/importstmt/mfoo.nim
  tests/lang_stmts/importstmt/mqux1.nim
  tests/lang_stmts/importstmt/mqux2.nim
  tests/lang_stmts/importstmt/mqux3.nim
  tests/lang_stmts/importstmt/mqux4.nim
  tests/lang_stmts/importstmt/mqux5.nim
  tests/lang_stmts/importstmt/tnimskull757.nim
  tests/lang_stmts/importstmt/ttyped_import_nimskull757.nim
Labels: bug, test

#760 internal: drop `nfBlockArg` usage
  compiler/ast/ast.nim
  compiler/ast/ast_parsed_types.nim
  compiler/ast/ast_types.nim
  compiler/ast/parser.nim
  compiler/sem/semexprs.nim
  compiler/sem/semstmts.nim
  compiler/sem/sigmatch.nim
  tests/lang_callable/macros/tgettypeinst.nim
Labels: refactor, compiler, compiler/sem, compiler/lex-parse

#751 sequtils: fix double-evaluation bug with `applyIt`
  lib/pure/collections/sequtils.nim
  tests/lang_callable/template/twrongmapit.nim
Labels: bug, enhancement, stdlib

#765 sigmatch: fix `typeRel` for objects inheriting from phantom types
  compiler/sem/semmagic.nim
  compiler/sem/sigmatch.nim
  tests/lang_objects/metatype/ttypetraits.nim
  tests/typerel/tphantom_type_as_base.nim
  tests/types/tinheritance_generic_dispatch.nim
Labels: bug, compiler/sem

#714 backend: lower modules into procedures
  compiler/ast/ast_query.nim
  compiler/backend/backends.nim
  compiler/backend/cbackend.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/ccgthreadvars.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/jsbackend.nim
  compiler/backend/jsgen.nim
  compiler/front/main.nim
  compiler/ic/cbackend.nim
  compiler/mir/mirbridge.nim
  compiler/modules/modulegraphs.nim
  compiler/sem/collectors.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/modulelowering.nim
  compiler/sem/transf.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmgen.nim
  doc/manual.rst
  lib/std/sysrand.nim
  lib/system/threadlocalstorage.nim
  tests/effects/tstrict_funcs_imports.nim
  tests/global/tglobal.nim
  tests/js/tclosures.nim
  tests/lang_callable/closure/tclosure_issues.nim
  tests/lang_objects/destructor/tglobaldestructor.nim
  tests/misc/tlifted_lambda_issue.nim
  tests/stylecheck/tstyle_imports.nim
Labels: refactor, compiler/backend, simplification

#766 memalloc: remove compile time sizeof check
  lib/system/memalloc.nim
  tests/system/talloc_with_ffi.nim
Labels: bug, test, stdlib

#768 fix(CI): remove self-executing tests from megatest
  tests/exception/texception_message_null_byte.nim
  tests/lang_exprs/compiles/tstaticlib.nim
  tests/stdlib/os/osproc/tclose.nim
  tests/stdlib/os/osproc/texitsignal.nim
  tests/stdlib/os/osproc/treadlines.nim
  tests/stdlib/os/tstackframes.nim
  tests/vm/tvmops.nim
Labels: ci

#769 jsgen: fix multiple bugs with `addr` and `lent`
  compiler/backend/jsgen.nim
  tests/misc/taddr.nim
Labels: bug, compiler/backend

#744 transf: adjust for-loop related location lifetimes
  compiler/ast/ast_query.nim
  compiler/sem/transf.nim
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
  tests/lang_stmts/for_stmt/tforloop_lifetimes.nim
Labels: enhancement, spec, compiler/sem

#770 testament: small architectural refactoring
  testament/categories.nim
  testament/specs.nim
  testament/testament.nim
Labels: refactor, tool

#771 testament: rearrange code
  testament/specs.nim
  testament/testament.nim
Labels: refactor, tool

#772 testament: refactor further
  testament/specs.nim
  testament/testament.nim
Labels: refactor, tool

#773 disallow using `.compileTime` locations at run-time
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/jsgen.nim
  compiler/front/cli_reporter.nim
  compiler/mir/mirgen.nim
  compiler/sem/modulelowering.nim
  compiler/sem/sempass2.nim
  doc/manual.rst
  tests/ccgbugs/tcompile_time_var_at_runtime.nim
  tests/pragmas/tcompile_time_var_at_runtime.nim
  tests/pragmas/tpragma_compiletime_var.nim
  tests/pragmas/tpragma_global_compiletime.nim
  tests/vm/tasmparser.nim
  tests/vm/tcompiletimetable.nim
Labels: compiler/sem, compiler/backend, language-design

#774 internal: make `PEvalContext` a standalone type
  compiler/front/scripting.nim
  compiler/sem/sem.nim
  compiler/sem/semdata.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/nimeval.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
Labels: refactor, compiler

#775 support `method`s with the VM backend
  compiler/vm/vmbackend.nim
  compiler/vm/vmgen.nim
  lib/system.nim
  lib/system/chcks.nim
  lib/system/jssys.nim
  tests/lang_callable/generics/tobjecttyperel.nim
  tests/lang_callable/method/tgeneric_methods.nim
  tests/lang_callable/method/tmethod_issues.nim
  tests/lang_callable/method/tmethod_various.nim
  tests/lang_callable/method/tmultim.nim
  tests/lang_callable/method/tnildispatcher.nim
  tests/lang_callable/method/treturn_var_t.nim
  tests/lang_callable/method/tsingle_methods.nim
Labels: enhancement, compiler/backend

#776 testament: support executing "known issue" tests
  doc/testament.rst
  testament/categories.nim
  testament/specs.nim
  testament/testament.nim
  testament/tests/shouldfail/tworking_known_issue.nim
  tests/testament/tshould_not_work.nim
Labels: enhancement, tool

#779 remove the `.dynlib` "extension loader" feature
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
Labels: compiler/backend, simplification

#778 internal refactor: slim `sem` module
  compiler/ast/ast_query.nim
  compiler/sem/sem.nim
  compiler/sem/semexprs.nim
  compiler/sem/semobjconstr.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtypes.nim
Labels: refactor, compiler

#780 testament: fix `--tryfailing` not working with `all`
  testament/testament.nim
Labels: bug, tool

#782 internal: add the `asm` and `emit` MIR operators
  compiler/backend/ccgstmts.nim
  compiler/mir/astgen.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirtrees.nim
  doc/mir.rst
Labels: enhancement, refactor, compiler/backend
