Repository nim-works/nimskull, pull requests merged in 2023-12, with the labels that each got.

#1036 fix(cgen): run-time crash when modifying a `seq`
  compiler/backend/ccgexprs.nim
  compiler/backend/cgirgen.nim
  compiler/mir/mirgen.nim
  tests/arc/topt_no_cursor.nim
  tests/stdlib/types/collections/tconst_seq_bug.nim
Labels: bug, compiler/backend

#1038 fix(c): `toOpenArray` issues with `array` operand
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  tests/lang_callable/overload/toverload_bracket_accessor_template.nim
  tests/misc/ttoopenarray_array_bound_checks.nim
Labels: bug, compiler/backend

#1039 js: support `addr` for object conversions
  compiler/backend/jsgen.nim
  tests/misc/taddr_of_up_conversion.nim
Labels: bug, compiler/backend

#1034 internal: improve the `mirexec` API
  compiler/mir/analysis.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/mirexec.nim
  tests/compiler/tmir_exec.nim
Labels: refactor, compiler

#1041 internal: perform "address taken" analysis in `jsgen`
  compiler/backend/jsgen.nim
  compiler/sem/semexprs.nim
Labels: refactor, compiler/backend

#1042 ci: try `knownIssue` tests
  .github/workflows/ci.yml
  tests/fragmentation/tfragment_alloc.nim
  tests/fragmentation/tfragment_gc.nim
  tests/lang/s01_basics/s99_atoms/t04_type_inference_fail_colon_expr.nim
  tests/lang/s02_core/s02_procedures/t02_argument_passing_bugs/t02_argument_passing_mutate_bug.nim
  tests/lang/s02_core/s02_procedures/t02_argument_passing_bugs/t08_varargs_regular_subtype.nim
  tests/lang/s02_core/s02_procedures/t03_overload_core_bugs/t06_varargs_converter_clash.nim
  tests/lang/s06_experimental/s01_views/s00_bugs/t01_var_openarray.nim
  tests/lang/s06_experimental/s01_views/s00_bugs/t02_borrow_literal.nim
  tests/lang/s06_experimental/s01_views/s01_path_expressions/t07_addr_borrow_fail.nim
  tests/lang_experimental/concepts/tconstructor_with_concept_type.nim
  tests/lang_experimental/views/tviews_in_object.nim
  tests/lang_exprs/tempty_typed_expressions_issues.nim
  tests/lang_stmts/for_stmt/tforloop_tuple_unpacking.nim
  tests/lang_types/sink/tmove_from_lvalue_conversion.nim
  tests/stdlib/algorithm/tsequtils.nim
  tests/stdlib/strings/tdouble_evaluation_bug.nim
  tests/stdlib/types/tresults.nim
  tests/stdlib/web/thttpclient.nim
  tests/vm/tdata_serdes.nim
Labels: test, ci

#1040 js: improve cast-to-`pointer` support
  compiler/backend/jsgen.nim
  tests/misc/tcast.nim
  tests/misc/tcast_int_to_pointer.nim
  tests/misc/tcast_ref_object_to_pointer.nim
  tests/misc/tcast_ref_scalar_to_pointer.nim
Labels: bug, compiler/backend

#1044 fix(sem): some caught exceptions being leaked
  compiler/ast/ast.nim
  compiler/sem/semdata.nim
  compiler/sem/semstmts.nim
  compiler/sem/transf.nim
  tests/lang_objects/destructor/texception_leak.nim
Labels: bug, compiler/sem

#1043 fix(js): internal compiler error with `default`
  compiler/backend/jsgen.nim
  tests/js/texplicit_default_init_pointer_var.nim
Labels: bug, compiler/backend

#1045 fix(vm): assigning string literals to `openArray`
  compiler/vm/vmgen.nim
  tests/lang_types/openarray/topenarray_from_literal.nim
Labels: bug, compiler/backend

#1046 cgen: don't emit unnecessary type definitions
  compiler/backend/ccgstmts.nim
  tests/ccgbugs/tforward_decl_only.nim
Labels: refactor, compiler/backend

#1051 cgen: remove dead code
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/compat.nim
Labels: compiler/backend

#1052 backends: simplify the `process` iterator
  compiler/backend/backends.nim
  compiler/backend/cbackend.nim
  compiler/backend/jsbackend.nim
  compiler/vm/vmbackend.nim
Labels: compiler/backend, simplification

#1053 remove the `.linearScanEnd` pragma
  compiler/ast/wordrecg.nim
  compiler/backend/ccgstmts.nim
  compiler/sem/pragmas.nim
  doc/manual.rst
  tests/lang_stmts/casestmt/tlinearscanend.nim
Labels: compiler/backend, simplification

#1054 fix: compiler crash when `errorMax` != 1
  compiler/sem/modulelowering.nim
  tests/compilerfeatures/terror_limit_error.nim
Labels: bug, compiler/sem

#1055 disable the `tfragment_alloc` test
  tests/fragmentation/tfragment_alloc.nim
Labels: test

#1059 vm: move thread-local state into `VmThread`
  compiler/vm/compilerbridge.nim
  compiler/vm/vm.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmrunner.nim
Labels: refactor, compiler/vm

#1062 fix: `nnkConv` nodes not being typed
  compiler/sem/semexprs.nim
  tests/lang_exprs/tconversion_ast.nim
Labels: bug, compiler/sem

#1060 sem: clarify `static[T](x)` semantics
  compiler/mir/mirgen.nim
  compiler/sem/semexprs.nim
  tests/statictypes/tstatictypes.nim
Labels: compiler/sem, language-design

#1063 ci: update artifact actions
  .github/actions/download-compiler/action.yml
  .github/actions/upload-compiler/action.yml
  .github/workflows/ci.yml
  .github/workflows/publisher.yml
  .github/workflows/reproducible.yml
Labels: dependencies, ci

#942 rework the MIR (part 1)
  compiler/ast/ast_types.nim
  compiler/backend/backends.nim
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/cgen.nim
  compiler/backend/cgirgen.nim
  compiler/backend/cgirutils.nim
  compiler/backend/compat.nim
  compiler/backend/jsgen.nim
  compiler/mir/analysis.nim
  compiler/mir/mirbridge.nim
  compiler/mir/mirchangesets.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
  compiler/mir/utils.nim
  compiler/sem/aliasanalysis.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/liftdestructors.nim
  compiler/sem/mirexec.nim
  compiler/sem/transf.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
  doc/mir.rst
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_refcursors.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
  tests/ccgbugs/tunsafeaddr.nim
  tests/compiler/tmir_changesets.nim
  tests/exception/tassignment.nim
  tests/js/tjsffi.nim
  tests/js/tmodify_cstring.nim
  tests/lang/s02_core/s02_procedures/t02_argument_passing_bugs/t02_argument_passing_mutate_bug.nim
  tests/lang/s02_core/s08_evaluation_order/README.md
  tests/lang/s02_core/s08_evaluation_order/t01_array_index_expression.nim
  tests/lang/s02_core/s08_evaluation_order/t02_dereference_expression.nim
  tests/lang/s02_core/s08_evaluation_order/t03_addr_expression.nim
  tests/lang/s02_core/s08_evaluation_order/t04_assignments.nim
  tests/lang/s02_core/s08_evaluation_order/t05_immutable_paramters_scalar.nim
  tests/lang/s02_core/s08_evaluation_order/t06_immutable_paramters_aggregate.nim
  tests/lang/s02_core/s08_evaluation_order/t07_lent_parameters.nim
  tests/lang/s02_core/s08_evaluation_order/t08_var_parameters.nim
  tests/lang_experimental/concepts/tconstructor_with_concept_type.nim
  tests/lang_experimental/views/tsplit_into_seq.nim
  tests/lang_experimental/views/tsplit_into_table.nim
  tests/lang_objects/destructor/tdont_move_from_cursor_field.nim
  tests/lang_objects/destructor/tlate_use_2.nim
  tests/lang_objects/destructor/ttuple_unpacking.nim
  tests/lang_objects/destructor/tv2_cast.nim
  tests/lang_types/openarray/topenarray_assign_2.nim
  tests/misc/tcast.nim
  tests/misc/tref_construction_order.nim
  tests/stdlib/types/tresults.nim
Labels: bug, spec, refactor, compiler/backend

#1065 cgir: use dedicated node kind per symbol kind
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/cgirutils.nim
  compiler/backend/compat.nim
  compiler/backend/jsgen.nim
  compiler/vm/vmgen.nim
Labels: refactor, compiler/backend

#1066 mir: unify call syntax
  compiler/backend/cgirgen.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
  compiler/mir/utils.nim
  compiler/sem/aliasanalysis.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/mirexec.nim
  doc/mir.rst
Labels: refactor, compiler/backend

#1067 fix(vmgen): taking the address of named constants
  compiler/mir/mirpasses.nim
  compiler/vm/vmgen.nim
  tests/misc/taddr.nim
  tests/misc/taddr_of_const_array_element.nim
Labels: bug, compiler/backend

#1068 internal: support multiple lifetimes for entities
  compiler/backend/backends.nim
  compiler/mir/mirbridge.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/transf.nim
  compiler/vm/vmjit.nim
Labels: compiler/backend, simplification

#1069 vm: remove the `opcLdStrIdxAddr` opcode
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmgen.nim
Labels: compiler/vm, simplification

#1070 koch: remove self-exec and dead Windows code
  tools/koch/koch.nim
Labels: utils

#1071 mir: unify defects and errors in the backend
  compiler/ast/ast_query.nim
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/cgen.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/compat.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
  compiler/mir/utils.nim
  compiler/sem/aliasanalysis.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/mirexec.nim
  compiler/sem/nilcheck.nim
  compiler/vm/vmgen.nim
  doc/mir.rst
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_refcursors.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
  tests/lang_objects/destructor/tv2_cast.nim
Labels: compiler/backend, simplification, language-design

#1072 cgen: small cleanup
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
Labels: refactor, compiler/backend, simplification

#1074 mir: fix two `toOpenArray`-related bugs
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
  compiler/mir/utils.nim
  compiler/sem/mirexec.nim
  compiler/vm/vmgen.nim
  doc/mir.rst
  tests/lang_objects/destructor/tconsider_var_openarray.nim
  tests/lang_objects/destructor/tv2_cast.nim
  tests/lang_types/openarray/topenarray.nim
Labels: bug, compiler/backend
