Repository nim-works/nimskull, pull requests merged in 2023-07, with the labels that each got.

#781 sem: `typed` AST normalizes out `include` stmts
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/sem/semstmts.nim
  tests/lang_meta/readme.md
  tests/lang_meta/typed/mbar.nim
  tests/lang_meta/typed/tinclude_only_processed_once.nim
Labels: refactor, compiler/sem

#783 sempass2: disallow built-ins as procvars in tuples
  compiler/sem/sempass2.nim
  tests/errmsgs/tcannot_capture_builtin_2.nim
  tests/magics/tmagics.nim
Labels: bug, compiler/sem

#777 compiler: unify the pre-code-gen processing
  compiler/ast/ast_types.nim
  compiler/backend/backends.nim
  compiler/backend/cbackend.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/jsbackend.nim
  compiler/backend/jsgen.nim
  compiler/ic/cbackend.nim
  compiler/mir/astgen.nim
  compiler/mir/mirbridge.nim
  compiler/mir/mirgen.nim
  compiler/mir/sourcemaps.nim
  compiler/modules/modulegraphs.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/modulelowering.nim
  compiler/sem/transf.nim
  compiler/utils/containers.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
  tests/arc/tarcmisc.nim
  tests/arc/topt_no_cursor.nim
  tests/global/tglobal.nim
  tests/global/tglobal2.nim
  tests/global/tlifted_global_in_inline_iterator.nim
  tests/global/tlifted_global_in_loop_body.nim
  tests/lang/s05_pragmas/s01_interop/t03_exported_constants.nim
  tests/lang_callable/generics/tvarseq_caching.nim
  tests/lang_objects/destructor/tdestructor_in_initializer.nim
Labels: refactor, compiler/backend, simplification

#784 cgen: split parameter setup from rendering
  compiler/backend/ccgtypes.nim
  compiler/backend/cgen.nim
Labels: refactor, compiler/backend

#786 internal: clean up `jsgen`
  compiler/backend/jsgen.nim
Labels: refactor, compiler/backend, simplification

#787 cgen: stricter symbol handling for `emit`
  compiler/backend/ccgstmts.nim
Labels: refactor, compiler/backend

#789 internal: clean-up `modulegraphs` module
  compiler/modules/modulegraphs.nim
Labels: refactor, compiler/sem

#788 internal: small clean-up in `cgen`
  compiler/backend/cgen.nim
Labels: refactor, compiler/backend, simplification

#790 internal: separate `TLoc` from `TSym` and `TType`
  compiler/ast/ast.nim
  compiler/ast/ast_types.nim
  compiler/ast/ndi.nim
  compiler/backend/backends.nim
  compiler/backend/cbackend.nim
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgreset.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/ccgthreadvars.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/cgmeth.nim
  compiler/backend/jsgen.nim
  compiler/ic/dce.nim
  compiler/ic/ic.nim
  compiler/mir/mirbridge.nim
  compiler/sem/pragmas.nim
  compiler/sem/semtypes.nim
  compiler/sem/sighashes.nim
  compiler/utils/containers.nim
  compiler/vm/vmbackend.nim
Labels: refactor, compiler/sem, compiler/backend

#791 mirgen: improve the MIR generation DSL
  compiler/mir/mirgen.nim
Labels: refactor, compiler

#792 internal: split up `TLocFlag`
  compiler/ast/ast.nim
  compiler/ast/ast_types.nim
  compiler/backend/backends.nim
  compiler/backend/cbackend.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgthreadvars.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/jsgen.nim
  compiler/ic/dce.nim
  compiler/ic/ic.nim
  compiler/ic/packed_ast.nim
  compiler/mir/mirbridge.nim
  compiler/sem/pragmas.nim
  compiler/vm/vmbackend.nim
Labels: refactor, compiler

#794 cgen: replace `TLoc` for procs and fields
  compiler/backend/cbackend.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgreset.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
Labels: refactor, compiler/backend

#793 internal: move MIR generation DSL to `mirconstr`
  compiler/mir/mirbridge.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirgen.nim
  compiler/sem/injectdestructors.nim
Labels: refactor, compiler, simplification

#797 internal: data-oriented storage for `TLib`
  compiler/ast/ast.nim
  compiler/ast/ast_types.nim
  compiler/backend/backends.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/cgen.nim
  compiler/ic/cbackend.nim
  compiler/ic/ic.nim
  compiler/ic/packed_ast.nim
  compiler/ic/replayer.nim
  compiler/ic/rodfiles.nim
  compiler/modules/modulegraphs.nim
  compiler/modules/modules.nim
  compiler/sem/pragmas.nim
  compiler/sem/sem.nim
  compiler/sem/semdata.nim
Labels: refactor, compiler/sem, compiler/backend

#799 refactor(lexer): rename away from reports
  compiler/ast/lexer.nim
  compiler/ast/parser.nim
  compiler/front/msgs.nim
Labels: refactor, compiler/lex-parse

#798 internal: `astrepr.debug` now useful for `PType`
  compiler/utils/astrepr.nim
Labels: compiler

#800 nimscript: fix compiler crash with `.header` procs
  compiler/front/scripting.nim
  tests/test_nimscript.nims
Labels: bug, compiler

#796 backend: make dynlib handling target-agnostic
  compiler/ast/ast_types.nim
  compiler/backend/backends.nim
  compiler/backend/cbackend.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/jsbackend.nim
  compiler/ic/ic.nim
  compiler/ic/packed_ast.nim
  compiler/mir/mirconstr.nim
  compiler/sem/modulelowering.nim
  compiler/sem/sem.nim
  compiler/vm/vmbackend.nim
  tests/lang_objects/destructor/tdestructor_in_dynlib_expr.nim
Labels: bug, refactor, compiler/sem, compiler/backend

#801 vmgen: fix two overflow bugs with `set`s
  compiler/vm/vmgen.nim
  tests/stdlib/types/sets/trange_crosses_int64_bounds.nim
Labels: bug, compiler/backend

#806 contributing: update the commit guidelines
  .github/contributing.rst
  .github/pull_request_template.md
Labels: documentation

#805 cgen: replace `TNodeTable` usage with `Table`
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgliterals.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  tests/lang_exprs/tlifted_constants_with_float.nim
Labels: bug, refactor, compiler/backend

#807 cgen: fix performance regression with `x in {...}`
  compiler/backend/ccgexprs.nim
  tests/ccgbugs/tsmall_set_contains.nim
Labels: compiler/backend

#808 internal: remove obsolete `nkExprColonExpr` detection
  compiler/backend/ccgexprs.nim
  compiler/vm/vmgen.nim
Labels: compiler/backend, simplification

#809 vmgen: remove diagnostics representing internal errors
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmlegacy.nim
Labels: compiler/msgs, compiler/backend, simplification

#810 vmjit: use MIR-based dependency discovery
  compiler/backend/backends.nim
  compiler/mir/mirbridge.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/nimeval.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
Labels: compiler/backend, simplification

#812 compiler: don't raise when NodeJS is missing
  compiler/nim.nim
  compiler/utils/nodejs.nim
Labels: bug, compiler, tool

#813 internal: use custom rendering for `--expandArc`
  compiler/ast/report_enums.nim
  compiler/ast/reports_sem.nim
  compiler/backend/cgirutils.nim
  compiler/front/cli_reporter.nim
  compiler/front/options.nim
  compiler/sem/injectdestructors.nim
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_refcursors.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
  tests/lang_objects/destructor/tv2_cast.nim
Labels: compiler

#815 prevent RVO and in-place construction via an MIR pass
  compiler/backend/backends.nim
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/cgen.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
  compiler/sem/aliases.nim
  compiler/sem/transf.nim
  tests/arc/topt_no_cursor.nim
  tests/assign/tassign.nim
  tests/assign/tcall_with_rvo.nim
  tests/assign/tin_place_construction.nim
  tests/lang_objects/destructor/ttuple_unpacking.nim
Labels: bug, compiler/backend, simplification

#817 internal: fix `MirNode`s missing type information
  compiler/mir/mirgen.nim
  compiler/sem/injectdestructors.nim
Labels: bug, compiler

#818 mirpasses: make call-argument fixup a MIR pass
  compiler/backend/backends.nim
  compiler/backend/ccgcalls.nim
  compiler/mir/mirpasses.nim
  compiler/sem/aliasanalysis.nim
  tests/ccgbugs/targ_lefttoright.nim
Labels: bug, compiler/backend, simplification

#819 internal: small code generator clean-up
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/cgen.nim
  compiler/backend/jsgen.nim
  compiler/vm/vmgen.nim
Labels: compiler/backend, simplification

#820 support `uint64` for case statement operands
  compiler/ast/nimsets.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/cgen.nim
  compiler/backend/jsgen.nim
  compiler/sem/semstmts.nim
  tests/lang_stmts/casestmt/tcase_with_uint_values.nim
Labels: bug, enhancement, compiler/sem, compiler/backend

#821 internal: less generic-expression workarounds
  compiler/ast/ast_types.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/mir/mirgen.nim
  compiler/sem/sem.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmlegacy.nim
Labels: refactor, compiler/sem, compiler/backend

#822 semfold: fix range-check folding
  compiler/sem/semfold.nim
  tests/lang_types/range/trange.nim
Labels: bug, compiler/sem
