Repository nim-works/nimskull, pull requests merged in 2023-01, with the labels that each got.

#509 vmgen: move `mIs` folding into `semfold`
  compiler/sem/semfold.nim
  compiler/vm/vmgen.nim
Labels: compiler, compiler/sem

#511 add a simple tracing framework
  compiler/utils/trace_dump.nim
  compiler/utils/tracer.nim
Labels: enhancement, compiler

#512 tables: fix multiple `OrderedTable` bugs
  lib/pure/collections/tables.nim
  tests/stdlib/types/collections/torderedtable_regression.nim
Labels: bug, stdlib

#516 introduce vm syscall - echo
  compiler/vm/compilerbridge.nim
  compiler/vm/vm.nim
  compiler/vm/vmrunner.nim
Labels: refactor, compiler/vm

#519 compiler: remove leftover `nimfind` integration
  compiler/modules/modulegraphs.nim
  compiler/sem/liftdestructors.nim
  compiler/sem/sem.nim
  compiler/sem/semcall.nim
  compiler/sem/semexprs.nim
  compiler/sem/semgnrc.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtempl.nim
  compiler/sem/semtypes.nim
  compiler/sem/sigmatch.nim
Labels: refactor, compiler

#518 semstmts: produce an `skError` for erroneous constants
  compiler/front/msgs.nim
  compiler/sem/semstmts.nim
Labels: refactor, compiler/sem

#510 sem: refactor `semConstExpr`
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/sem.nim
  compiler/sem/semstmts.nim
  compiler/sem/typeallowed.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/vmgen.nim
  tests/errmsgs/t5870.nim
Labels: refactor, compiler/sem

#490 compiler: introduce a mid-end IR (MIR)
  compiler/ast/ast_query.nim
  compiler/backend/cgen.nim
  compiler/backend/jsgen.nim
  compiler/mir/astgen.nim
  compiler/mir/mirbridge.nim
  compiler/mir/mirchangesets.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirtrees.nim
  compiler/mir/sourcemaps.nim
  compiler/mir/utils.nim
  compiler/sem/closureiters.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/semstmts.nim
  compiler/utils/astrepr.nim
  compiler/utils/containers.nim
  compiler/utils/idioms.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
  doc/debug.rst
  doc/mir.rst
  lib/experimental/dod_helpers.nim
  tests/compiler/tmir_changesets.nim
  tests/compiler/tmir_trees.nim
Labels: enhancement, refactor, compiler/backend
