Repository nim-works/nimskull, pull requests merged in 2023-09, with the labels that each got.

#866 semtypinst: remove the "meta-types allowed" mode
  compiler/sem/seminst.nim
  compiler/sem/semtypes.nim
  compiler/sem/semtypinst.nim
Labels: compiler/sem, simplification

#868 make the "log all VM bytecode" debug feature work
  compiler/vm/compilerbridge.nim
Labels: bug, utils

#867 treat `when` within generic objects as generic
  compiler/sem/semtypes.nim
  compiler/sem/semtypinst.nim
  doc/manual.rst
  tests/lang_callable/generics/tgenerics_issues.nim
Labels: bug, spec, refactor, compiler/sem

#869 sem: improve meta-type field detection
  compiler/sem/semstmts.nim
  compiler/sem/semtypes.nim
  tests/errmsgs/t10734.nim
  tests/lang_callable/generics/tmetafield.nim
  tests/lang_callable/generics/twrong_generic_object.nim
  tests/lang_callable/generics/twrong_generic_object_2.nim
  tests/lang_callable/generics/twrong_generic_object_3.nim
Labels: bug, refactor, compiler/sem

#865 sem: perform constant folding in sem
  compiler/ast/ast_types.nim
  compiler/ast/enumtostr.nim
  compiler/ast/report_enums.nim
  compiler/ast/reports_sem.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/liftdestructors.nim
  compiler/sem/pragmas.nim
  compiler/sem/sem.nim
  compiler/sem/semcall.nim
  compiler/sem/semcomptime.nim
  compiler/sem/semexprs.nim
  compiler/sem/semfold.nim
  compiler/sem/seminst.nim
  compiler/sem/sempass2.nim
  compiler/sem/semstmts.nim
  compiler/sem/transf.nim
  tests/exception/testindexerroroutput_runner.nim
  tests/lang_callable/macros/tmacrostmt.nim
  tests/lang_objects/objvariant/tcheckedfield1.nim
  tests/misc/tinvalidarrayaccess.nim
  tests/misc/tinvalidarrayaccess2.nim
  tests/misc/trangechecks.nim
  tests/vm/taccess_checks.nim
Labels: enhancement, compiler/sem

#871 internal: cache transformations in `ModuleGraph`
  compiler/ast/ast.nim
  compiler/ast/ast_types.nim
  compiler/modules/modulegraphs.nim
  compiler/sem/sem.nim
  compiler/sem/transf.nim
Labels: refactor, compiler/sem

#874 sem: use `nkError` for `semOf`
  compiler/ast/ast_types.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/semmagic.nim
Labels: refactor, compiler/sem

#875 sem: correctly compute size for partial objects
  compiler/sem/semstmts.nim
  compiler/sem/semtypes.nim
  tests/lang_experimental/package_level_objects/tusefoo.nim
Labels: bug, compiler/sem

#872 suggest: discard the compile-time evaluation state
  compiler/vm/vmjit.nim
  nimsuggest/nimsuggest.nim
Labels: bug, compiler/sem, tool

#888 pragmas: remove obsolete built-in pragmas
  compiler/ast/wordrecg.nim
  compiler/sem/pragmas.nim
  lib/system.nim
Labels: compiler/sem, simplification

#883 internal: remove `msgs.addSourceLine`
  compiler/front/msgs.nim
Labels: refactor, compiler

#880 internal: consider column for `TLineInfo` equality
  compiler/ast/lineinfos.nim
  compiler/front/msgs.nim
  compiler/front/options.nim
  compiler/sem/semexprs.nim
  compiler/sem/semstmts.nim
  compiler/tools/suggest.nim
  compiler/vm/vmprofiler.nim
Labels: commit style, compiler, simplification

#881 nimsuggest: remove `v1` implementation
  compiler/front/options.nim
  compiler/tools/suggest.nim
  nimsuggest/nimsuggest.nim
  nimsuggest/tester.nim
Labels: commit style, compiler, tool, simplification

#882 stdlib: temporarily add AST pattern matching
  lib/experimental/ast_pattern_matching.nim
  tests/lang_syntax/astspec/tastspec.nim
Labels: refactor, stdlib

#886 FFI: disallow interface specification on locals
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/jsgen.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/pragmas.nim
  doc/manual.rst
  lib/js/asyncjs.nim
Labels: compiler/sem, compiler/backend, language-design

#893 style(suggest): `suggest.isTracked` style fix
  compiler/tools/suggest.nim
Labels: refactor, tool

#894 remove obsolete comments related to nimsuggest
  compiler/tools/suggest.nim
  nimsuggest/nimsuggest.nim
Labels: tool

#896 cgen: fix redundant initialization of temporaries
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/cgen.nim
Labels: refactor, compiler/backend

#895 fix instantiation errors with generic `=deepCopy`
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/sem/liftdestructors.nim
  compiler/sem/semtypinst.nim
  tests/system/tdeepcopy.nim
Labels: bug, compiler/sem

#891 consistently disallow rebinding type-bound ops
  compiler/modules/modulegraphs.nim
  compiler/sem/liftdestructors.nim
  tests/lang_objects/destructor/tinvalid_rebind.nim
  tests/lang_objects/destructor/tinvalid_rebind_2.nim
  tests/lang_objects/destructor/tvalid_rebind.nim
  tests/lang_objects/destructor/tvalid_rebind_2.nim
Labels: compiler/sem, language-design

#899 internal: separate VM profiler data from `ConfigRef`
  compiler/ast/lineinfos.nim
  compiler/front/main.nim
  compiler/front/options.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmprofiler.nim
Labels: refactor, compiler

#876 sem: rework instantiation of object types
  compiler/ast/ast.nim
  compiler/ast/types.nim
  compiler/sem/liftdestructors.nim
  compiler/sem/lookups.nim
  compiler/sem/semobjconstr.nim
  compiler/sem/semtypes.nim
  compiler/sem/semtypinst.nim
  doc/manual.rst
  tests/lang_callable/generics/tgeneric_object_issues.nim
  tests/lang_callable/generics/tsubclassgenericerror.nim
  tests/lang_objects/destructor/tphantom_object_hooks.nim
  tests/lang_objects/destructor/tvalid_rebind.nim
  tests/lang_objects/objects/tillegal_inheritance_recursion.nim
  tests/lang_objects/objects/tphantom_object_runtime_relation.nim
  tests/stdlib/metaprogramming/timportutils.nim
  tests/types/tillegal_base_type.nim
  tests/types/tparameterizedparent0.nim
  tests/types/tparameterizedparent1.nim
Labels: bug, spec, compiler/sem

#900 build `nimsuggest_testing` for local testing
  nimsuggest/tester.nim
Labels: test, tool

#904 vmprofiler: use `Table` instead of `TableRef`
  compiler/vm/vmdef.nim
  compiler/vm/vmprofiler.nim
Labels: refactor, compiler

#905 sem: propagate errors through `semWhile`
  compiler/sem/semexprs.nim
  compiler/sem/semstmts.nim
Labels: refactor, compiler/sem

#903 move `msgs.log` to `nimsuggest`
  compiler/front/msgs.nim
  nimsuggest/nimsuggest.nim
Labels: refactor, tool

#892 nimsuggest: move library code into `suggest`
  compiler/tools/suggest.nim
  nimsuggest/nimsuggest.nim
Labels: refactor, tool

#878 vm: convert `gorge` and `staticExec` to vmops
  compiler/ast/ast_types.nim
  compiler/front/condsyms.nim
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmops.nim
  lib/system.nim
  tests/vm/tgorge.nim
Labels: refactor, compiler/vm

#901 nimsuggest: clean up `nimsuggest.nim.cfg`
  nimsuggest/nimsuggest.nim.cfg
Labels: refactor, tool

#902 refactoring suggest hooks, Config.writeHook default to msgs.msgWrite
  compiler/front/msgs.nim
  compiler/nim.nim
  compiler/tools/suggest.nim
  compiler/vm/vmrunner.nim
Labels: compiler, tool, simplification

#906 internal: make NDI mappings independent from `PSym`
  compiler/ast/ndi.nim
Labels: refactor, compiler/backend

#909 vm: Remove `mStaticExec` and `opcGorge`
  compiler/ast/ast_query.nim
  compiler/ast/ast_types.nim
  compiler/backend/jsgen.nim
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmgen.nim
Labels: compiler/vm, simplification

#911 remove disabled code in `modulepaths.nim`
  compiler/modules/modulepaths.nim
Labels: compiler, simplification

#898 tool: nimsuggest remove `terse` flag
  compiler/front/in_options.nim
  compiler/tools/suggest.nim
  nimsuggest/nimsuggest.nim
Labels: tool, simplification

#912 vm: restore the VM profiler
  compiler/vm/vm.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmprofiler.nim
  tests/compiler/tvmprofiler.nim
  tests/vm/tprofiler.nim
Labels: bug, refactor, compiler/vm

#913 vm: fix the profiler reporting wrong timings
  compiler/vm/vmprofiler.nim
  tests/compiler/tvmprofiler.nim
Labels: bug, compiler/vm

#908 suggest: `symToSuggest` limit data per `IdeCmd`
  compiler/tools/suggest.nim
Labels: tool, simplification

#907 internal: reorder `ParsedNodeKind` for range checks
  compiler/ast/ast_parsed_types.nim
Labels: refactor, compiler/lex-parse

#914 codegen: don't use `PSym` for locals
  compiler/backend/cbackend.nim
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/cgirutils.nim
  compiler/backend/compat.nim
  compiler/backend/jsbackend.nim
  compiler/backend/jsgen.nim
  compiler/sem/injectdestructors.nim
  compiler/utils/containers.nim
  compiler/vm/vmgen.nim
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
  tests/lang_objects/destructor/tv2_cast.nim
Labels: refactor, compiler/backend

#915 sem: reject illegal `break`/`continue` statements
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/sem.nim
  compiler/sem/semdata.nim
  compiler/sem/semexprs.nim
  compiler/sem/semfields.nim
  compiler/sem/semobjconstr.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtypes.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmlegacy.nim
  tests/lang_exprs/compiles/tcompiles_context.nim
  tests/lang_stmts/controlflow/tinvalid_control_flow.nim
  tests/lang_stmts/controlflow/tinvalid_control_flow_2.nim
Labels: bug, compiler/sem, language-design

#917 system: lower assigning-`new` directly
  compiler/ast/ast_query.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/jsgen.nim
  compiler/front/condsyms.nim
  compiler/mir/mirgen.nim
  compiler/sem/dfa.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/nilcheck.nim
  compiler/sem/semexprs.nim
  compiler/sem/sempass2.nim
  compiler/vm/vmgen.nim
  lib/system.nim
  tests/arc/tmovebug.nim
Labels: compiler/sem, compiler/backend, stdlib, simplification

#910 ci: Remove comments from PR description before merging
  .github/workflows/slash-command-merge.yml
Labels: ci

#920 suggest: remove template `origModuleName`
  compiler/tools/suggest.nim
Labels: refactor, tool, simplification

#921 suggest: remove unused procs `ensureIdx/Seq[T]`
  compiler/tools/suggest.nim
Labels: refactor, tool

#897 nimsuggest: make `def` work for all `import` syntaxes
  compiler/modules/importer.nim
  nimsuggest/tests/tdef_import.nim
Labels: bug, tool

#924 refactor: remove unused and duplicate imports
  compiler/ast/reports_sem.nim
  compiler/tools/suggest.nim
  compiler/utils/debugutils.nim
Labels: compiler

#918 transf: lower all unlabeled `break` statements
  compiler/backend/ccgstmts.nim
  compiler/backend/cgendata.nim
  compiler/backend/cgirgen.nim
  compiler/backend/cgirutils.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirtrees.nim
  compiler/sem/closureiters.nim
  compiler/sem/lambdalifting.nim
  compiler/sem/mirexec.nim
  compiler/sem/transf.nim
  compiler/vm/vmgen.nim
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_refcursors.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
  tests/compiler/tmir_exec.nim
Labels: compiler/backend, simplification

#923 Linewrap PR description to 72 chars automatically
  .github/pull_request_template.md
  .github/workflows/slash-command-merge.yml
  tests/tools/tci_format_pr_description.nim
  tools/ci_format_pr_description.js
Labels: ci

#926 Fix merge workflow
  .github/workflows/slash-command-merge.yml
Labels: ci

#925 sem: assign consistent `elif`/`else` node kinds
  compiler/sem/semfold.nim
  compiler/sem/semstmts.nim
  tests/lang_exprs/tif_stmt_regression.nim
Labels: bug, compiler/sem

#927 jsgen: better code generation for labeled blocks
  compiler/backend/jsgen.nim
Labels: compiler/backend

#928 mirgen: improve scope-only `block` support
  compiler/mir/mirgen.nim
  compiler/sem/closureiters.nim
  compiler/sem/lambdalifting.nim
  compiler/sem/lowerings.nim
  compiler/sem/transf.nim
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_refcursors.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
Labels: refactor, compiler/backend

#922 remove `ConfigRef.projectMainIdx2`
  compiler/backend/cbackend.nim
  compiler/backend/jsbackend.nim
  compiler/front/options.nim
  compiler/ic/cbackend.nim
  compiler/modules/modules.nim
Labels: refactor, compiler, simplification

#930 internal: remove obsolete `rsemWarnUnsafeCode`
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/sem/sempass2.nim
Labels: compiler, simplification

#931 fix(sem): crash on wrong symbol in definition slot
  compiler/sem/sem.nim
  compiler/sem/semtypes.nim
  tests/lang_callable/macros/tsymbol_must_match.nim
Labels: bug, compiler/sem
