Repository nim-works/nimskull, pull requests merged in 2023-02, with the labels that each got.

#522 ci: don't use deprecated `set-output` command
  .github/workflows/ci.yml
  .github/workflows/publisher.yml
  .github/workflows/reproducible.yml
Labels: refactor, ci

#526 transf: move the `ImplicitObjConv` hint to `sempass2`
  compiler/sem/sempass2.nim
  compiler/sem/transf.nim
Labels: refactor, compiler/sem

#527 disable flakey http test
  tests/stdlib/web/thttpclient.nim
Labels: stdlib, ci

#528 vmgen: small refactoring
  compiler/vm/vmgen.nim
  tests/vm/tslow_tables.nim
Labels: refactor, compiler/vm

#524 stdlib: split sexp module into sexp and sexp_parse
  lib/experimental/sexp.nim
  lib/experimental/sexp_parse.nim
  tests/stdlib/experimental/tsexp.nim
Labels: enhancement, stdlib

#525 stdlib: escape strings of S-Expressions
  lib/experimental/sexp.nim
  lib/experimental/sexp_diff.nim
  lib/experimental/sexp_parse.nim
  tests/stdlib/algorithm/tsexp_diff.nim
  tests/stdlib/experimental/tsexp.nim
Labels: stdlib

#523 perform `.closure` inference in `sempass2`
  compiler/ast/ast_query.nim
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/backend/cgen.nim
  compiler/front/cli_reporter.nim
  compiler/plugins/itersgen.nim
  compiler/sem/lambdalifting.nim
  compiler/sem/sem.nim
  compiler/sem/semexprs.nim
  compiler/sem/sempass2.nim
  compiler/sem/semstmts.nim
  compiler/vm/vmaux.nim
  compiler/vm/vmgen.nim
  tests/lang_callable/closure/tclosure.nim
  tests/lang_callable/closure/tclosure_issues.nim
  tests/lang_callable/closure/tillegal_comptime_capture.nim
  tests/lang_callable/closure/tlate_inference.nim
Labels: refactor, compiler, compiler/sem

#532 Saem exp sigmatch ast corruption
  compiler/ast/ast.nim
  compiler/sem/semexprs.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtypes.nim
  compiler/sem/sigmatch.nim
  compiler/utils/astrepr.nim
  compiler/vm/vm.nim
  compiler/vm/vmgen.nim
  tests/errmsgs/tmake_tuple_visible.nim
Labels: bug, compiler/sem

#534 governance: contributor guidelines change approval
  .github/contributing.rst
Labels: documentation

#535 vm: prepare for the `var`/address rework
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmgen.nim
Labels: refactor, compiler/vm

#538 vmgen: don't materialize unnecessary copies
  compiler/vm/vmgen.nim
Labels: refactor, compiler/vm

#540 `finally` block passing with same indent as expr
  compiler/ast/parser.nim
  tests/compiler_integration/parser/tpostexprblocks.nim
Labels: bug, compiler/lex-parse

#541 tests: introduce better category `lang_syntax
  tests/compiler_integration/readme.md
  tests/errmsgs/mb.nim
  tests/errmsgs/mc.nim
  tests/errmsgs/ta.nim
  tests/errmsgs/tconsttypemismatch.nim
  tests/lang_syntax/ast_pattern_matching.nim
  tests/lang_syntax/astspec/tastspec.nim
  tests/lang_syntax/lexer/mlexerutils.nim
  tests/lang_syntax/lexer/nim.cfg
  tests/lang_syntax/lexer/tcustom_numeric_literals.nim
  tests/lang_syntax/lexer/tident.nim
  tests/lang_syntax/lexer/tind1.nim
  tests/lang_syntax/lexer/tindent1.nim
  tests/lang_syntax/lexer/tintegerliterals.nim
  tests/lang_syntax/lexer/tinvalidintegerliteral1.nim
  tests/lang_syntax/lexer/tinvalidintegerliteral2.nim
  tests/lang_syntax/lexer/tinvalidintegerliteral3.nim
  tests/lang_syntax/lexer/tlexermisc.nim
  tests/lang_syntax/lexer/tmissingnl.nim
  tests/lang_syntax/lexer/tstrlits.nim
  tests/lang_syntax/lexer/tunary_minus.nim
  tests/lang_syntax/lexer/tunderscores.nim
  tests/lang_syntax/lexer/tunicode_operators.nim
  tests/lang_syntax/parser/tcommand_as_expr.nim
  tests/lang_syntax/parser/tdo.nim
  tests/lang_syntax/parser/tdoc_comments.nim
  tests/lang_syntax/parser/tdomulttest.nim
  tests/lang_syntax/parser/tifexprs.nim
  tests/lang_syntax/parser/tinvcolonlocation1.nim
  tests/lang_syntax/parser/tinvcolonlocation2.nim
  tests/lang_syntax/parser/tinvcolonlocation3.nim
  tests/lang_syntax/parser/tinvifstmt.nim
  tests/lang_syntax/parser/tinvwhen.nim
  tests/lang_syntax/parser/tletcolon.nim
  tests/lang_syntax/parser/tmultiline_comments.nim
  tests/lang_syntax/parser/toprprec.nim
  tests/lang_syntax/parser/tparse_confusing_identation.nim
  tests/lang_syntax/parser/tpostexprblocks.nim
  tests/lang_syntax/parser/tprecedence.nim
  tests/lang_syntax/parser/tproctype_pragmas.nim
  tests/lang_syntax/parser/tstatementoperators.nim
  tests/lang_syntax/parser/tstmtlists.nim
  tests/lang_syntax/parser/ttupleunpack.nim
  tests/lang_syntax/parser/ttypeclasses.nim
  tests/lang_syntax/parser/ttypemodifiers.nim
  tests/lang_syntax/parser/ttypeof.nim
  tests/lang_syntax/parser/twhen_in_enum.nim
  tests/lang_syntax/parser/twrongcmdsyntax.nim
  tests/lang_syntax/readme.md
  tests/stdlib/metaprogramming/tmacroerrorproc.nim
  tests/stylecheck/taccept.nim
  tests/stylecheck/treject.nim
  tests/stylecheck/tstyle_imports.nim
  tests/stylecheck/tusages.nim
Labels: test

#536 cgen: make `.global.`s work more according to spec
  compiler/backend/cgen.nim
  compiler/mir/mirgen.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/transf.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  tests/global/globalaux.nim
  tests/global/tglobal.nim
  tests/lang_objects/destructor/tdestructor_in_initializer.nim
Labels: refactor, compiler, compiler/backend

#542 sem: fix crash import from a non-existent symbol
  compiler/modules/importer.nim
  tests/modules/timportfromerr.nim
Labels: bug, compiler/sem

#543 internals: `P/TIdent` moved to the `idents` module
  compiler/ast/ast_types.nim
  compiler/ast/idents.nim
Labels: refactor

#545 report illegal branch switch during semantic analysis
  compiler/sem/injectdestructors.nim
  compiler/sem/sempass2.nim
  tests/lang_objects/destructor/tdisallow_branch_switch.nim
Labels: refactor, compiler

#450 compiler: make `injectdestructors` a MIR pass
  compiler/ast/ast_query.nim
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/ast/reports_sem.nim
  compiler/front/cli_reporter.nim
  compiler/mir/analysis.nim
  compiler/mir/mirbridge.nim
  compiler/mir/mirchangesets.nim
  compiler/mir/mirtrees.nim
  compiler/modules/magicsys.nim
  compiler/sem/aliasanalysis.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/mirexec.nim
  compiler/sem/optimizer.nim
  compiler/utils/containers.nim
  compiler/utils/cursors.nim
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_refcursors.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
  tests/arc/tstrformat.nim
  tests/compiler/tmir_exec.nim
  tests/lang_objects/destructor/mhelper.nim
  tests/lang_objects/destructor/teval_order.nim
  tests/lang_objects/destructor/tglobals.nim
  tests/lang_objects/destructor/tlate_use.nim
  tests/lang_objects/destructor/tlvalue_conversions.nim
  tests/lang_objects/destructor/tobjfield_analysis.nim
  tests/lang_objects/destructor/tself_assign.nim
  tests/lang_objects/destructor/ttuple_unpacking.nim
  tests/lang_objects/destructor/tv2_cast.nim
  tests/lang_objects/destructor/tview_ownership.nim
Labels: refactor, compiler, compiler/sem

#552 compiler: remove some unused routines and variables
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgliterals.nim
  compiler/backend/cgen.nim
  compiler/backend/jsgen.nim
  compiler/vm/packed_env.nim
  compiler/vm/vm.nim
  compiler/vm/vmchecks.nim
  compiler/vm/vmcompilerserdes.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmhooks.nim
  compiler/vm/vmobjects.nim
  compiler/vm/vmops.nim
  compiler/vm/vmprofiler.nim
Labels: compiler

#553 vm: support the return-value optimization
  compiler/vm/vm.nim
  compiler/vm/vmgen.nim
Labels: enhancement, compiler/vm

#533 Parser: remove report dependency
  compiler/ast/ast.nim
  compiler/ast/ast_parsed_types.nim
  compiler/ast/ast_query.nim
  compiler/ast/ast_types.nim
  compiler/ast/lexer.nim
  compiler/ast/lineinfos.nim
  compiler/ast/nimlexbase.nim
  compiler/ast/parser.nim
  compiler/ast/report_enums.nim
  compiler/ast/reports_parser.nim
  compiler/ast/syntaxes.nim
  compiler/ast/types.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/cgen.nim
  compiler/front/cli_reporter.nim
  compiler/front/commands.nim
  compiler/front/main.nim
  compiler/front/msgs.nim
  compiler/front/options.nim
  compiler/modules/modules.nim
  compiler/sem/semtypes.nim
  compiler/tools/docgen.nim
  compiler/utils/astrepr.nim
  compiler/utils/debugutils.nim
  compiler/vm/vmgen.nim
  nimsuggest/tests/tchk1.nim
  tests/compilerfeatures/tstructured_parse_fail.nim
  tests/lang_callable/macros/tvarargslen.nim
  tests/lang_syntax/parser/tparse_confusing_identation.nim
Labels: compiler, compiler/lex-parse, compiler/report

#554 types: fix all non-primitve types being treated as cyclic
  compiler/ast/types.nim
  compiler/backend/ccgtypes.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/liftdestructors.nim
  compiler/sem/semmagic.nim
  lib/pure/typetraits.nim
  lib/system/orc.nim
  tests/typerel/tcyclic.nim
Labels: bug, compiler, compiler/sem

#555 document how `--gc:arc` and `--gc:orc` work
  doc/gc.rst
Labels: documentation, enhancement

#558 compiler: replace `Rope`s with plain strings
  compiler/ast/ast.nim
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgreset.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/ccgthreadvars.nim
  compiler/backend/ccgtrav.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/cgen.nim
  compiler/backend/cgmeth.nim
  compiler/backend/extccomp.nim
  compiler/backend/jsgen.nim
  compiler/backend/jstypes.nim
  compiler/front/options.nim
  compiler/ic/ic.nim
  compiler/modules/depends.nim
  compiler/sem/pragmas.nim
  compiler/sem/semtypes.nim
  compiler/sem/sighashes.nim
  compiler/utils/ropes.nim
  compiler/vm/vmgen.nim
Labels: refactor, compiler/backend

#559 dev cmd: add `scan` compiler command
  compiler/front/commands.nim
  compiler/front/in_options.nim
  compiler/front/main.nim
Labels: compiler/lex-parse, utils
