Repository nim-works/nimskull, pull requests merged in 2023-05, with the labels that each got.

#630 compiler: default to `--gc:orc` for the C target
  compiler/front/cmdlinehelper.nim
  compiler/front/options.nim
  compiler/nim.nim
  compiler/vm/vmops.nim
  lib/pure/marshal.nim
  lib/system/iterators.nim
  nimsuggest/nimsuggest.nim
  testament/categories.nim
  tests/assign/tassign.nim
  tests/assign/tobject_assign.nim
  tests/ccgbugs/taddhigh.nim
  tests/ccgbugs/tassign_nil_strings.nim
  tests/ccgbugs/tcodegen_anonymous_aggregate.nim
  tests/ccgbugs/tcodegenbug1.nim
  tests/ccgbugs/tdeepcopy_addr_rval.nim
  tests/ccgbugs/tforward_decl_only.nim
  tests/ccgbugs/thtiobj.nim
  tests/ccgbugs/tmissinginit.nim
  tests/ccgbugs2/tinefficient_const_table.nim
  tests/dll/server.nim
  tests/lang_callable/macros/tstaticparamsmacro.nim
  tests/lang_objects/destructor/tatomicptrs.nim
  tests/lang_objects/destructor/tdestructor_in_initializer.nim
  tests/lang_objects/metatype/tstaticparammacro.nim
  tests/lang_objects/metatype/tstaticvector.nim
  tests/magics/tgc_ref_string.nim
  tests/magics/tmagics.nim
  tests/misc/taddr.nim
  tests/misc/tunsignedconv.nim
  tests/realtimeGC/tmain.nim
  tests/stdlib/algorithm/trepr.nim
  tests/stdlib/formats/tmarshal.nim
  tests/stdlib/formats/tmarshal_memory_corruption.nim
  tests/stdlib/formats/tmitems.nim
  tests/stdlib/metaprogramming/mgenast.nim
  tests/stdlib/types/collections/tseq.nim
  tests/stdlib/types/tpackedsets.nim
  tests/system/tdeepcopy.nim
  tests/threads/tonthreadcreation.nim
  tests/typerel/ttypedesc_as_genericparam1.nim
  tests/typerel/ttypedesc_as_genericparam2.nim
  tests/vm/taddrof.nim
Labels: enhancement, test, compiler, compiler/backend

#681 magics: move `compileroption` to `magicsafteroverloadresolution`
  compiler/front/scripting.nim
  compiler/sem/semfold.nim
  compiler/sem/semmagic.nim
  compiler/sem/semstmts.nim
  tests/misc/tsystem_compileoption_err1.nim
  tests/misc/tsystem_compileoption_err2.nim
Labels: refactor, compiler/sem

#683 IC: fix the code generator crashing
  compiler/ic/cbackend.nim
Labels: bug, compiler/backend

#684 IC: fix an internal loading bug
  compiler/ic/ic.nim
  compiler/ic/replayer.nim
  tests/ic/mdeferred_items_1.nim
  tests/ic/mdeferred_items_2.nim
  tests/ic/tdeferred_items.nim
Labels: bug, compiler

#682 static `try` void-expression no longer crashes
  compiler/ast/ast_types.nim
  compiler/sem/semdata.nim
  compiler/sem/semstmts.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/vm.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmutils.nim
  tests/lang_stmts/static_stmt/tstatic_stmt.nim
Labels: bug, compiler/sem, compiler/vm

#686 sem: process `mEnumToStr` earlier
  compiler/ast/enumtostr.nim
  compiler/backend/ccgexprs.nim
  compiler/sem/semmagic.nim
Labels: compiler/sem, compiler/backend, simplification

#688 tester: escape strings in EPC mode
  nimsuggest/tester.nim
Labels: bug, tool

#689 reports: remove most CLI/cfg related legacy
  compiler/ast/report_enums.nim
  compiler/ast/reports_external.nim
  compiler/front/cli_reporter.nim
  compiler/front/main.nim
  compiler/nim.nim
Labels: refactor, compiler

#690 cgen: unify field defect raising
  compiler/backend/ccgexprs.nim
  lib/system/chcks.nim
  tests/misc/tfield_defect_message.nim
  tests/misc/trunner.nim
Labels: refactor, compiler/backend

#685 IC: support type-bound operators and `--gc:orc`
  compiler/backend/ccgexprs.nim
  compiler/backend/cgen.nim
  compiler/ic/cbackend.nim
  compiler/ic/dce.nim
  compiler/ic/ic.nim
  compiler/ic/integrity.nim
  compiler/ic/packed_ast.nim
  compiler/ic/replayer.nim
  compiler/modules/modulegraphs.nim
  compiler/sem/lambdalifting.nim
  compiler/sem/liftdestructors.nim
  testament/categories.nim
Labels: enhancement, compiler, compiler/backend

#687 front: centralize backend-specific customization
  compiler/front/cmdlinehelper.nim
  compiler/front/main.nim
  compiler/nim.nim
  nimsuggest/nimsuggest.nim
  nimsuggest/tests/tbackend_defines.nim
  tests/errmsgs/tsigmatch.nim
  tests/lang_callable/generics/tinstantiation_with_type_alias.nim
Labels: bug, refactor, compiler

#692 compiler: add the `native` GC option
  compiler/front/in_options.nim
  compiler/front/main.nim
  compiler/front/optionsprocessor.nim
  doc/advopt.txt
  doc/gc.rst
Labels: documentation, enhancement, compiler

#694 cgen: remove leftover Genode support
  compiler/backend/ccgexprs.nim
  compiler/backend/cgen.nim
Labels: compiler/backend, simplification

#696 Make the new `native` gc internal only
  compiler/front/main.nim
  compiler/front/optionsprocessor.nim
  doc/advopt.txt
  doc/gc.rst
Labels: compiler, simplification

#697 lambdalifting: ignore AST literals for var capture
  compiler/sem/lambdalifting.nim
  compiler/sem/sempass2.nim
  tests/lang_callable/macros/tnodeliteral.nim
Labels: bug, compiler/sem

#699 chore: remove compiler build warning
  compiler/front/options.nim
Labels: compiler

#698 remove legacy condsyms
  compiler/front/condsyms.nim
  compiler/vm/vm.nim
  lib/system/gc.nim
  lib/system/inclrtl.nim
  lib/system/sysstr.nim
Labels: compiler, stdlib, simplification

#700 sets: add union and diff for single elements
  lib/system/setops.nim
Labels: enhancement, stdlib

#702 sem: refactor `newSymGNode` replaces `newSymG`
  compiler/sem/sem.nim
  compiler/sem/semexprs.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtypes.nim
Labels: refactor, compiler/sem

#647 sigmatch: simpler procedural type matching
  compiler/ast/ast_types.nim
  compiler/sem/sem.nim
  compiler/sem/semexprs.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtypinst.nim
  compiler/sem/sigmatch.nim
  tests/lang_callable/generics/tgeneric_intantiation_outside_call.nim
  tests/lang_callable/generics/tgeneric_procedure_cannot_assigned.nim
  tests/typerel/tproc_type_inference_1.nim
  tests/typerel/tproc_type_inference_2.nim
Labels: bug, enhancement, refactor, compiler/sem, simplification

#703 cgendata: remove unused fields
  compiler/backend/ccgstmts.nim
  compiler/backend/cgendata.nim
Labels: compiler/backend, simplification

#704 linter: remove nep-1
  compiler/ast/ast_types.nim
  compiler/ast/linter.nim
  compiler/front/in_options.nim
  compiler/front/optionsprocessor.nim
  doc/advopt.txt
  lib/pure/dynlib.nim
  lib/pure/includes/osenv.nim
  lib/pure/os.nim
  tests/stylecheck/taccept.nim
  tests/stylecheck/tlinter.nim
  tests/stylecheck/treject.nim
Labels: documentation, refactor, compiler, simplification

#705 injectdestructors: keep the relative order of definitions
  compiler/sem/injectdestructors.nim
  tests/arc/topt_no_cursor.nim
  tests/lang_objects/destructor/tv2_cast.nim
Labels: bug, compiler

#706 cgen: fix a `FieldDefect` crash
  compiler/backend/cgen.nim
Labels: bug, compiler/backend

#707 parser: remove unused `pnkImportAs` node kind
  compiler/ast/ast.nim
  compiler/ast/ast_parsed_types.nim
  compiler/ast/ast_types.nim
  compiler/ast/parser.nim
Labels: bug, compiler/lex-parse, simplification

#711 vmbackend: basic support for lifetime hooks
  compiler/vm/vmbackend.nim
  compiler/vm/vmgen.nim
  tests/lang_objects/destructor/tdestructor_before_init_requireinit.nim
  tests/lang_objects/destructor/tdestructor_manual_invocation.nim
  tests/lang_objects/destructor/tduplicate_local.nim
  tests/lang_objects/destructor/teval_order.nim
  tests/lang_objects/destructor/tglobaldestructor.nim
  tests/lang_objects/destructor/tglobals.nim
  tests/lang_objects/destructor/tlate_use.nim
  tests/lang_objects/destructor/tself_assign.nim
  tests/lang_objects/destructor/ttuple_unpacking.nim
  tests/lang_objects/destructor/tuse_result_prevents_sinks.nim
  tests/lang_stmts/for_stmt/tforloop_tuple_unpacking.nim
Labels: enhancement, compiler/backend, compiler/vm

#709 parser: graceful keyword in ident position error
  compiler/ast/lexer.nim
  compiler/ast/parser.nim
Labels: bug, compiler/lex-parse

#708 linter: remove `usages` option
  compiler/ast/linter.nim
  compiler/front/in_options.nim
  compiler/front/options.nim
  compiler/front/optionsprocessor.nim
  doc/advopt.txt
  tests/stylecheck/tusages.nim
Labels: compiler, simplification

#712 use whole-program code-generation for all backends
  compiler/backend/cbackend.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/collectors.nim
  compiler/backend/jsbackend.nim
  compiler/backend/jsgen.nim
  compiler/front/main.nim
  compiler/modules/modulegraphs.nim
  compiler/utils/containers.nim
  compiler/vm/vmbackend.nim
  tests/overflw/toverflw.nim
Labels: compiler, compiler/backend, simplification

#713 Saem specs update test organization
  compiler/ast/lexer.nim
  compiler/ast/report_enums.nim
  compiler/ast/reports_lexer.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  testament/specs.nim
  tests/lang/readme.md
  tests/lang/s00_bootstrap/readme.md
  tests/lang/s00_bootstrap/t01_empty_module.nim
  tests/lang/s00_bootstrap/t02_line_comments.nim
  tests/lang/s00_bootstrap/t03_builtins_discard.nim
  tests/lang/s00_bootstrap/t04_literal_strings.nim
  tests/lang/s00_bootstrap/t05_block_indentation.nim
  tests/lang/s00_bootstrap/t06_block_label_identifiers.nim
  tests/lang/s00_bootstrap/t07_a_invalid_identifier_double_underscore.nim
  tests/lang/s00_bootstrap/t07_b_invalid_identifier_underscore_tail.nim
  tests/lang/s00_bootstrap/t07_c_invalid_identifier_no_numeric_start.nim
  tests/lang/s00_bootstrap/t08_builtins_echo.nim
  tests/lang/s00_bootstrap/t09_string_literal_escape_sequences.nim
  tests/lang/s00_bootstrap/t10_builtins_doAssert_bool_literals_expressions.nim
  tests/lang/s01_basics/s02_identifiers/t03_underscore_double_as_trailing_comp_fail.nim
  tests/lang/s01_basics/s03_literals/s1_string/t01_escape_sequences_unicode.nim
Labels: refactor, test, compiler

#715 refactor the `collectors` module
  compiler/backend/cbackend.nim
  compiler/backend/jsbackend.nim
  compiler/front/main.nim
  compiler/sem/collectors.nim
  compiler/vm/vmbackend.nim
Labels: refactor, compiler/backend

#717 fix compiler debug tracing
  compiler/sem/pragmas.nim
  compiler/sem/semstmts.nim
Labels: compiler

#721 cgen: minor code cleanup
  compiler/backend/cbackend.nim
  compiler/backend/ccgtypes.nim
Labels: refactor, compiler/backend

#716 error on distinct or tuple type recursion
  compiler/ast/ast.nim
  compiler/modules/magicsys.nim
  compiler/sem/semdata.nim
  compiler/sem/semtypes.nim
  tests/lang_callable/overload/toverload_issues.nim
  tests/lang_defs/distinct/tdistinct_disallow_recursion.nim
  tests/lang_objects/objects/tillegal_inheritance_recursion.nim
  tests/lang_types/array/tarray_disallow_recursion.nim
  tests/lang_types/tuples/ttuple_disallow_recursion.nim
  tests/lang_types/typeclass/ttypeclass_disallow_recursion.nim
Labels: bug, spec, compiler/sem

#724 lambdalifting: improve generated environment setup code
  compiler/sem/lambdalifting.nim
  lib/system.nim
Labels: refactor, compiler/sem, simplification

#719 fix(bootstrap/cli): `nim -v` shows git hash
  compiler/ast/llstream.nim
  compiler/front/commands.nim
  compiler/nim.nim
  compiler/sem/pragmas.nim
  doc/koch.rst
  doc/nimc.rst
  tests/threads/tthread_destroy_before_finish.nim
  tests/threads/tthread_destroy_running.nim
  tools/koch/koch.nim
Labels: enhancement, compiler

#731 transf: fix inlining iterators into `closure` iterators
  compiler/sem/lambdalifting.nim
  compiler/sem/lowerings.nim
  tests/lang_callable/iter/tmultiple_inlined_in_closure_iter.nim
Labels: bug, compiler/sem

#730 parser: fix a use-after-free bug
  compiler/ast/parser.nim
Labels: bug, compiler/lex-parse

#725 lambdalifting: overhaul the implementation
  compiler/ast/ast_query.nim
  compiler/sem/closureiters.nim
  compiler/sem/lambdalifting.nim
  compiler/sem/transf.nim
  tests/lang_callable/closure/tclosure.nim
Labels: bug, refactor, compiler/sem, simplification

#722 std/parseopt: only parses command arg vectors
  compiler/front/cmdlinehelper.nim
  compiler/front/commands.nim
  compiler/nim.nim
  lib/pure/os.nim
  lib/pure/parseopt.nim
  nimsuggest/nimsuggest.nim
  testament/testament.nim
  tests/compilerunits/confread/tcli_parsing.nim
  tests/compilerunits/confread/treport_filtering.nim
  tests/misc/tparseopt.nim
  tests/system/tparams.nim
  tests/test_nimscript.nims
  tools/koch/koch.nim
  tools/niminst/niminst.nim
  tools/release_manifest.nim
Labels: stdlib
