Repository nim-works/nimskull, pull requests merged in 2024-08, with the labels that each got.

#1393 macros: make `quote` a proper quasi-quoting operator
  compiler/ast/ast_types.nim
  compiler/sem/semexprs.nim
  compiler/sem/sempass2.nim
  compiler/sem/varpartitions.nim
  compiler/vm/vmgen.nim
  lib/core/macros.nim
  lib/experimental/ast_pattern_matching.nim
  lib/js/asyncjs.nim
  lib/js/jsffi.nim
  lib/std/jsonutils.nim
  lib/std/tasks.nim
  lib/std/wrapnils.nim
  tests/lang_callable/macros/t7875.nim
  tests/lang_callable/macros/tmacro6.nim
  tests/lang_stmts/defer/tdefer_malformed_many_children.nim
  tests/misc/tsizeof.nim
Labels: enhancement, compiler/sem, lang/macro

#1396 fix a compiler crash with `.varargs` proc types
  compiler/mir/mirtypes.nim
  tests/ccgbugs/tvarargs_proc_type.nim
Labels: bug, compiler/backend

#1397 fix C compilation errors with closures and nested types
  compiler/sem/sighashes.nim
  tests/lang_objects/destructor/tseparate_hooks1.nim
  tests/lang_objects/destructor/tseparate_hooks2.nim
Labels: bug, compiler/sem

#1398 mirtypes: fix regression with cyclic generic object types
  compiler/mir/mirtypes.nim
  tests/lang_callable/generics/tequal_instantiation_with_tuple.nim
Labels: bug, compiler/backend

#1399 cgirgen: instrument with `frameMsg`
  compiler/backend/ccgexprs.nim
  compiler/backend/cgirgen.nim
  compiler/utils/debugutils.nim
  compiler/vm/vmgen.nim
Labels: compiler, compiler/backend

#1402 fix wrong hooks being picked for tuple types
  compiler/sem/sighashes.nim
  tests/lang_objects/destructor/ttuple_hook_synthesis_issue.nim
Labels: bug, compiler/sem

#1403 sem: fix error propagation for tuple construction
  compiler/sem/semexprs.nim
  tests/errmsgs/tmixed_tuple.nim
Labels: bug, compiler/sem

#1404 fix compiler crash when converting `nil` to `distinct pointer`
  compiler/sem/semfold.nim
  compiler/sem/transf.nim
  tests/lang_exprs/tnil_to_distinct_conversion.nim
Labels: bug, compiler/sem

#1408 vmgen: respect overflow checks for 64-bit negation
  compiler/vm/vmgen.nim
  tests/overflw/tunchecked_negation_32.nim
  tests/overflw/tunchecked_negation_64.nim
Labels: bug, compiler/backend

#1409 vmgen: fix incorrect code generation for `lent`/`var` deref
  compiler/vm/vmgen.nim
  tests/vm/tvmgen_regressions.nim
Labels: bug, compiler/backend

#1400 ci: build and test the compiler with GCC 14
  .github/workflows/compatibility.yml
  tests/lang/s02_core/s02_procedures/t02_argument_passing.nim
  tests/lang/s02_core/s02_procedures/t02_argument_passing_bug.nim
  tests/lang_experimental/views/tprocedural_views.nim
  tests/lang_experimental/views/tprocedural_views_in_tuple.nim
Labels: test, ci

#1414 fix double-free and compiler crash
  compiler/sem/sem.nim
  tests/lang_exprs/tempty_typed_expressions.nim
  tests/lang_types/tuples/tsink_generic_tuple_assignment.nim
Labels: bug, compiler/sem

#1418 fix regression with imported `distinct` types
  compiler/mir/mirtypes.nim
  tests/ccgbugs/timport_distinct.nim
Labels: bug, compiler/backend

#1420 reject overloads that require conversion in `var` position
  compiler/sem/sigmatch.nim
  tests/errmsgs/timplicit_conversion_var_parameter.nim
Labels: bug, compiler/sem

#1422 fix missing destruction when discarding complex expression
  compiler/mir/mirgen.nim
  tests/lang_objects/destructor/tdestroy_discarded_complex.nim
Labels: bug, compiler/backend

#1423 strutils: fix buffer overflow in formatBiggestFloat
  lib/pure/strutils.nim
Labels: bug, stdlib

#1427 sempass2: lift capture restriction
  compiler/sem/sempass2.nim
  tests/lang_callable/closure/tclosure.nim
Labels: compiler/sem, language-design

#1426 macros: add `stamp` for unquoting a template body
  lib/core/macros.nim
  tests/stdlib/macros/tstamp.nim
Labels: enhancement, stdlib

#1432 fix: import current dir relative modules
  compiler/modules/importer.nim
  tests/lang_stmts/importstmt/timport_relative.nim
  tests/lang_stmts/importstmt/ttyped_import_nimskull757.nim
  tests/lang_stmts/importstmt/ttyped_import_nimskull757_knownissues.nim
Labels: bug, compiler/sem

#1433 sem: fix type inference for `static` parameters
  compiler/sem/evaltempl.nim
  compiler/sem/sem.nim
  compiler/sem/semdata.nim
  compiler/sem/semexprs.nim
  compiler/sem/sigmatch.nim
  tests/lang_callable/converter/tconverter_for_static_param.nim
  tests/lang_exprs/tempty_typed_expressions.nim
Labels: bug, compiler/sem

#1435 openssl, net: remove openssl pre-1.1.1 and libressl support
  .github/workflows/ci.yml
  lib/pure/net.nim
  lib/wrappers/openssl.nim
Labels: refactor, stdlib

#1438 net: add support for Windows certificate store
  .github/workflows/ci.yml
  lib/pure/net.nim
  lib/pure/ssl_certs.nim
  lib/wrappers/openssl.nim
Labels: enhancement, stdlib

#1437 fix(sem): errors in lambdas no longer crash
  compiler/sem/semstmts.nim
  compiler/sem/sigmatch.nim
  tests/lang_callable/generics/tauto_inference_failure_due_to_body_error.nim
Labels: bug, compiler/sem

#1441 fix: compiler crash when compiling for iOS
  compiler/mir/mirgen.nim
Labels: bug, compiler/backend
