Repository nim-works/nimskull, pull requests merged in 2024-01, with the labels that each got.

#1073 internal: improve VM's object serialization
  compiler/vm/vmcompilerserdes.nim
Labels: compiler/backend, simplification

#1078 vm: fix spurious access violation errors
  compiler/vm/vm.nim
Labels: bug, compiler/vm

#1079 vmgen: use less temporary registers
  compiler/vm/vmgen.nim
Labels: compiler/backend

#1080 remove obsolete VM-related reports
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/vm.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmrunner.nim
Labels: compiler, simplification

#1083 testament: support `\0` byte in output comparison
  testament/testament.nim
  testament/tests/shouldfail/toutput_null_byte.nim
  tests/testament/tshould_not_work.nim
Labels: bug, tool

#1076 mir: separate index/bound checks from array access
  compiler/ast/ast_types.nim
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirtrees.nim
  compiler/sem/ast_analysis.nim
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmgen.nim
  doc/mir.rst
  lib/system/jssys.nim
  tests/lang_objects/destructor/tdestruction_when_checks_failed.nim
  tests/lang_objects/destructor/tv2_cast.nim
  tests/magics/ttoopenarray.nim
  tests/misc/ttoopenarray_array_bound_checks.nim
  tests/system/tsystem_misc.nim
Labels: bug, refactor, compiler/backend, compiler/vm

#1082 tests: enable the `exceptions` category for all targets
  testament/testament.nim
  tests/exception/tassignment.nim
  tests/exception/tasync_stacktrace_gc.nim
  tests/exception/tcontinuexc.nim
  tests/exception/tdefer1.nim
  tests/exception/tdont_overwrite_typename.nim
  tests/exception/texcas.nim
  tests/exception/texception_inference.nim
  tests/exception/texception_message_null_byte.nim
  tests/exception/texception_name.nim
  tests/exception/texception_name_vm_issue.nim
  tests/exception/texceptions.nim
  tests/exception/texceptions2.nim
  tests/exception/texcpt1.nim
  tests/exception/tfinally.nim
  tests/exception/tfinally2.nim
  tests/exception/tfinally3.nim
  tests/exception/tnestedreturn.nim
  tests/exception/tsetexceptions.nim
  tests/exception/tunhandled_in_non_main.nim
  tests/exception/tunhandledexc.nim
  tests/exception/twrongexc.nim
Labels: test

#1077 vmgen: faster output and improved `openArray` support
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmgen.nim
  tests/lang_types/openarray/topenarray_assign_array_element.nim
  tests/lang_types/openarray/topenarray_assign_tuple_field.nim
Labels: bug, enhancement, compiler/backend, compiler/vm

#1081 internal: all magic procedures use `mnkMagic`
  compiler/backend/backends.nim
  compiler/backend/cbackend.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/cgen.nim
  compiler/backend/cgirgen.nim
  compiler/backend/jsbackend.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirbridge.nim
  compiler/mir/mirgen.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_refcursors.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
  tests/lang_objects/destructor/tv2_cast.nim
Labels: refactor, compiler/backend

#1084 mir: separate field checks from variant access
  compiler/ast/ast_types.nim
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/cgen.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/compat.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirgen.nim
  compiler/vm/vmgen.nim
  tests/lang_objects/destructor/tdestruction_when_checks_failed.nim
  tests/lang_objects/objvariant/tnested_variant_rtchecks.nim
Labels: bug, compiler/backend, simplification

#1085 backends: refactor the `process` iterator
  compiler/backend/backends.nim
  compiler/backend/cbackend.nim
  compiler/backend/jsbackend.nim
  compiler/vm/vmbackend.nim
Labels: refactor, compiler/backend

#1086 omit index checks when no index error is possible
  compiler/backend/ccgexprs.nim
  compiler/mir/mirgen.nim
  compiler/sem/ast_analysis.nim
Labels: enhancement, compiler/backend

#1087 mir: remove support the `def <proc>` syntax
  compiler/backend/cgirgen.nim
  compiler/mir/mirgen.nim
  compiler/sem/injectdestructors.nim
Labels: compiler, simplification

#1088 jsgen: small magic code-gen cleanup
  compiler/backend/jsgen.nim
Labels: refactor, compiler/backend

#1089 lower `inc` and `dec` into assignments
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirgen.nim
  compiler/vm/vmgen.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
  tests/misc/trangechecks.nim
  tests/overflw/tdistinct_range.nim
Labels: compiler/backend, simplification, language-design

#1090 fix: MIR passes not being applied
  compiler/backend/backends.nim
  compiler/sem/modulelowering.nim
  tests/misc/tmissing_lowering_passes.nim
Labels: bug, compiler/backend

#1093 mir: introduce `MirBody`
  compiler/backend/backends.nim
  compiler/backend/cbackend.nim
  compiler/backend/cgirgen.nim
  compiler/mir/mirbodies.nim
  compiler/mir/mirbridge.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirpasses.nim
  compiler/sem/injectdestructors.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmjit.nim
Labels: refactor, compiler/backend

#1095 fix(cgen): C compiler error with closures
  compiler/backend/ccgexprs.nim
  tests/ccgbugs/tmissing_function_cast.nim
  tests/ccgbugs/tmissing_function_cast.nim.cfg
Labels: bug, compiler/backend

#1097 transf: drop not needed wrapping expressions
  compiler/mir/mirgen.nim
  compiler/sem/transf.nim
Labels: compiler/backend

#1096 cgir: split lvalue-conversion meaning from `cnkConv`
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/compat.nim
  compiler/backend/jsgen.nim
  compiler/vm/vmgen.nim
Labels: compiler/backend

#1098 cgen: refactor `genDollar`
  compiler/backend/ccgexprs.nim
Labels: refactor, compiler/backend

#1099 fix(sem): don't fold away `proc` casts
  compiler/sem/semfold.nim
  compiler/vm/vmgen.nim
  tests/misc/tdont_fold_procedure_cast.nim
Labels: bug, compiler/sem

#1091 sem: `semFor` no longer mutates input AST
  compiler/sem/sem.nim
  compiler/sem/semfields.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtypes.nim
  tests/lang_callable/macros/t7454_return_error_sym_if_expect_typeddesc_but_none_provided.nim
Labels: refactor, compiler/sem

#1092 debug: improve compiler tracing line info
  compiler/sem/semexprs.nim
  compiler/sem/semmagic.nim
  compiler/utils/astrepr.nim
  compiler/utils/debugutils.nim
Labels: compiler, utils

#1103 mir: don't use `mnkStdConv` for string conversions
  compiler/ast/ast_types.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirgen.nim
  compiler/vm/vmgen.nim
Labels: refactor, compiler/backend

#1101 koch, niminst: move csources bundle tag location
  .github/workflows/ci.yml
  .github/workflows/reproducible.yml
  koch.py
  tools/niminst/niminst.nim
Labels: bug, utils

#1105 ci: put release archive and metadata in the same prefix
  .github/workflows/ci.yml
Labels: bug, ci

#1107 osproc: don't allocate memory during fork-exec
  lib/pure/osproc.nim
Labels: bug, stdlib

#1106 fix(orc): cycle collection causing heap corruption
  lib/system/orc.nim
  tests/arc/tcollect_in_destroy.nim
  tests/arc/tcycle_test.nim
  tests/arc/tcycle_test_acyclic_annotation.nim
Labels: bug, runtime

#1094 mir: separate type checks from object conversion
  compiler/ast/ast_types.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirgen.nim
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmgen.nim
  tests/lang/s02_core/s01_user_defined_data_types/t03_inheritance.nim
  tests/lang_exprs/trequired_conversion_error.nim
  tests/lang_objects/destructor/tdestruction_when_checks_failed.nim
  tests/types/tinheritance_conversion.nim
Labels: bug, compiler/backend

#1111 sem: ill-formed sym in `for` produces an error
  compiler/sem/semstmts.nim
  tests/lang_stmts/for_stmt/tfor_ill_formed_sym.nim
Labels: bug, compiler/sem

#1116 fix(sem): AST corruption with type expressions
  compiler/sem/semexprs.nim
  tests/lang_exprs/ttype_expr_ast_corruption.nim
Labels: bug, compiler/sem

#1119 cmdlinehelper: increment errorCounter on config parse error
  compiler/front/cmdlinehelper.nim
  tests/errmsgs/tconfig_error.nim
  tests/errmsgs/tconfig_error.nim.cfg
Labels: bug, compiler/msgs

#1118 tests: run more tests with all targets by default
  testament/testament.nim
  tests/align/talign.nim
  tests/arithm/tarithm.nim
  tests/arithm/tashr.nim
  tests/arithm/tdiv.nim
  tests/assert/tassert.nim
  tests/assert/tassert_c.nim
  tests/assert/tunittests.nim
  tests/assign/tassign.nim
  tests/assign/tcall_with_rvo.nim
  tests/assign/tin_place_construction.nim
  tests/assign/tobject_assign.nim
  tests/assign/toverload_asgn2.nim
Labels: refactor, test

#1104 compiler, ci: remove acyclic and run leak tests
  .github/workflows/leak.yml
  compiler/ast/ast_parsed_types.nim
  compiler/ast/ast_types.nim
  compiler/ast/idents.nim
  compiler/backend/cgir.nim
  compiler/front/main.nim
  compiler/front/options.nim
  compiler/modules/modulegraphs.nim
  compiler/sem/semdata.nim
  compiler/sem/semtypinst.nim
  compiler/utils/btrees.nim
  nimsuggest/nimsuggest.nim
  tools/koch/koch.nim
Labels: compiler, ci

#1121 compiler: enable ORC when running the leak test
  .github/workflows/leak.yml
  compiler/front/main.nim
Labels: compiler, ci

#1122 mirpasses: better elision of temporaries
  compiler/mir/mirgen.nim
  compiler/mir/mirpasses.nim
  tests/js/tjsffi.nim
Labels: enhancement, compiler/backend

#1124 sem: clarify macro pragma with bad inputs error
  compiler/ast/errorhandling.nim
  compiler/sem/evaltempl.nim
  compiler/sem/sigmatch.nim
  tests/errmsgs/tsigmatch.nim
  tests/lang_callable/macros/tpragmamacros_typed_errmsg.nim
  tests/lang_callable/macros/tpragmamacros_varargs_typed_errmsg.nim
  tests/lang_callable/overload/tuntyped_overload_tie_with_typed_with_error.nim
Labels: test, compiler/sem, compiler/msgs

#1126 fix: setup emulated TLS before anything else
  compiler/backend/cbackend.nim
  compiler/backend/cgen.nim
Labels: bug, compiler/backend

#1127 compiler: restore `.acyclic` annotation where possible
  compiler/ast/ast_parsed_types.nim
  compiler/ast/ast_types.nim
  compiler/ast/idents.nim
  compiler/sem/semdata.nim
  compiler/sem/semtypinst.nim
  compiler/utils/btrees.nim
Labels: compiler

#1128 niminst: use 7-Zip to create zip archives
  tools/niminst/niminst.nim
Labels: compiler, tool, ci

#1129 shellrunner: add Windows support
  lib/experimental/shellrunner.nim
  lib/pure/osproc.nim
Labels: enhancement, stdlib

#1133 sem: avoid excess argument analysis for overloads
  compiler/sem/sigmatch.nim
  tests/errmsgs/tmake_tuple_visible.nim
Labels: refactor, compiler/sem

#1130 testament: don't close Process before reading exit code
  testament/testament.nim
Labels: bug, utils

#1131 tests: avoid importing posix on non-POSIX systems
  tests/effects/tstrict_funcs_imports.nim
  tests/stylecheck/tstyle_imports.nim
Labels: refactor, test

#1132 mir: use IDs for more entities
  compiler/backend/backends.nim
  compiler/backend/cbackend.nim
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/ccgthreadvars.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/cgirutils.nim
  compiler/backend/compat.nim
  compiler/backend/jsbackend.nim
  compiler/backend/jsgen.nim
  compiler/mir/analysis.nim
  compiler/mir/mirbridge.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirenv.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirtrees.nim
  compiler/mir/utils.nim
  compiler/sem/aliasanalysis.nim
  compiler/sem/injectdestructors.nim
  compiler/utils/containers.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
  compiler/vm/vmjit_checks.nim
Labels: refactor, compiler/backend

#1136 tracing: fix step for `(type, node) -> type`
  compiler/utils/debugutils.nim
Labels: bug, compiler, utils

#1135 sem: `auto`/inferred lambdas generate valid AST
  compiler/ast/ast_types.nim
  compiler/ast/errorhandling.nim
  compiler/sem/evaltempl.nim
  compiler/sem/liftdestructors.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtypes.nim
Labels: bug, compiler/sem

#1138 fix(vmbackend): run-time errors with non-zero-based sets
  compiler/vm/packed_env.nim
  compiler/vm/vmbackend.nim
  tests/stdlib/types/sets/tsets.nim
Labels: bug, compiler/backend

#1137 mir: don't use `mnkPNode` for `except` branches
  compiler/backend/cgirgen.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirgen.nim
  doc/mir.rst
Labels: refactor, compiler/backend

#1139 mir: separate constants from constant data
  compiler/backend/backends.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/jsgen.nim
  compiler/mir/datatables.nim
  compiler/mir/mirenv.nim
  compiler/mir/mirtrees.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
Labels: compiler/backend

#1141 jscore: remove `copyWith`
  lib/js/jscore.nim
Labels: stdlib

#1142 fix(vm): access check not failing
  compiler/vm/vm.nim
  compiler/vm/vmmemory.nim
  tests/vm/tconst_seq_crash.nim
  tests/vm/tempty_seq_access_bug.nim
Labels: bug, compiler/vm

#1140 mirgen: lift constant expressions
  compiler/backend/backends.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgliterals.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirenv.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirtrees.nim
  compiler/mir/utils.nim
  compiler/sem/injectdestructors.nim
  compiler/vm/packed_env.nim
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/ccgbugs/tconst_seq_leak.nim
  tests/lang_experimental/views/tsplit_into_seq.nim
Labels: bug, compiler/backend, simplification

#1120 fix(cgen): run-time heap corruption with static `seq`
  compiler/backend/ccgexprs.nim
  tests/ccgbugs/tseq_construction_bug.nim
Labels: bug, compiler/backend

#1143 transf: improve `case` statement transform
  compiler/mir/mirgen.nim
  compiler/sem/transf.nim
Labels: compiler

#1146 pragmas: unknown hint/warning name is not an error
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/sem/pragmas.nim
  tests/errmsgs/tinvalidpragma.nim
  tests/errmsgs/tunknown_hint.nim
  tests/errmsgs/tunknown_warning.nim
Labels: compiler/sem

#1147 disallow string range as `of` label
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/sem/semtypes.nim
  tests/errmsgs/tstring_range.nim
  tests/lang_stmts/casestmt/tcasestmt.nim
  tests/vm/tcasestmt.nim
Labels: test, compiler/sem, language-design

#1148 vm: implement `case string` in bytecode
  compiler/vm/packed_env.nim
  compiler/vm/vm.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmutils.nim
Labels: compiler/vm, simplification

#1123 ci: add Windows builds using MinGW toolchain
  .gitattributes
  .github/actions/download-compiler/action.yml
  .github/actions/setup-mingw/action.yml
  .github/actions/upload-compiler/action.yml
  .github/workflows/ci.yml
  compiler/installer.ini
  compiler/nim.cfg
  config/nim.cfg
  lib/posix/posix_utils.nim
  lib/wrappers/pcre.nim
  lib/wrappers/sqlite3.nim
  nimsuggest/nimsuggest.nim.cfg
  nimsuggest/tester.nim
  tests/arc/timportedobj.nim
  tests/compiler/tvmprofiler.nim
  tests/compilerfeatures/tstructured_parse_fail.nim
  tests/lang/s05_pragmas/s02_misc/t01_ident_pragmas.nim
  tests/lang_experimental/concepts/tconcepts_issues.nim
  tests/stdlib/os/tfdleak_multiple.nim
  tests/stdlib/os/tosproc.nim
  tools/koch/koch.nim
  tools/vcpkg/readme.md
  tools/vcpkg/triplets/x64-mingw-dynamic-release.cmake
Labels: test, ci

#1149 remove `posix` dependency from `timportedobj`
  tests/arc/timportedobj.nim
Labels: refactor, test
