Repository nim-works/nimskull, pull requests merged in 2024-07, with the labels that each got.

#1365 mirbodies: track next label in `MirBody`
  compiler/backend/backends.nim
  compiler/mir/mirbodies.nim
  compiler/mir/mirchangesets.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirgen.nim
Labels: refactor, compiler/backend

#1366 mirpasses: split assignments with MIR pass
  compiler/backend/ccgcalls.nim
  compiler/mir/mirpasses.nim
  tests/exception/tassignment.nim
Labels: compiler/backend, simplification

#1367 sem: proper error when alignof is called on generic type
  compiler/sem/semmagic.nim
  tests/lang_callable/generics/talignof_generic_error.nim
  tests/lang_callable/generics/talignof_generic_error_overloaded.nim
Labels: bug, compiler/sem

#1364 publisher: use actions/download-artifact directly
  .github/workflows/publisher.yml
Labels: ci, simplification

#1371 annotate more compiler stacktraces
  compiler/mir/mirgen.nim
  compiler/sem/transf.nim
Labels: compiler

#1370 ci: split docs deployment from publisher and deploy directly to pages
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publisher.yml
  doc/ci.rst
  tools/release_manifest.nim
Labels: documentation, ci

#1372 sem: fix crash due to incorrect error handling
  compiler/ast/ast.nim
  compiler/ast/ast_types.nim
  compiler/ast/errorhandling.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/sem.nim
  compiler/sem/semexprs.nim
  compiler/sem/semstmts.nim
  tests/error_propagation/tfor_loop_error.nim
Labels: bug, compiler/sem

#1373 clean up symbol error reporting
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/semcall.nim
  compiler/sem/semexprs.nim
  compiler/sem/semstmts.nim
  tests/error_propagation/tproc_with_error.nim
  tests/error_propagation/tvar_let_const_with_error.nim
  tests/lang_callable/generics/tpointerprocs.nim
Labels: compiler/sem, simplification

#1374 Report error for foreign forward declared generic
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/sem/seminst.nim
  tests/lang_callable/generics/mgeneric_cycle_forward.nim
  tests/lang_callable/generics/tgeneric_cycle_forward.nim
Labels: bug, compiler/sem

#1378 ci: clean up workflows
  .github/workflows/ci.yml
  .github/workflows/slash-command-merge.yml
  .github/workflows/slash-commands.yml
Labels: ci, simplification

#1377 add changelog builder for release publishing
  .github/changelog.json
  .github/workflows/publisher.yml
  .github/workflows/slash-command-generate-changelog.yml
  .github/workflows/slash-commands.yml
Labels: enhancement, ci

#1380 changelog: move "Other" into categories
  .github/changelog.json
Labels: ci

#1383 IC: fix type-bound operator lookup
  compiler/ic/cbackend.nim
  tests/ic/tcanonical_types.nim
Labels: bug, compiler/backend

#1386 sem, pragmas: fix fatal pragma
  compiler/ast/ast_types.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/front/options.nim
  compiler/sem/pragmas.nim
  testament/testament.nim
  tests/pragmas/tfatal.nim
Labels: bug, compiler/sem, compiler/msgs

#1382 mir: add a dedicated IR for types
  compiler/ast/ast.nim
  compiler/ast/ast_types.nim
  compiler/ast/types.nim
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/ccgthreadvars.nim
  compiler/backend/ccgtypes.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/mangling.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirtypes.nim
  compiler/mir/typemaps.nim
  tests/align/talign.nim
  tests/ccgbugs/tnoalias.nim
  tests/lang_exprs/tempty_typed_expressions_issues.nim
Labels: enhancement, refactor, compiler/backend

#1388 fix wrong cursor inference in the context of loops
  compiler/sem/varpartitions.nim
  tests/arc/topt_no_loop_cursor.nim
  tests/arc/topt_refcursors.nim
Labels: bug, compiler/sem

#1389 fix fields with names containing backticks being inaccessible
  compiler/ast/ast_query.nim
  compiler/ast/ast_types.nim
  compiler/sem/evaltempl.nim
  compiler/sem/semexprs.nim
  tests/lang_callable/macros/tmacros_issues.nim
Labels: bug, compiler/sem

#1392 fix C codegen regression with closures
  compiler/mir/mirtypes.nim
Labels: bug, compiler/backend

#1391 Fix `sysrand` for Android (and some other POSIX platforms)
  lib/std/sysrand.nim
Labels: bug, stdlib
