Repository nim-works/nimskull, pull requests merged in 2024-02, with the labels that each got.

#1150 bundle the `vmrunner` with releases
  compiler/installer.ini
Labels: ci

#1152 codegen: unify exception preparation
  compiler/ast/ast.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirgen.nim
  compiler/vm/vm.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmops.nim
  lib/system.nim
  lib/system/excpt.nim
  lib/system/jssys.nim
Labels: refactor, compiler/backend, runtime

#1154 ci: add M1 Macs to matrix
  .github/actions/download-compiler/action.yml
  .github/actions/upload-compiler/action.yml
  .github/workflows/ci.yml
  lib/pure/fenv.nim
  lib/pure/math.nim
  tests/misc/temit.nim
  tests/misc/tnumeric_conversions.nim
Labels: ci

#1156 sem: fix infinite loop in type identifier lookup
  compiler/sem/semtypes.nim
  tests/lookups/ttypes_decl_are_not_ambiguous_among_themselves.nim
Labels: bug, compiler/sem

#1159 ci: minimum x86 macOS is now version 12
  .github/workflows/ci.yml
Labels: ci

#1153 std/io, os: stop `newWideCString` buffer overflow
  lib/pure/os.nim
  lib/system/io.nim
  lib/system/widestrs.nim
Labels: bug, stdlib

#1157 backend: use MIR for representing constant expressions
  compiler/backend/backends.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/compat.nim
  compiler/backend/jsgen.nim
  compiler/mir/datatables.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/nimeval.nim
  compiler/vm/packed_env.nim
  compiler/vm/vmaux.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmcompilerserdes.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
  compiler/vm/vmserialize.nim
  doc/mir.rst
Labels: compiler, compiler/backend

#1162 fix(vm): multiple memory leak issues
  compiler/vm/vm.nim
Labels: bug, compiler/vm

#1163 vmgen: clean up some linking-related types
  compiler/vm/compilerbridge.nim
  compiler/vm/identpatterns.nim
  compiler/vm/nimeval.nim
  compiler/vm/vmaux.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
  compiler/vm/vmlinker.nim
Labels: compiler/backend, compiler/vm, simplification

#1164 mir: add unchecked signed-integer arithmetic ops
  compiler/backend/ccgexprs.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirtrees.nim
  compiler/mir/utils.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/mirexec.nim
  compiler/vm/vmgen.nim
  doc/mir.rst
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
  tests/lang_objects/destructor/tdestruction_when_checks_failed.nim
  tests/lang_objects/destructor/tv2_cast.nim
  tests/overflw/toverflow_abs.nim
Labels: bug, compiler/backend

#1061 vm: rework the exception handling
  compiler/vm/packed_env.nim
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmerrors.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
  compiler/vm/vmrunner.nim
  compiler/vm/vmutils.nim
  tests/exception/texceptions.nim
  tests/exception/tfinally.nim
  tests/exception/tfinally2.nim
  tests/exception/tfinally3.nim
  tests/exception/tfinally6.nim
  tests/exception/thandle_in_finally.nim
  tests/exception/tleave_except.nim
  tests/exception/traise_and_handle_in_except.nim
  tests/exception/twrong_handler.nim
Labels: bug, enhancement, compiler/vm

#1168 fix(js): no overflow check for negation
  lib/system/jssys.nim
  tests/overflw/toverflow_negation_32.nim
  tests/overflw/toverflow_negation_64.nim
Labels: bug, compiler/backend

#1167 fix(vmgen): wrong `range` value being read
  compiler/vm/vmgen.nim
  tests/vm/twrong_range_value.nim
Labels: bug, compiler/backend

#1169 make `abs` behaviour consistent across backends
  compiler/backend/ccgexprs.nim
  compiler/backend/cgen.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirgen.nim
  lib/system.nim
  tests/lang_objects/destructor/tdestruction_when_checks_failed.nim
  tests/overflw/toverflow_abs.nim
Labels: bug, compiler/backend, language-design

#1171 fix unsigned `range` arithmetic causing overflow error
  compiler/ast/types.nim
  tests/lang_types/range/tuint_range_overflow_bug.nim
Labels: bug, compiler/backend

#1170 only allow re-raise in scope of `except`
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/sem/sempass2.nim
  doc/manual.rst
  tests/exception/tdisallowed_reraise.nim
  tests/exception/tfinally6.nim
  tests/lang_callable/macros/t18203_consumed_ast_is_not_unused.nim
Labels: compiler/sem, language-design

#1172 mir: add built-in float arithmetic ops
  compiler/backend/ccgexprs.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/compat.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirtrees.nim
  compiler/mir/utils.nim
  compiler/vm/vmgen.nim
  tests/lang_objects/destructor/tdestruction_when_checks_failed.nim
  tests/lang_types/float/tfloat1.nim
Labels: bug, compiler/backend

#1173 update "Near-Term Development" readme section
  readme.md
Labels: documentation

#1174 fix missing hooks for closure iterators
  compiler/mir/mirgen.nim
  compiler/sem/sempass2.nim
Labels: compiler/sem, compiler/backend

#1176 std: `compilesettings` show CLI compile/link flags
  compiler/backend/extccomp.nim
  compiler/front/options.nim
  compiler/vm/vmops.nim
  tests/vm/tcompilesetting.nim
  tests/vm/tcompilesettings_passl.nim
Labels: enhancement, stdlib

#1177 cgen: fix unnecessary default initialization of locals
  compiler/backend/ccgstmts.nim
  compiler/backend/cgen.nim
Labels: compiler/backend

#1179 vm: use contiguous register storage
  compiler/vm/compilerbridge.nim
  compiler/vm/packed_env.nim
  compiler/vm/vm.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmrunner.nim
Labels: compiler/vm

#1180 sem: correctly show errors from `defer` node body
  compiler/ast/renderer.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/sem/semexprs.nim
  tests/lang_stmts/defer/tdefer.nim
  tests/lang_stmts/defer/tdefer_cannot_be_top_level.nim
  tests/lang_stmts/defer/tdefer_malformed_empty_body.nim
  tests/lang_stmts/defer/tdefer_malformed_many_children.nim
  tests/lang_stmts/defer/tdefer_requires_stmt_1.nim
  tests/lang_stmts/defer/tdefer_requires_stmt_2.nim
Labels: bug, test, compiler/sem

#1182 fix compiler crash with macros and enum `$`
  compiler/ast/enumtostr.nim
  lib/system.nim
  lib/system/dollars.nim
  lib/system/memalloc.nim
  tests/lang_callable/macros/tsynthesized_enum_to_string_roundtrip.nim
Labels: bug, compiler/sem

#1185 sem: `discardable` routines are discarded in `try`
  compiler/sem/semstmts.nim
  tests/lang_exprs/tdiscardcheck_try_discardable.nim
Labels: bug, test, compiler/sem

#1187 system: fix `sysFatal` having side effects
  lib/system/fatal.nim
  tests/misc/trange_check_with_panics.nim
Labels: bug, stdlib

#1184 mir: introduce the proto-MIR
  compiler/mir/mirgen.nim
  compiler/mir/proto_mir.nim
Labels: refactor, compiler

#1189 fix(sem): return statements not being re-sem'ed
  compiler/sem/semexprs.nim
  tests/lang_callable/macros/tmodify_result_assignment.nim
Labels: bug, compiler/sem

#1191 don't emit header includes for unused imported globals
  compiler/mir/mirgen.nim
  compiler/mir/proto_mir.nim
  compiler/sem/modulelowering.nim
  tests/lang/s05_pragmas/s01_interop/t05_unused_importc.nim
Labels: compiler/backend, language-design

#1197 cgen: fix undefined behaviour of `openArray` conversions
  compiler/backend/ccgcalls.nim
  compiler/backend/ccgexprs.nim
Labels: bug, compiler/backend

#1196 cgen: fix undefined behaviour with object conversion
  compiler/backend/ccgexprs.nim
Labels: bug, compiler/backend

#1198 fix constant expressions sometimes having the wrong value
  compiler/mir/datatables.nim
  tests/compiler/tdatatables.nim
Labels: bug, compiler/backend

#1195 rework the MIR (part 2)
  compiler/backend/backends.nim
  compiler/backend/cgirgen.nim
  compiler/mir/analysis.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
  compiler/mir/proto_mir.nim
  compiler/mir/utils.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/mirexec.nim
  doc/mir.rst
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_refcursors.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
  tests/lang_objects/destructor/tv2_cast.nim
  tests/misc/tdont_fold_procedure_cast.nim
Labels: compiler, compiler/backend

#1199 sem: template `typed` param only in using pos
  compiler/sem/semtempl.nim
  doc/manual.rst
  tests/lang_callable/template/template_usage_substitution_nonast_typed_params.nim
  tests/lang_callable/template/template_usage_substitution_typed_params.nim
Labels: compiler/sem, language-design

#1201 refactor: remove `Values` type from `analysis`
  compiler/mir/analysis.nim
  compiler/sem/injectdestructors.nim
Labels: refactor, compiler

#1202 fix wrong signed-ness for floats in constants
  compiler/mir/datatables.nim
  tests/compiler/tdatatables.nim
Labels: bug, compiler/backend

#1204 mir: separate hook injection from move analyzer
  compiler/backend/backends.nim
  compiler/mir/injecthooks.nim
  compiler/mir/mirconstr.nim
  compiler/sem/injectdestructors.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
Labels: refactor, compiler

#1205 fix(sem): crash with manual `=destroy` hook call
  compiler/ast/ast_query.nim
  compiler/sem/liftdestructors.nim
  tests/lang_callable/macros/tsynthesized_destroy_hook_roundtrip.nim
Labels: bug, compiler/sem

#1206 mir: separate destructor from `=destroy` injection
  compiler/backend/cgirgen.nim
  compiler/mir/injecthooks.nim
  compiler/mir/mirtrees.nim
  compiler/mir/utils.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/mirexec.nim
  compiler/sem/modulelowering.nim
  doc/mir.rst
Labels: refactor, compiler

#1209 cgen: better default initialization for `result`
  compiler/backend/cgen.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirpasses.nim
  compiler/sem/mirexec.nim
  tests/compiler/tmir_exec2.nim
Labels: bug, enhancement, compiler/backend

#1212 make `.computedGoto` pragma a no-op
  compiler/ast/report_enums.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/ccgutils.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/cgirutils.nim
  compiler/backend/compat.nim
  compiler/backend/jsgen.nim
  compiler/front/cli_reporter.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirtrees.nim
  compiler/mir/utils.nim
  compiler/vm/vmgen.nim
  doc/manual.rst
  tests/lang_stmts/casestmt/tcase_computedgoto_holed_enum.nim
Labels: compiler/backend, simplification

#1213 fix(mirgen): respect `--panics:on` for overflow checks
  compiler/mir/mirgen.nim
  tests/exception/truntime_check_panics.nim
Labels: bug, compiler/backend

#1214 internal: implement `--profiler:on` support with MIR pass
  compiler/backend/backends.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/cgen.nim
  compiler/mir/mirpasses.nim
  compiler/vm/vmjit.nim
  tests/compilerfeatures/tprofiler.nim
Labels: refactor, compiler/backend
