Repository nim-works/nimskull, pull requests merged in 2024-09, with the labels that each got.

#1445 fix(sem): fix crash routine pragma redefinition
  compiler/ast/report_enums.nim
  compiler/ast/reports_sem.nim
  compiler/front/cli_reporter.nim
  tests/lang_callable/tpragma_redefinition_on_routine_def_err.nim
Labels: bug, compiler/sem, compiler/msgs

#1443 fix(sem): crash with procedure with error used as argument
  compiler/sem/semexprs.nim
  compiler/sem/sigmatch.nim
  tests/error_propagation/tgeneric_proc_sym_as_argument.nim
  tests/error_propagation/toverloaded_proc_sym_as_argument.nim
  tests/error_propagation/tproc_sym_as_argument.nim
Labels: bug, compiler/sem

#1447 fix(sem): non-boolean `when` conditions being ignored
  compiler/sem/sem.nim
  compiler/sem/semexprs.nim
  compiler/sem/semtypes.nim
  tests/lang_stmts/whenstmt/twhen_condition_must_be_bool.nim
Labels: bug, compiler/sem

#1449 fix: crash when passing NimNode to static parameter
  compiler/mir/mirgen.nim
  compiler/vm/vm.nim
  compiler/vm/vmcompilerserdes.nim
  tests/lang_callable/macros/tstatic_nim_node_parameter.nim
Labels: bug, compiler/backend, compiler/vm

#1450 fix(sem): analysis considers nested noreturn
  compiler/ast/ast_query.nim
  compiler/sem/sem.nim
  compiler/sem/semstmts.nim
  tests/lang_exprs/tnoreturn_nested.nim
Labels: bug, compiler/sem

#1452 fix(sem): avoid no-return false positives
  compiler/ast/ast_query.nim
  compiler/front/cli_reporter.nim
  tests/lang_exprs/tnoreturn_nested_reject.nim
Labels: bug, compiler/sem, compiler/msgs

#1451 testament: fix missing error reporting
  testament/categories.nim
  tests/lang_callable/converter/tconverter_for_static_param.nim
  tests/lang_callable/macros/tmodify_result_assignment.nim
  tests/lang_stmts/for_stmt/tfor_ill_formed_sym.nim
  tests/vm/tconst_seq_crash.nim
Labels: bug, tool

#1460 fix: incorrect code generation for parameter borrowing
  compiler/ast/types.nim
  compiler/mir/mirgen.nim
  compiler/sem/typeallowed.nim
  compiler/sem/varpartitions.nim
  tests/lang_experimental/views/timmutable_borrow_from_first_parameter.nim
Labels: bug, compiler/backend

#1454 fix(sem): noreturn analysis for `void` exprs
  compiler/ast/ast_query.nim
  tests/lang_exprs/tnoreturn_nested.nim
  tests/lang_exprs/tnoreturn_nested_reject_nonexhaustive_case.nim
  tests/lang_exprs/tnoreturn_nested_reject_nonexhaustive_if.nim
  tests/lang_exprs/tnoreturn_nested_reject_void.nim
Labels: bug, compiler/sem

#1463 fix(typeinfo): expanding seq doesn't clear locations
  lib/core/typeinfo.nim
  tests/stdlib/metaprogramming/ttypeinfo.nim
Labels: bug, stdlib
