Repository nim-works/nimskull, pull requests merged in 2024-06, with the labels that each got.

#1331 mir: remove statement nesting
  compiler/backend/backends.nim
  compiler/backend/cgirgen.nim
  compiler/mir/injecthooks.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
  compiler/mir/rtchecks.nim
  compiler/mir/utils.nim
  compiler/sem/injectdestructors.nim
  doc/mir.rst
Labels: refactor, compiler/backend

#1329 transf: remove unreachable code
  compiler/mir/mirgen.nim
  compiler/modules/modulegraphs.nim
  compiler/sem/transf.nim
  compiler/sem/unreachable_elim.nim
  tests/lang_exprs/tnon_returning_expressions.nim
Labels: bug, compiler/backend

#1335 fix(sem): generic distinct types getting the same hooks
  compiler/sem/liftdestructors.nim
  compiler/sem/semtypinst.nim
  tests/lang_objects/destructor/tphantom_distinct_hooks.nim
  tests/typerel/tphantom_distinct_types.nim
Labels: bug, compiler/sem

#1339 macros: fix compiler crash with `parseExpr`
  compiler/vm/vm.nim
  tests/lang_callable/macros/ttryparseexpr.nim
Labels: bug, lang/macro

#1338 fix: wrong code generation for synthesized object hooks
  compiler/sem/liftdestructors.nim
  tests/lang_objects/destructor/tsuper_type_destructor_bug.nim
Labels: bug, compiler/sem

#1341 fix: crash when defining call/dot operators
  compiler/front/cli_reporter.nim
  tests/errmsgs/tenable_call_operator.nim
  tests/errmsgs/tenable_dot_operator.nim
Labels: bug, compiler/msgs

#1340 sem: keep shape of array constructors in typed AST
  compiler/sem/semexprs.nim
  compiler/sem/semfold.nim
  compiler/sem/transf.nim
  tests/lang_exprs/ttyped_array_constr_expr.nim
Labels: compiler/sem

#1342 vm: don't use ref-counted cells for globals
  compiler/vm/compilerbridge.nim
  compiler/vm/vm.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmjit.nim
  compiler/vm/vmrunner.nim
Labels: compiler/vm, simplification

#1343 compiler: add the `--showir` switch
  compiler/backend/backends.nim
  compiler/front/options.nim
  compiler/front/optionsprocessor.nim
  compiler/mir/mirbridge.nim
  compiler/mir/utils.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/vmjit.nim
  doc/debug.rst
Labels: enhancement, compiler

#1334 mir: remove the tree delimiter nodes
  compiler/backend/backends.nim
  compiler/backend/cgirgen.nim
  compiler/backend/compat.nim
  compiler/mir/datatables.nim
  compiler/mir/injecthooks.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
  compiler/mir/rtchecks.nim
  compiler/mir/treechangesets.nim
  compiler/mir/utils.nim
  compiler/sem/aliasanalysis.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/mirexec.nim
  compiler/vm/packed_env.nim
  compiler/vm/vmserialize.nim
  doc/mir.rst
  tests/compiler/tdatatables.nim
  tests/compiler/tmir_trees.nim
  tests/compiler/ttreechangesets.nim
Labels: refactor, compiler/backend

#1346 macros: keep instantiation parameters with `getType`
  compiler/vm/vmdeps.nim
  lib/std/enumutils.nim
  tests/lang_callable/macros/tgettype2.nim
  tests/lang_callable/macros/tgettype3.nim
Labels: bug, lang/macro

#1347 typetraits: improve `genericParams`
  lib/pure/typetraits.nim
  tests/lang_objects/metatype/ttypetraits.nim
Labels: enhancement, refactor, stdlib

#1345 sem: don't analyze dependent operands to `static`
  compiler/sem/sem.nim
  compiler/sem/semdata.nim
  compiler/sem/semtypes.nim
  compiler/sem/sigmatch.nim
  tests/lang_callable/generics/tdependent_operands_to_static.nim
  tests/lang_callable/generics/tdependent_operands_to_static_2.nim
Labels: bug, compiler/sem

#1349 openssl: support OpenSSL 3.0 and above
  lib/wrappers/openssl.nim
Labels: enhancement, stdlib

#1350 actions/setup-mingw: bump release-downloader to 1.10
  .github/actions/setup-mingw/action.yml
Labels: ci

#1351 make the REPL (`nim secret`) work again
  compiler/ast/llstream.nim
  compiler/front/cli_reporter.nim
  compiler/front/main.nim
  tests/compilerfeatures/trepl.nim
Labels: bug, compiler

#1354 Produce a meaningful error message for invalid module name
  compiler/front/cli_reporter.nim
  compiler/modules/modules.nim
  tests/errmsgs/tinvalid-name.nim
Labels: bug, compiler/msgs

#1355 fix incorrect typing in closure-iterator C code-gen
  compiler/backend/cgen.nim
  compiler/sem/lambdalifting.nim
Labels: bug, compiler/backend

#1328 sem: fix crash when `sizeof` is called on generic type
  compiler/ast/ast_types.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/semexprs.nim
  compiler/sem/semmagic.nim
  tests/lang_callable/generics/tsizeof_generic_error.nim
  tests/lang_callable/generics/tsizeof_generic_error_overloaded.nim
Labels: bug, compiler/sem

#1358 deprecate the `.codegenDecl` pragma
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/sem/pragmas.nim
Labels: compiler/sem, compiler/backend

#1357 fix incorrect removal of self-assignments
  compiler/sem/aliasanalysis.nim
  tests/assign/tarray_expr_assignment.nim
Labels: bug, compiler/backend

#1360 lower `string`/`float` case statements with MIR pass
  compiler/backend/ccgstmts.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
Labels: refactor, compiler/backend

#1361 sem: correctly type empty containers in macro calls
  compiler/sem/semexprs.nim
  compiler/sem/sigmatch.nim
  compiler/vm/vmserialize.nim
Labels: compiler/sem

#1362 nversion: read version from text file
  compiler/utils/nversion.nim
  compiler/version.txt
Labels: refactor, compiler

#1363 remove the `.goto` pragma/feature
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/backend/ccgstmts.nim
  compiler/front/cli_reporter.nim
  compiler/sem/pragmas.nim
Labels: compiler/sem, compiler/backend, simplification
