Repository nim-works/nimskull, pull requests merged in 2024-03, with the labels that each got.

#1217 refactor(mir): split `mirchangesets` into two modules
  compiler/mir/injecthooks.nim
  compiler/mir/mirpasses.nim
  compiler/mir/newchangesets.nim
  compiler/mir/treechangesets.nim
  compiler/sem/injectdestructors.nim
  tests/compiler/ttreechangesets.nim
Labels: refactor, compiler

#1218 export `.dynlib` procs to WASM when using Emscripten
  lib/nimbase.h
Labels: enhancement, compiler/backend

#1219 fix(cgirgen): compiler crash with unreachable code
  compiler/backend/cgirgen.nim
  tests/lang_objects/destructor/tdestruction_in_unreachable.nim
Labels: bug, compiler/backend

#1220 refactor: rename `newchangesets` module
  compiler/mir/injecthooks.nim
  compiler/mir/mirchangesets.nim
  compiler/mir/mirpasses.nim
  compiler/sem/injectdestructors.nim
Labels: refactor, compiler

#1221 Remove nkStmtListType and nkBlockType nodes
  compiler/ast/ast_query.nim
  compiler/ast/ast_types.nim
  compiler/ast/renderer.nim
  compiler/front/condsyms.nim
  compiler/mir/mirgen.nim
  compiler/sem/sem.nim
  compiler/sem/semexprs.nim
  compiler/sem/semfold.nim
  compiler/sem/semgnrc.nim
  compiler/sem/semmagic.nim
  compiler/sem/sempass2.nim
  compiler/sem/semtempl.nim
  compiler/sem/semtypes.nim
  lib/core/macros.nim
  lib/system.nim
  tests/lang_objects/metatype/ttyped_type_ast.nim
Labels: compiler/sem, lang/macro, simplification

#1224 std/asyncjs: value passed to `catch` is always `Error`
  lib/js/asyncjs.nim
  tests/js/tasyncjs.nim
  tests/js/tasyncjs_bad.nim
  tests/js/tasyncjs_pragma.nim
Labels: bug, stdlib

#1226 Use more node kind sets
  compiler/ast/ast.nim
  compiler/ast/ast_query.nim
  compiler/ast/ast_types.nim
  compiler/ast/astalgo.nim
  compiler/ast/errorhandling.nim
  compiler/ast/filters.nim
  compiler/ast/trees.nim
  compiler/ast/treetab.nim
  compiler/ast/types.nim
  compiler/ast/typesrenderer.nim
  compiler/front/sexp_reporter.nim
  compiler/ic/dce.nim
  compiler/ic/ic.nim
  compiler/ic/integrity.nim
  compiler/ic/packed_ast.nim
  compiler/mir/mirgen.nim
  compiler/mir/proto_mir.nim
  compiler/sem/closureiters.nim
  compiler/sem/dfa.nim
  compiler/sem/evaltempl.nim
  compiler/sem/guards.nim
  compiler/sem/isolation_check.nim
  compiler/sem/lookups.nim
  compiler/sem/nilcheck.nim
  compiler/sem/parampatterns.nim
  compiler/sem/patterns.nim
  compiler/sem/pragmas.nim
  compiler/sem/semdata.nim
  compiler/sem/semexprs.nim
  compiler/sem/semfields.nim
  compiler/sem/semfold.nim
  compiler/sem/semgnrc.nim
  compiler/sem/semmagic.nim
  compiler/sem/semobjconstr.nim
  compiler/sem/sempass2.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtempl.nim
  compiler/sem/semtypes.nim
  compiler/sem/semtypinst.nim
  compiler/sem/sighashes.nim
  compiler/sem/transf.nim
  compiler/sem/typeallowed.nim
  compiler/sem/varpartitions.nim
  compiler/tools/docgen.nim
  compiler/utils/astrepr.nim
  compiler/vm/packed_env.nim
  compiler/vm/vm.nim
  tests/errmsgs/tnnodeindexkind.nim
  tests/lang_experimental/trmacros/trmacros_various2.nim
  tests/pragmas/tlocks.nim
Labels: bug, refactor, compiler

#1229 Remove nkNone and replace it with nkError
  compiler/ast/ast.nim
  compiler/ast/ast_types.nim
  compiler/ast/trees.nim
  compiler/ast/treetab.nim
  compiler/front/condsyms.nim
  compiler/front/sexp_reporter.nim
  compiler/ic/ic.nim
  compiler/sem/evaltempl.nim
  compiler/sem/guards.nim
  compiler/sem/modulelowering.nim
  compiler/sem/patterns.nim
  compiler/sem/sem.nim
  compiler/sem/semexprs.nim
  compiler/sem/sighashes.nim
  compiler/vm/packed_env.nim
  doc/astspec.txt
  lib/core/macros.nim
  tests/lang_callable/macros/tdumpast2.nim
  tests/lang_callable/macros/tincremental.nim
  tests/lang_callable/macros/tmacro3.nim
  tests/lang_callable/macros/trecmacro.nim
  tests/lang_callable/template/tparams_gensymed.nim
  tests/lang_stmts/defer/tdefer_malformed_many_children.nim
Labels: compiler, simplification

#1230 jsgen: use the new-style CGIR
  compiler/backend/cgirgen.nim
  compiler/backend/compat.nim
  compiler/backend/jsbackend.nim
  compiler/backend/jsflow.nim
  compiler/backend/jsgen.nim
  lib/system/jssys.nim
  tests/exception/tleave_except.nim
  tests/exception/tleave_except2.nim
  tests/exception/traise_and_handle_in_except.nim
  tests/exception/treraise2.nim
  tests/js/tnativeexc.nim
Labels: bug, refactor, compiler/backend

#1235 macros: disallow creating special nodes manually
  compiler/ast/ast_types.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/vm/vm.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmrunner.nim
  tests/lang_callable/macros/tdisallow_create_special_nodes.nim
  tests/lang_callable/macros/tempty_type_nodes.nim
Labels: bug, lang/macro

#1234 cgir: remove the legacy CGIR variant
  compiler/backend/backends.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen_legacy.nim
  compiler/backend/cgirutils.nim
  compiler/backend/jsbackend.nim
  compiler/backend/jsgen.nim
  compiler/mir/mirbridge.nim
  compiler/vm/vmgen.nim
Labels: compiler/backend, simplification

#1233 Unify tree equivalence checking procedures
  compiler/ast/trees.nim
  compiler/ast/types.nim
  compiler/backend/cbackend.nim
  compiler/ic/replayer.nim
  compiler/sem/guards.nim
  compiler/sem/patterns.nim
  compiler/sem/procfind.nim
  compiler/sem/semfold.nim
  compiler/vm/vm.nim
  compiler/vm/vmcompilerserdes.nim
  compiler/vm/vmgen.nim
  tests/lang_callable/generics/tforwardgeneric.nim
  tests/lang_callable/macros/tmacros_various.nim
Labels: refactor, compiler

#1050 Link to `style_guide.html` in `intern.rst`
  doc/intern.rst
Labels: documentation

#1237 std/dynlib: fix `loadLibPatterns` having unknown effects
  lib/pure/dynlib.nim
  tests/stdlib/tdynlib.nim
Labels: bug, stdlib

#1242 CI: Workaround leak sanitizer test failures due to high `vm.mmap_rnd_bits`
  .github/workflows/leak.yml
Labels: ci

#1244 ci: pin Xcode and macOS SDK version
  .github/workflows/ci.yml
Labels: bug, ci

#1241 internal: fix an incorrect assertion
  compiler/sem/injectdestructors.nim
Labels: bug, compiler/backend

#1240 sem: remove float analysis from `sem/guards`
  compiler/sem/guards.nim
Labels: compiler/sem

#1239 std/macros: const for nodes requring special init
  lib/core/macros.nim
  tests/lang_stmts/defer/tdefer_malformed_many_children.nim
  tests/stdlib/metaprogramming/tmacros.nim
Labels: enhancement, stdlib

#1236 forbid hook routines raising exceptions
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/mir/mirgen.nim
  compiler/sem/injectdestructors.nim
  compiler/sem/liftdestructors.nim
  compiler/sem/sempass2.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/vm.nim
  compiler/vm/vmdeps.nim
  compiler/vm/vmops.nim
  lib/std/tasks.nim
  lib/system.nim
  lib/system/excpt.nim
  lib/system/jssys.nim
  lib/system/orc.nim
  tests/arc/tarcmisc.nim
  tests/arc/topt_no_cursor.nim
  tests/errmsgs/tprefer_raise_spec_error.nim
  tests/gc/gctest.nim
  tests/lang/s02_core/s99_hooks/README.md
  tests/lang/s02_core/s99_hooks/s99_escaping_defects/README.md
  tests/lang/s02_core/s99_hooks/s99_escaping_defects/t01_copy_hook.nim
  tests/lang/s02_core/s99_hooks/s99_escaping_defects/t02_sink_hook.nim
  tests/lang/s02_core/s99_hooks/s99_escaping_defects/t03_destroy_hook.nim
  tests/lang/s02_core/s99_hooks/s99_escaping_defects/t04_trace_hook.nim
  tests/lang/s02_core/s99_hooks/s99_escaping_defects/t05_deepcopy_hook.nim
  tests/lang/s02_core/s99_hooks/t99_cannot_raise.nim
  tests/misc/tnew.nim
Labels: spec, compiler/sem, compiler/backend, language-design

#1245 sem: `NimNode` equality respects `nkType`'s type
  compiler/ast/trees.nim
  tests/lang_callable/macros/tmacros_various.nim
Labels: bug, compiler/sem

#1247 make locals' lifetimes bounded by lexical scope for `if`
  compiler/mir/mirgen.nim
  compiler/sem/transf.nim
  tests/arc/tcontrolflow.nim
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_refcursors.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
Labels: compiler/backend, language-design

#1252 fix(sem): crash with forward-declared `=destroy` hook
  compiler/sem/liftdestructors.nim
  tests/lang_objects/destructor/tforward_declared_destructor.nim
Labels: bug, compiler/sem

#1254 fix: exception handler not entered for indirect calls
  compiler/ast/ast_query.nim
  tests/exception/tindirect_call_raises.nim
Labels: bug, compiler

#1258 mir: use `Local` instead of `PSym` for locals
  compiler/backend/backends.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/mir/analysis.nim
  compiler/mir/mirbodies.nim
  compiler/mir/mirchangesets.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
  compiler/mir/utils.nim
  compiler/sem/aliasanalysis.nim
  compiler/sem/injectdestructors.nim
  compiler/utils/containers.nim
  compiler/vm/vmjit.nim
  tests/compiler/ttreechangesets.nim
Labels: refactor, compiler/backend

#1259 fix: VM crash with implicit object conversion
  compiler/backend/cgirgen.nim
  tests/lang_callable/generics/tobjecttyperel.nim
Labels: bug, compiler/backend

#1260 mir: use `Local` for temporaries
  compiler/backend/cgirgen.nim
  compiler/mir/analysis.nim
  compiler/mir/injecthooks.nim
  compiler/mir/mirchangesets.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
  compiler/mir/utils.nim
  compiler/sem/aliasanalysis.nim
  compiler/sem/injectdestructors.nim
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_refcursors.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
  tests/compiler/ttreechangesets.nim
  tests/exception/truntime_check_panics.nim
  tests/lang_objects/destructor/tv2_cast.nim
  tests/misc/tdont_fold_procedure_cast.nim
Labels: refactor, compiler/backend

#1261 fix(sem): wrong error reported for `raise`
  compiler/ast/ast_types.nim
  compiler/front/cli_reporter.nim
  compiler/front/msgs.nim
  compiler/sem/semstmts.nim
  tests/errmsgs/terror_in_raise.nim
Labels: bug, refactor, compiler/sem

#1262 vmjit: remove expression-related workaround
  compiler/backend/cgirgen.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirpasses.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmjit.nim
Labels: refactor, compiler/backend, simplification

#1263 refactor: remove `aliasanalysis.isCursor`
  compiler/sem/aliasanalysis.nim
  compiler/sem/injectdestructors.nim
Labels: compiler, simplification
