Repository nim-works/nimskull, pull requests merged in 2025-07, with the labels that each got.

#1560 sempass2: fix bug with `.closure` inference
  compiler/sem/sempass2.nim
  tests/lang_callable/closure/tclosure_inference.nim
  tests/lang_callable/closure/tclosure_proc_doesnt_require_capture.nim
Labels: bug, compiler/sem

#1561 instantiate generics in the scope they're defined in
  compiler/sem/seminst.nim
  tests/lang_callable/generics/tinner_generic_routine_mixin.nim
  tests/lang_stmts/bind/tbind.nim
Labels: compiler/sem, language-design

#1566 ci(reproducible): disable sudo usage for reprotest
  .github/workflows/reproducible.yml
Labels: ci

#1564 sem: fix `.tailcall` proc types with generic return type
  compiler/sem/seminst.nim
  compiler/sem/semtypes.nim
  compiler/sem/semtypinst.nim
  tests/lang/s99_tailcall/t03_generic_return_type.nim
  tests/lang/s99_tailcall/t05_tailcall_proc_values_generic_return_type.nim
Labels: bug, compiler/sem

#1567 net: do not reuse socket after failed connect
  lib/pure/net.nim
Labels: bug, stdlib

#1563 mir: rename `mnkResume` to `mnkUnwind`
  compiler/backend/cgirgen.nim
  compiler/mir/mirgen_blocks.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtrees.nim
  compiler/mir/utils.nim
  compiler/sem/mirexec.nim
  doc/mir.rst
  tests/arc/topt_cursor.nim
  tests/arc/topt_no_cursor.nim
  tests/arc/topt_no_loop_cursor.nim
  tests/arc/topt_refcursors.nim
  tests/arc/topt_unpacking_no_cursor.nim
  tests/arc/topt_wasmoved_destroy_pairs.nim
  tests/lang_objects/destructor/tv2_cast.nim
  tests/misc/tdont_fold_procedure_cast.nim
  tests/optimization/tno_destroy_for_empty_result.nim
Labels: refactor, compiler

#1569 mir: turn tail-call elimination into a standalone pass
  compiler/ast/ast_types.nim
  compiler/backend/cbackend.nim
  compiler/backend/ccgcalls.nim
  compiler/backend/jsbackend.nim
  compiler/backend/jsgen.nim
  compiler/mir/injecthooks.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirgen_blocks.nim
  compiler/mir/mirpasses.nim
  compiler/mir/mirtypes.nim
  compiler/mir/tailcall_elim.nim
  doc/mir.rst
  tests/arc/topt_no_cursor.nim
  tests/lang/s99_tailcall/t06_cleanup_of_result_prevents_tail_call_error.nim
  tests/optimization/tno_destroy_for_empty_result.nim
Labels: bug, refactor, compiler/backend
