Repository nim-works/nimskull, pull requests merged in 2025-03, with the labels that each got.

#1494 lexopt: lexer for command line
  lib/experimental/lexopt.nim
  tests/stdlib/experimental/tlexopt.nim
Labels: enhancement, stdlib

#1495 compiler: add the `--timetrace` switch
  compiler/ast/parser.nim
  compiler/backend/backends.nim
  compiler/backend/cbackend.nim
  compiler/backend/cgen.nim
  compiler/backend/extccomp.nim
  compiler/backend/jsgen.nim
  compiler/front/in_options.nim
  compiler/front/main.nim
  compiler/front/options.nim
  compiler/front/optionsprocessor.nim
  compiler/mir/mirgen.nim
  compiler/modules/modules.nim
  compiler/nim.nim
  compiler/sem/sem.nim
  compiler/sem/semstmts.nim
  compiler/sem/transf.nim
  compiler/utils/trace_dump.nim
  compiler/utils/tracer.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmjit.nim
  tests/compilerfeatures/ttimetrace.nim
Labels: enhancement, compiler

#1497 treat no return type as meaning `void` in type inference
  compiler/sem/sigmatch.nim
  lib/pure/options.nim
  tests/typerel/tproc_type_inference_3.nim
  tests/typerel/tproc_type_inference_4.nim
Labels: enhancement, compiler/sem, language-design

#1499 fix(ci): make package-git respect skip signal
  .github/workflows/ci.yml
Labels: bug, ci

#1501 fix(ci): always raise error after printing error logs
  .github/workflows/build-and-test.yml
Labels: bug, ci

#1502 jsgen: use MIR type IDs for type info names
  compiler/backend/jsgen.nim
  compiler/backend/jstypes.nim
Labels: refactor, compiler/backend

#1503 sem: wrap expression routine bodies in `return`
  compiler/sem/semexprs.nim
  compiler/tools/docgen.nim
  compiler/tools/suggest.nim
  tests/lang_callable/macros/tmacrostmt.nim
  tests/pragmas/tcustom_pragma.nim
  tests/stdlib/algorithm/trepr.nim
Labels: refactor, compiler/sem
