Repository nim-works/nimskull, pull requests merged in 2025-09, with the labels that each got.

#1608 transf: fix self-conversion creating improper copy
  compiler/sem/transf.nim
  tests/lang_objects/destructor/tself_conversion_sink_bug.nim
Labels: bug, compiler/backend

#1609 readme: update real-time chat platforms
  readme.md
Labels: documentation, enhancement

#1593 msgs: use effect-based diagnostic emission/handling
  compiler/ast/errorhandling.nim
  compiler/ast/errorreporting.nim
  compiler/ast/parser.nim
  compiler/front/main.nim
  compiler/front/msgs.nim
  compiler/front/options.nim
  compiler/modules/importer.nim
  compiler/nim.nim
  compiler/sem/evaltempl.nim
  compiler/sem/hlo.nim
  compiler/sem/lookups.nim
  compiler/sem/sem.nim
  compiler/sem/semcall.nim
  compiler/sem/semexprs.nim
  compiler/sem/semfields.nim
  compiler/sem/seminst.nim
  compiler/sem/sempass2.nim
  compiler/sem/semstmts.nim
  compiler/sem/semtempl.nim
  compiler/sem/semtypes.nim
  compiler/sem/sigmatch.nim
  compiler/tools/docgen.nim
  compiler/vm/compilerbridge.nim
  compiler/vm/nimeval.nim
  compiler/vm/vmdeps.nim
  compiler/vm/vmrunner.nim
  doc/debug.rst
  nimsuggest/nimsuggest.nim
  tests/compilerunits/confread/tcli_parsing.nim
  tests/compilerunits/confread/treport_filtering.nim
  tests/errmsgs/tinvalidpragma.nim
  tests/errmsgs/tobject_constr.nim
  tests/ic/tstdlib_import_changed.nim
  tests/lang/s01_basics/s04_identifiers/t02_case_sensitivity_error_first_character_comp_fail.nim
  tests/lang_callable/generics/tstatic_constrained.nim
  tests/lang_syntax/parser/twrongcmdsyntax.nim
  tools/grammar_nanny.nim
Labels: refactor, compiler/sem, compiler/msgs

#1611 diff: greatly speed up `myersDiff`
  lib/experimental/diff.nim
Labels: refactor, stdlib

#1618 mirtypes: rename `tkRecord` to `tkStruct`
  compiler/backend/ccgtypes.nim
  compiler/backend/mangling.nim
  compiler/mir/mirtypes.nim
Labels: refactor, compiler/backend

#1621 cmdline/parsers: fixed float edge cases and enums
  lib/experimental/cmdline/parsers.nim
  tests/stdlib/experimental/tcmdline_parsers.nim
  tests/stdlib/experimental/tcmdline_parsers_float.nim
Labels: bug, stdlib

#1623 sem: codegendecl pragma works for generic routines
  compiler/sem/pragmas.nim
  tests/pragmas/tcodegendecl.nim
Labels: bug, compiler/sem
