Repository nim-works/nimskull, pull requests merged in 2025-05, with the labels that each got.

#1538 cli_reporter: print friendlier hook mismatch error message
  compiler/front/cli_reporter.nim
  compiler/sem/semstmts.nim
  tests/errmsgs/thook_sigmatch.nim
Labels: enhancement, compiler/msgs

#1542 vm: implement partial support for `toOpenArray`
  compiler/vm/packed_env.nim
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmcompilerserdes.nim
  compiler/vm/vmdef.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmmemory.nim
  compiler/vm/vmobjects.nim
  compiler/vm/vmrunner.nim
  compiler/vm/vmserialize.nim
  compiler/vm/vmtypegen.nim
  compiler/vm/vmutils.nim
  tests/lang/s06_experimental/s01_views/s00_bugs/t01_var_openarray.nim
  tests/lang_objects/destructor/tconsider_var_openarray.nim
  tests/lang_types/openarray/topenarray.nim
  tests/magics/ttoopenarray.nim
  tests/magics/ttoopenarray_index_error.nim
  tests/magics/ttoopenarray_unchecked_array.nim
  tests/magics/ttoopenarraybyte.nim
  tests/misc/ttoopenarray_array_bound_checks.nim
Labels: bug, compiler/vm

#1545 lexopt: remove bundle special case in `remaining()`
  lib/experimental/lexopt.nim
  tests/stdlib/experimental/tlexopt.nim
Labels: refactor, stdlib

#1546 parseutils: make `parseBiggestFloat` non-magic
  compiler/ast/ast_types.nim
  compiler/backend/ccgexprs.nim
  compiler/backend/cgen.nim
  compiler/backend/jsgen.nim
  compiler/front/condsyms.nim
  compiler/vm/vm.nim
  compiler/vm/vm_enums.nim
  compiler/vm/vmgen.nim
  compiler/vm/vmops.nim
  lib/pure/parseutils.nim
Labels: compiler, stdlib, compiler/vm, simplification

#1547 io: only define stdmsg when stdout/err are defined
  lib/system/io.nim
Labels: bug, stdlib

#1496 cmdline: new module for building CLIs
  doc/lib.rst
  lib/experimental/cmdline.nim
  lib/experimental/cmdline/parsers.nim
  tests/stdlib/experimental/tcmdline.nim
  tests/stdlib/experimental/tcmdline_run_error.nim
  tests/stdlib/experimental/tcmdline_run_help.nim
Labels: enhancement, stdlib
