Repository nim-works/nimskull, pull requests merged in 2025-08, with the labels that each got.

#1572 transf: fix indirect tail calls not being detected as such
  compiler/sem/transf.nim
  tests/lang_callable/proc/ttailcall_generic_callee.nim
Labels: bug, compiler/sem

#1573 fix miscompilation with indirect tail calls
  compiler/mir/tailcall_elim.nim
  tests/lang_callable/proc/ttailcall_wrong_parameter_tuple_type.nim
Labels: bug, compiler/backend

#1578 ci(windows): bump vcpkg revision to 2025.07.25
  .github/workflows/build-and-test.yml
  .github/workflows/package.yml
Labels: dependencies, ci

#1580 ci: makes sure dependabot PR don't litter commit log
  .github/workflows/dependabot-pr-body.yml
Labels: enhancement, ci

#1581 dependabot: manage custom actions and group artifact-related updates
  .github/dependabot.yml
Labels: enhancement, dependencies

#1586 ci(dependabot-pr-body): fix dependabot login name
  .github/workflows/dependabot-pr-body.yml
Labels: bug, ci

#1587 fix heap-cell cleanup calling the wrong destructor
  compiler/backend/ccgtypes.nim
  compiler/sem/sempass2.nim
  compiler/sem/sighashes.nim
  tests/lang_objects/destructor/twrong_destructor_called_on_ref_cleanup.nim
Labels: bug, compiler/sem

#1582 lang: add "generated" symbol kind
  compiler/ast/ast_types.nim
  compiler/ast/astmsgs.nim
  compiler/ast/linter.nim
  compiler/ast/report_enums.nim
  compiler/front/cli_reporter.nim
  compiler/front/condsyms.nim
  compiler/front/msgs.nim
  compiler/sem/sem.nim
  compiler/sem/semexprs.nim
  compiler/sem/semstmts.nim
  compiler/vm/vm.nim
  compiler/vm/vmgen.nim
  lib/core/macros.nim
  lib/std/tasks.nim
  tests/errmsgs/tundeclared_symbol.nim
  tests/lang_callable/macros/tsymbol_must_match.nim
  tests/lang_stmts/defer/tdefer_malformed_many_children.nim
  tests/lang_syntax/astspec/tastspec.nim
Labels: bug, enhancement, compiler/sem, lang/macro

#1588 lambdalifting: fix capturing macro parameters not working
  compiler/sem/lambdalifting.nim
  tests/lang_callable/closure/tclosure.nim
Labels: bug, refactor, compiler/sem

#1592 injectdestructors: fix lifetime lookup
  compiler/mir/mirbridge.nim
  compiler/sem/injectdestructors.nim
Labels: bug, refactor, compiler/backend

#1591 use a `-d:release` compiler during CI
  tools/koch/koch.nim
Labels: ci

#1607 pragmas: replace `nkError`-based implicit pragma culling
  compiler/sem/pragmas.nim
Labels: refactor, compiler/sem

#1606 transf: fix the compiler crashing on valid conversions
  compiler/backend/cgirgen.nim
  compiler/sem/transf.nim
  tests/arc/t14383.nim
  tests/types/tmulti_step_conversion.nim
Labels: bug, compiler/backend, language-design
