Repository nim-works/nimskull, pull requests merged in 2025-04, with the labels that each got.

#1507 ci: pin CMake to 3.31.6
  .github/workflows/build-and-test.yml
  .github/workflows/package.yml
Labels: ci

#1505 improve the "cleanup prevents tail call" error message
  compiler/front/cli_reporter.nim
  compiler/mir/injecthooks.nim
  compiler/mir/mirgen.nim
  tests/errmsgs/tmissing_cleanup_1.nim
  tests/errmsgs/tmissing_cleanup_2.nim
  tests/errmsgs/tmissing_cleanup_3.nim
Labels: enhancement, compiler/msgs

#1506 fix compiler crashing for some `.tailcall` bodies
  compiler/backend/cgen.nim
  compiler/sem/transf.nim
  tests/lang_callable/proc/ttailcall_return.nim
Labels: bug, compiler/backend

#1504 fix memory corruption with indirect `.tailcall` calls
  compiler/backend/ccgcalls.nim
  compiler/backend/jsgen.nim
  tests/lang_callable/proc/tindirect_tailcall_bug.nim
Labels: bug, compiler/backend

#1509 ci: fail on cancellation and update CI to ubuntu-22.04
  .github/workflows/ci.yml
Labels: bug, ci

#1510 transf: fix internal error with `.noreturn` calls
  compiler/sem/transf.nim
  tests/lang_callable/proc/ttailing_noreturn_in_tailcall.nim
Labels: bug, compiler/backend

#1521 fix `or`, `and`, and `|` type operators
  compiler/sem/semmagic.nim
  lib/system.nim
  tests/lang_objects/metatype/tmetatype_issues.nim
Labels: bug, compiler/sem

#1524 liftdestructors: fix ill-formed code
  compiler/sem/liftdestructors.nim
Labels: bug, compiler/sem

#1527 move `containers` module into private stdlib
  compiler/backend/backends.nim
  compiler/backend/cbackend.nim
  compiler/backend/cgen.nim
  compiler/backend/cgendata.nim
  compiler/backend/cgir.nim
  compiler/backend/cgirgen.nim
  compiler/backend/jsbackend.nim
  compiler/backend/jsgen.nim
  compiler/mir/datatables.nim
  compiler/mir/mirbodies.nim
  compiler/mir/mirchangesets.nim
  compiler/mir/mirconstr.nim
  compiler/mir/mirenv.nim
  compiler/mir/mirgen.nim
  compiler/mir/mirtypes.nim
  compiler/mir/sourcemaps.nim
  compiler/modules/modulegraphs.nim
  compiler/sem/modulelowering.nim
  compiler/vm/vmbackend.nim
  compiler/vm/vmgen.nim
  lib/std/private/containers.nim
  tests/compiler/ttreechangesets.nim
Labels: refactor, stdlib

#1528 mirgen: fix internal type error
  compiler/mir/mirgen.nim
  tests/optimization/tno_unnecessary_bound_check_for_contains.nim
Labels: bug, compiler/backend

#1531 docs: mark tutorial docs as legacy
  doc/docs.rst
Labels: documentation

#1533 sem: make taking the address of `sink` parameter work
  compiler/sem/semexprs.nim
  compiler/sem/semmagic.nim
  tests/lang_types/sink/taddr_of_sink_parameter.nim
Labels: bug, compiler/sem

#1536 varpartitions: fix memory leak with tuple unpacking
  compiler/sem/varpartitions.nim
  tests/arc/topt_unpacking_no_cursor.nim
Labels: bug, compiler/sem
