Repository nim-works/nimskull, pull requests merged in 2025-10, with the labels that each got.

#1631 ci(macos): update Intel macOS to version 15
  .github/workflows/ci.yml
Labels: ci

#1628 mirtypes: remove offset tracking from types
  compiler/mir/mirtypes.nim
Labels: compiler/backend, simplification

#1622 math: add full support for the VM target.
  compiler/vm/vmops.nim
  lib/pure/math.nim
  tests/stdlib/experimental/tcmdline_parsers_float.nim
  tests/stdlib/tmath.nim
Labels: bug, stdlib

#1627 sigmatch: fix missing conversion for varargs containers
  compiler/sem/sigmatch.nim
Labels: bug, compiler/sem

#1630 liftdestructors: generate proper `isNil` check
  compiler/sem/liftdestructors.nim
Labels: bug, compiler/sem

#1632 utils: make MIR pretty-printing output more stable
  compiler/mir/utils.nim
  tests/arc/topt_cursor.nim
  tests/exception/truntime_check_panics.nim
  tests/optimization/tno_unnecessary_bound_check_for_contains.nim
Labels: refactor, compiler/backend

#1634 lower `mChckBounds` magic with MIR pass
  compiler/backend/ccgexprs.nim
  compiler/backend/ccgstmts.nim
  compiler/mir/rtchecks.nim
  lib/system/chcks.nim
Labels: refactor, compiler/backend

#1635 change how top-level emit/asm statements work
  compiler/backend/backends.nim
  compiler/backend/cbackend.nim
  compiler/backend/ccgstmts.nim
  compiler/backend/cgen.nim
  compiler/backend/cgirgen.nim
  compiler/backend/jsbackend.nim
  compiler/mir/mirgen.nim
  compiler/sem/modulelowering.nim
  compiler/vm/vmbackend.nim
  doc/manual.rst
  tests/lang/s05_pragmas/s01_interop/t02_emit_c.nim
  tests/lang_callable/overload/tstatic_with_converter.nim
Labels: refactor, compiler/backend, language-design
